---
permalink: /about
layout: default
relative_css_url: /assets/css/about.css
title: IT Staffing Firm, Remote Development Teams | Active Bridge
description: We are a contract development agency specializing in providing
              on-demand full-stack engineers to help our clients and augment
              their in-house teams.
---

<div class="container about" id="container">
  <div class="info-container wrap">
    <div class="row">
      <h1 class="header-3 white-text">{{ site.data.about.about }}</h1>
      <h1 class="about__header">{{ site.data.about.header }}</h1>
      <div class="about__description">{{ site.data.about.description }}</div>
      <div class="about_us_info">
        <div class="about_us_info__items">
          <div class="about_us_info__container">
            {% for item in site.data.index.about_us_items %}
              <div class="about_us_info__item white-text">
                <img src="/assets/images/index/{{ item.logo }}" alt="Logo">
                {{ item.text }}
              </div>
            {% endfor %}
          </div>
          <div class="about_us_info__photo desktop-only">
            <img src="/assets/images/about/about-bg-2.webp" alt="About us">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about__vision wrap">
    <div class="row">
      <div class="about__vision-description about__description">
        {{ site.data.about.information.first }}
      </div>
      <div class="about__vision-description about__description">
        {{ site.data.about.information.second }}
      </div>
      <h2 class="header-3">{{ site.data.about.company_vision.titlet }}</h2>
      <h2 class="header-2">{{ site.data.about.company_vision.subtitle }}</h2>
      <div class="about__vision-description about__description about__description-cera">
        {{ site.data.about.company_vision.description }}
      </div>
      <div class="chart-container">
        {% include expertise_chart.html %}
        <a class="button" href="/expertise" id="about-chart-container-button">{{ site.data.about.company_vision.button }}</a>
      </div>
    </div>
  </div>

  <div class="about__crew wrap">
    <div class="row">
      <div class="about__description">{{ site.data.about.crew.description }}</div>
      <div class="header-3 white-text">{{ site.data.about.crew.title }}</div>
      {% include crew.html %}
      <a class="button about__crew-button" id="about__crew-button" href="/about/team">
        {{ site.data.about.crew.button }}
      </a>
    </div>
  </div>

  <div class="about__benefits wrap">
    <div class="overlay"></div>
    <div class="row">
      <div class="header-3">{{ site.data.about.benefits.title }}</div>
      <h2 class="header-2">{{ site.data.about.benefits.subtitle }}</h2>
      <div class="about__vision-description about__description about__description-cera">
        {{ site.data.about.benefits.description }}
      </div>
      <div class="accordion">
        {% for benefit in site.data.about.benefits.all %}
          <details class="accordion__item">
            <summary>{{ benefit.title }}</summary>
            <p>{{ benefit.description }}</p>
          </details>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="about__key-facts wrap">
    <div class="row">
      <div class="header-3 white-text">{{ site.data.about.key_facts.title }}</div>
      <h2 class="header-2 white-text">{{ site.data.about.key_facts.subtitle }}</h2>
      <ul class="about__key-facts-list">
        {% for fact in site.data.about.key_facts.all %}
          <li class="about__key-facts-item">
            <div class="about__key-facts-item-img">
              <img src="/assets/images/{{ fact.image }}" alt="Img">
            </div>
            <div class="about__key-facts-item-text white-text">
              <div class="about__key-facts-item-title">{{ fact.title }}</div>
              <div class="about__key-facts-item-description">{{ fact.description }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="about__testimonials wrap">
    <div class="row">
      <div class="header-5 about__testimonials-title">
        {{ site.data.testimonials.help_startups }}
      </div>
      <div class="description">
        {{ site.data.testimonials.testimonials_description }}
      </div>
      <div class="carousel">
        <input type="radio" name="about-testimonials" id="item-1-2" checked>
        <input type="radio" name="about-testimonials" id="item-2-2">
        <input type="radio" name="about-testimonials" id="item-3-2">
        <input type="radio" name="about-testimonials" id="item-4-2">
        <input type="radio" name="about-testimonials" id="item-5-2">
        <input type="radio" name="about-testimonials" id="item-6-2">
        <input type="radio" name="about-testimonials" id="item-7-2">
        <div class="carousel__list testimonials-carousel">
          {% for item in site.data.testimonials.all %}
            <label class="carousel__item" for="item-{{ item.index }}-2" id="card-{{ item.index }}-2">
              <div class="carousel__image">
                <img src="{{ item.image }}" alt="Logo">
              </div>
              <div class="carousel__logo {{ item.class }}">
                <img src="/assets/images/index/{{ item.logo }}" alt="Logo">
              </div>
              <div class="carousel__description">
                {{ item.description }}
              </div>
            </label>
          {% endfor %}
        </div>
      </div>
      <a id="about-read-testimonials" class="button", target="_blank" href="/reviews">
        {{ site.data.testimonials.button }}
      </a>
    </div>
  </div>

  <div class="about__culture wrap">
    <div class="row">
      <div class="about__culture-text">
        <div class="about__culture-title"> {{ site.data.about.culture.title }} </div>
        <div class="about__culture-description">
          {{ site.data.about.culture.description }}
        </div>
      </div>
      <a id="about-culture-button" class="button about__culture-button", target="_blank" href="/contacts">
        {{ site.data.about.culture.button }}
      </a>
    </div>
  </div>
</div>
