---
permalink: /about
layout: default
relative_css_url: /assets/css/about.css
title: IT Staffing Firm, Remote Development Teams | Active Bridge
date-modified: "2024-04-01"
description: We are a contract development agency specializing in providing
             on-demand full-stack engineers to help our clients and augment
             their in-house teams.
scripts: [carousel, details]
json-ld: about
---

<div class="about">
  <div class="info-container">
    <div class="wrap">
      <div class="wrapper" style="view-transition-name: about;">
        <p class="page-title white-text">{{ site.data.about.about }}</p>
        <h1 class="block-inria-title white-text">{{ site.data.about.header }}</h1>
        <p class="white-text inria-regular message mb-0">{{ site.data.about.description }}</p>
      </div>
    </div>
    <div class="about_us_info">
      <div class="about_us_info__items">
        <div class="about_us_info__container">
          <div class="about_us_info__container-items">
            {% for item in site.data.index.about_us_items %}
              <div class="about_us_info__item white-text">
                <div class="about_us_info__item-image">
                  <p>{{ item.logo }}</p>
                </div>
                <p>{{ item.text }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="about_us_info__photo desktop-only">
          <img src="/assets/images/about/about-bg-2.webp" alt="About us">
        </div>
      </div>
    </div>
  </div>

  <div class="about__vision wrap">
    <div class="wrapper">
      <p class="description text-justify mb-4 inria-regular"> {{ site.data.about.information.first }}</p>
      <p class="description text-justify mb-4 inria-regular">{{ site.data.about.information.second }}</p>
      <h2 class="block-cera-title">{{ site.data.about.company_vision.title }}</h2>
      <p class="message inria-bold">{{ site.data.about.company_vision.subtitle }}</p>
      <p class="description text-justify">{{ site.data.about.company_vision.description }}</p>
      <div class="chart-container">
        {% include expertise_chart.html %}
        <a class="button" href="/expertise" id="about-chart-container-button" data-link="transition">{{ site.data.about.company_vision.button }}</a>
      </div>
    </div>
  </div>

  <div class="about__crew wrap">
    <div class="wrapper">
      <p class="description white-text text-justify inria-regular mb-4">{{ site.data.about.crew.description }}</p>
      <p class="block-cera-title white-text mb-0">{{ site.data.about.crew.title }}</p>
      {% include crew.html %}
      <a class="button about__crew-button" id="about__crew-button" href="/about/team" data-link="transition">
        {{ site.data.about.crew.button }}
      </a>
    </div>
  </div>

  <div class="about__benefits wrap">
    <div class="overlay"></div>
    <div class="wrapper">
      <p class="block-cera-title">{{ site.data.about.benefits.title }}</p>
      <h2 class="message inria-bold">{{ site.data.about.benefits.subtitle }}</h2>
      <p class="description text-justify mb-4">{{ site.data.about.benefits.description }}</p>
      <div class="accordion">
        {% for benefit in site.data.about.benefits.all %}
        <div class="accordion__item">
          <details class="accordion__item-title">
            <summary><span>{{ benefit.title }}</span></summary>
          </details>
          <div class="accordion__item-content">
            <p>{{ benefit.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="about__key-facts wrap">
    <div class="wrapper">
      <p class="block-cera-title white-text">{{ site.data.about.key_facts.title }}</p>
      <h2 class="message white-text inria-bold">{{ site.data.about.key_facts.subtitle }}</h2>
      <ul class="about__key-facts-list">
        {% for fact in site.data.about.key_facts.all %}
          <li class="about__key-facts-item">
            <div class="about__key-facts-item-img">
              {% include svgs/about_us/{{ fact.image }}.html %}
            </div>
            <div class="about__key-facts-item-text white-text">
              <p class="about__key-facts-item-title">{{ fact.title }}</p>
              <p class="about__key-facts-item-description">{{ fact.description }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="about__testimonials">
    <div class="wrapper">
      <p class="block-inria-title">{{ site.data.testimonials.help_startups }}</p>
      <p class="description">{{ site.data.testimonials.testimonials_description }}</p>
    </div>
    {% include testimonials_carousel.html %}
    <div class="wrapper">
      <a id="about-read-testimonials" class="button" href="/reviews" data-link="transition">
        {{ site.data.testimonials.button }}
      </a>
    </div>
  </div>

  <div class="about__culture wrap">
    <div class="wrapper">
      <div class="about__culture-text">
        <p class="block-cera-title"> {{ site.data.about.culture.title }}</p>
        <p class="description text-justify inria-bold">{{ site.data.about.culture.description }}</p>
      </div>
      <a id="about-culture-button" class="button about__culture-button" href="/contacts" data-link="transition">
        {{ site.data.about.culture.button }}
      </a>
    </div>
  </div>
</div>
