---
permalink: /about
layout: default
relative_css_url: /assets/css/about.css
title: IT Staffing Firm, Remote Development Teams | Active Bridge
date-modified: "2024-04-01"
description: We are a contract development agency specializing in providing
             on-demand full-stack engineers to help our clients and augment
             their in-house teams.
scripts: [carousel, details]
json-ld: about
type: about
---

<div class="container about" id="container">
  <div class="about__main wrap">
    <div class="wrapper" style="view-transition-name: about;">
      <p class="header-3 white-text">{{ site.data.about.about }}</p>
      <h1 class="header-2 about__header white-text">{{ site.data.about.header }}</h1>
      <p class="about__description white-text">{{ site.data.about.description }}</p>
    </div>
    <div class="about_us_info mobile-only">
      {% include about_us_info.html %}
    </div>
    <div class="about_us_info desktop-only">
      {% include about_us_info.html %}
    </div>
  </div>

  <div class="about__vision wrap">
    <div class="wrapper">
      <div class="about__vision-description about__description">
        {{ site.data.about.information.first }}
      </div>
      <div class="about__vision-description about__description">
        {{ site.data.about.information.second }}
      </div>
      <h2 class="header-3">{{ site.data.about.company_vision.title }}</h2>
      <h2 class="header-2">{{ site.data.about.company_vision.subtitle }}</h2>
      <div class="about__vision-description about__description about__description-cera">
        {{ site.data.about.company_vision.description }}
      </div>
      <div class="chart-container">
        {% include expertise_chart.html %}
        <a class="button" href="/expertise" id="about-chart-container-button" data-link="transition">{{ site.data.about.company_vision.button }}</a>
      </div>
    </div>
  </div>

  <div class="about__crew wrap">
    <div class="wrapper">
      <div class="about__description white-text">{{ site.data.about.crew.description }}</div>
      <div class="header-3 white-text">{{ site.data.about.crew.title }}</div>
      {% include crew.html %}
      <a class="button about__crew-button" id="about__crew-button" href="/about/team" data-link="transition">
        {{ site.data.about.crew.button }}
      </a>
    </div>
  </div>

  <div class="about__benefits wrap">
    <div class="overlay"></div>
    <div class="wrapper">
      <div class="header-3">{{ site.data.about.benefits.title }}</div>
      <h2 class="header-2">{{ site.data.about.benefits.subtitle }}</h2>
      <div class="accordion">
        {% for benefit in site.data.about.benefits.all %}
        <div class="accordion__item">
          <details class="accordion__item-title">
            <summary><span>{{ benefit.title }}</span></summary>
          </details>
          <div class="accordion__item-content">
            <p>{{ benefit.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="about__key-facts wrap">
    <div class="wrapper">
      <div class="header-3 white-text">{{ site.data.about.key_facts.title }}</div>
      <h2 class="header-2 white-text">{{ site.data.about.key_facts.subtitle }}</h2>
      <ul class="about__key-facts-list">
        {% for fact in site.data.about.key_facts.all %}
          <li class="about__key-facts-item">
            <div class="about__key-facts-item-img">
              {% include svgs/about_us/{{ fact.image }}.html %}
            </div>
            <div class="about__key-facts-item-text white-text">
              <div class="about__key-facts-item-title">{{ fact.title }}</div>
              <div class="about__key-facts-item-description">{{ fact.description }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="about__testimonials wrap">
    <div class="wrapper">
      <div class="header-2">
        {{ site.data.testimonials.help_startups }}
      </div>
      <div class="description">
        {{ site.data.testimonials.testimonials_description }}
      </div>
    </div>
    {% include testimonials_carousel.html %}
    <div class="wrapper">
      <a id="about-read-testimonials" class="button" href="/reviews" data-link="transition">
        {{ site.data.testimonials.button }}
      </a>
    </div>
  </div>

  <div class="about__culture wrap">
    <div class="wrapper">
      <div class="about__culture-text">
        <div class="header-3"> {{ site.data.about.culture.title }} </div>
        <div class="header-2">
          {{ site.data.about.culture.description }}
        </div>
      </div>
      <a id="about-culture-button" class="button about__culture-button" href="/contacts" data-link="transition">
        {{ site.data.about.culture.button }}
      </a>
    </div>
  </div>
</div>
