---
permalink: /contacts.html
layout: default
title: Contact us to Get Free Project Consultation | Active Bridge
description: Got an amazing project idea? Contact us and get a tech consultation
             from an experienced full-stack solution specialist
scripts: [contacts-form]
json-ld: contacts
---

<div class="contacts">
  <div class="wrapper">
    <div style="view-transition-name: contacts;">
      <p class="header-3">{{ site.data.contacts.title }}</p>
      <h1 class="header-2">{{ site.data.contacts.sub_title }}</h1>
      <p class="description contacts__description">
        {{ site.data.contacts.description }}
      </p>
    </div>

    <form class="contacts__form" id="contacts-form">
      <div class="contacts__form-group contacts__form-select">
        <label class="contacts__form-label" for="subject">Contact Reason*</label>
        <select class="contacts__field contacts__field--select" name="subject" id="subject" required="true">
          {% for option in site.data.contacts.select.options %}
            <option value="{{option.description}}">{{option.description}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="contacts__form-group">
        <label class="contacts__form-label" for="name"> Your Name*</label>
        <input class="contacts__field" type="name" name="name" id="name" placeholder="Alex Howard" required="true">
      </div>

      <div class="contacts__form-group">
        <label class="contacts__form-label contacts__form-label" for="body">Provide the project details and your expectations in case of cooperating with our team</label>
        <textarea class="contacts__field" id="body" name="body" placeholder="Type here"></textarea>
      </div>

      <button class="button contacts__submit-btn" type="submit" id="send" type="submit">Send</button>
      <a class="contacts__field contacts__to-faq" href="/faq" data-link="transition">{{site.data.contacts.link_to_faq}}</a>
      <div class="contacts__after-send after-send">
        <h3 class="header-2">{{site.data.contacts.form.description.title}}</h3>
        <ul class="after-send__list">
          {% for line in site.data.contacts.form.description.lines %}
            <li class="description"> {{ line.description }}</li>
          {% endfor %}
        </ul>
      </div>
    </form>
  </div>
</div>
