---
permalink: /expertise/
layout: default
title: RoR App Development & Cloud Software Expertise | Active Bridge
date-modified: "2024-04-01"
description: Enhancing Ruby on Rails with cutting edge technologies, for 10+ years
             we've been providing web development solutions that help businesses
             succeed.
scripts: [carousel]
json-ld: expertise
redirect_from:
  - /how-we-work
  - /expertise.html
---

<div class="expertise">
  <div class="alabaster expertise__main py-9">
    <div class="wrapper" style="view-transition-name: expertise;">
      <p class="page-title">{{ site.data.expertise.main.title }}</p>
      <h1 class="block-inria-title">{{ site.data.expertise.main.first_title }}</h1>
      <h2 class="message inria-regular">{{ site.data.expertise.main.subtitle }}</h2>
      <p class="description">{{ site.data.expertise.main.description_1 }}</p>
      <div class="chart-container">{% include expertise_chart.html %}</div>
      <p class="description">{{ site.data.expertise.main.description_2 }}</p>
    </div>
  </div>

  <div class="expertise__technologies py-9">
    <div class="wrapper">
      <h2 class="message inria-bold">{{ site.data.expertise.technologies.subtitle }}</h2>
      <p class="block-sub-title mb-0">{{ site.data.expertise.technologies.title }}</p>
      <img class="desktop-only" src="/assets/images/web_development_services/technologies_d_table.svg" alt="Technologies">
      <img class="mobile-only" src="/assets/images/web_development_services/technologies_m_table.svg" alt="Technologies">
      <p class="description">{{ site.data.expertise.technologies.description }}</p>
    </div>
  </div>

  <div class="alabaster expertise__industries py-9">
    <div class="wrapper">
      <p class="block-cera-title">{{ site.data.expertise.industries.projects }}</p>
      <p class="message inria-bold">{{ site.data.expertise.industries.subtitle }}</p>
      <p class="block-sub-title">{{ site.data.expertise.industries.title }}</p>
    </div>
    <div class="carousel-scroll" >
      <div class="carousel-scroll__scroller" data-scroll="scroller">
        {% for element in site.data.expertise.industries.all %}
          <div class="carousel-scroll__animate-visibility animate-visibility with-opacity" data-scroll="item">
            <h2 class="animate-visibility__title">{{ element.title }}</h2>
            <div class="animate-visibility__image">
              <img src="/assets/images/{{ element.icon }}" alt="Logo">
            </div>
            <p class="text-center italic">{{ site.data.expertise.industries.devs_work_on }}</p>
            <div class="animate-visibility__description">
              <ul class="animate-visibility__list">
                {% for item in element.items %}
                  <li class="animate-visibility__list-item">{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="magnifying-overlay"></div>
    </div>
  </div>

  <div class="expertise__solutions info-container py-4">
    <div class="wrapper">
      <p class="message inria-bold white-text">{{ site.data.expertise.solutions.title }}</p>
      <a href="/solutions" id="expertise-all-solutions" class="button white-text" data-link="transition">
        {{ site.data.expertise.solutions.button }}
      </a>
    </div>
  </div>

  <div class="expertise__testimonials py-9">
    <div class="wrapper">
      <p class="message inria-bold">{{ site.data.expertise.testimonials.title }}</p>
    </div>
    {% include testimonials_carousel.html %}
    <a id="about-read-testimonials" class="button" href="/reviews" data-link="transition">
      {{ site.data.testimonials.button }}
    </a>
  </div>

  <div class="expertise__tell-us py-9">
    <div class="wrapper">
      <p class="block-cera-title white-text">{{ site.data.expertise.tell-us.title }}</p>
      <a id="expertise-tell-us" class="button white-text" href="/contacts" data-link="transition">
        {{ site.data.expertise.tell-us.button }}
      </a>
    </div>
  </div>
</div>
