---
permalink: /faq.html
layout: default
title: FAQ
description: Frequently Asked Questions
---

<div class="faq">
  <section class="faq__main-content">
    <div class="wrapper">
      <h2 class="title-2">{{site.data.faq.title}}</h2>
      <p class="faq__description">{{site.data.faq.description}}</p>
      <div class="faq__table">
        {% for detail in site.data.faq.details %}
          <details class="">
            <summary class="faq__summary">{{ detail.question }}</summary>
            <div class="faq__detail-description">
              {% if detail.answer_list  %}
                {% for answer in detail.answer_list %}
                  <ul class="">
                    <li class="base-content">{{answer.item}}</li>
                  </ul>
                {% endfor %}
              {% else %}
                <p class="base-content">{{ detail.answer }}</p>
              {% endif %}
            </div>
          </details>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="faq__botton-info">
    <div class="wrapper">
      <img class="faq__gift" src="/assets/images/faq/gift-dynamic-premium-1.webp" alt="gift">
      <a class="cto-button" href="/contacts">{{site.data.faq.button}}</a>
    </div>
  </section>
</div>
