---
permalink: /faq
layout: default
title: FAQ | Active Bridge
date-modified: "2024-04-01"
description: Check our FAQ, if you can't find the right one, feel free to contact our experts
scripts: [details]
json-ld: faq
---

<div class="faq">
  <section class="faq__main-content py-9">
    <div class="wrapper dark-text-inversion">
      <p class="page-title">{{site.data.faq.title}}</p>
      <h1 class="message inria-regular mb-6">{{site.data.faq.description}}</h1>
      <div class="faq__table" style="view-transition-name: faq;">
        {% for detail in site.data.faq.details %}
          <details class="">
            <summary class="faq__summary">{{ detail.question }}</summary>
          </details>
          <div class="faq__detail-description {{ detail.size }}">
            {% if detail.answer_list  %}
              {% for answer in detail.answer_list %}
                <ul class="">
                  <li class="description">{{answer.item}}</li>
                </ul>
              {% endfor %}
            {% else %}
              <p class="description">{{ detail.answer }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% include faq_bottom.html %}
</div>
