---
permalink: /faq.html
layout: default
title: FAQ | Active Bridge
description: Check our FAQ, if you can't find the right one, feel free to contact us
scripts: [details]
---

<div class="faq">
  <section class="faq__main-content">
    <div class="wrapper">
      <h2 class="title-2">{{site.data.faq.title}}</h2>
      <p class="faq__description title-3">{{site.data.faq.description}}</p>
      <div class="faq__table" style="view-transition-name: faq;">
        {% for detail in site.data.faq.details %}
          <details class="">
            <summary class="faq__summary">{{ detail.question }}</summary>
          </details>
          <div class="faq__detail-description">
            {% if detail.answer_list  %}
              {% for answer in detail.answer_list %}
                <ul class="">
                  <li class="base-content">{{answer.item}}</li>
                </ul>
              {% endfor %}
            {% else %}
              <p class="base-content">{{ detail.answer }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% include faq_bottom.html %}
</div>
