---
permalink: /privacy_policy
layout: default
title: Privacy Policy Agreement | Active Bridge
date-modified: "2024-04-01"
description: At Active Bridge, we protect your personal info and treat it as we
             would our own. Read our online privacy policy and learn what we do
             to protect your information.
json-ld: privacy_policy
---

<div class="privacy-policy">
  <section class="privacy-policy__top-container py-9">
    <div class="wrapper">
      <img src="/assets/images/privacy_policy/sheild.webp" alt="Sheild" class="absolute-icon">
      <h1 class="page-title">{{ site.data.privacy_policy.title }}</h1>
      <p class="description mb-4">{{ site.data.privacy_policy.description }}</p>
      <section class="info-about-you">
        <h2 class="message inria-bold white-text">{{ site.data.privacy_policy.info_about_you.title }}</h2>
        <div class="list-with-images">
          {% for item in site.data.privacy_policy.info_about_you.blocks %}
            <div class="list-with-images__item">
              <div class="list-with-images__item-icon">
                <img src= "/assets/images/privacy_policy/{{ item.icon }}" alt="image">
              </div>
              <div class="list-with-images__item-text">
                <h3 class="message inria-bold mb-0 mt-1">{{ item.title }}</h3>
                <p class="description white-text">{{ item.description }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
      <img src="/assets/images/privacy_policy/lock.webp" alt="Lock" class="absolute-icon">
    </div>
  </section>
  <section class="privacy-policy__personal-info py-9">
    <div class="wrapper personal-info">
      <h2 class="message inria-bold">{{ site.data.privacy_policy.personal_info.title }}</h2>
      <ul class="web_dev_services__full_stack-list">
        {% for line in site.data.privacy_policy.personal_info.lines %}
          <li class="web_dev_services__full_stack-list-item"> {{ line.description }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="privacy-policy__vendor-info py-9">
    <div class="wrapper vendor-info">
      <h2 class="message inria-bold">{{ site.data.privacy_policy.vendor_info.title }}</h2>
      <p class="description mb-4"> {{ site.data.privacy_policy.vendor_info.description }}</p>
      {% for block in site.data.privacy_policy.vendor_info.blocks %}
        <h3 class="description cera-bold">{{ block.title }}</h3>
        <ul class="web_dev_services__full_stack-list">
          {% for line in block.lines %}
            <li class="description web_dev_services__full_stack-list-item">{{ line.description }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
  <section class="privacy-policy__security py-9">
    <div class="wrapper security">
      <div class="security__top-block">
        <img src="/assets/images/privacy_policy/locker.webp" alt="locker">
      </div>
      {% for block in site.data.privacy_policy.security.blocks %}
      {% if block.title  %} <h3 class="message inria-bold">{{ block.title }}</h3> {% endif %}
        <p class="description security__description mb-4 text-left">{{ block.description }}</p>
      {% endfor %}
    </div>
  </section>
</div>
