---
permalink: /reviews
layout: default
title: Check out What Clients Say About Active Bridge's Solutions
date-modified: "2024-04-01"
description: Our clients stay with us, they value our professionalism,
             high-quality code, competitive rates, and efficient workflow.
             In fact, we’re still working with our first client from 2013.
scripts: [details, carousel]
json-ld: reviews
---

<section class="container reviews" id="container">
  <div class="reviews__main-container" >
    <div class="wrapper">
      <div style="view-transition-name: reviews;">
        <h1 class="header-3 white-text">{{ site.data.testimonials.title }}</h1>
        <h2 class="header-2 white-text">{{ site.data.testimonials.subtitle }}</h2>
      </div>
      <div class="reviews__awards">
        {% for award in site.data.reviews.awards%}
          <a href="{{ award.link }}" target="_blank">
            <img class="" src="/assets/images/index/{{ award.image }}.webp" alt="{{ award.alt }}">
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="reviews__testimonials-container">
    <div class="wrapper">
      <div class="overlay"></div>
      <div class="accordion">
        {% for item in site.data.testimonials.all %}
        <div class="accordion__item">
          <details class="accordion__item-title">
            <summary>{{ item.company }}<span>{{ item.specialization }}</span></summary>
          </details>
          <div class="accordion__item-content">
            <div class="accordion__item-customer">
              <div class="accordion__item-photo"> <img src="{{ item.image }}" alt="photo"></div>
              <div class="accordion__item-customer-name">
                <p>{{ item.author }}</p>
                <p>{{ item.post }}</p>
              </div>
            </div>
            <p class="accordion__item-text">{{ item.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="reviews__solutions wrap">
    <div class="wrapper">
      <h2 class="header-5 white-text">{{ site.data.testimonials.solutions.description }}</h2>
    </div>
    <div class="carousel-scroll" >
      <div id="page-carousel" class="carousel-scroll__scroller">
        <div class="frame"></div>
        <div class="frame"></div>
        {% for item in site.data.testimonials.solutions.all %}
          <div class="carousel-scroll__item" data-scroll="item">
            <div class="carousel-scroll__animate-visibility animate-visibility with-opacity">
              <h2 class="animate-visibility__title">{{ item.title }}</h2>
              <div class="animate-visibility__image">
                {% include svgs/solutions/{{ item.image }}.html %}
              </div>
              <div class="animate-visibility__description text-justify"><p>{{ item.description }}</p></div>
            </div>
          </div>
        {% endfor %}
        <div class="frame"></div>
        <div class="frame"></div>
      </div>
      <div class="magnifying-overlay"></div>
    </div>
    <div class="wrapper">
      <a class="button white-text violet-button" href="/solutions" data-link="transition">{{ site.data.testimonials.solutions.button }}</a>
    </div>
  </div>
  <div class="reviews__expertise wrap development__cards">
    <div class="wrapper">
      <div class="header-3">{{ site.data.team.expertise.title }}</div>
      <div class="header-2">{{ site.data.team.expertise.description }}</div>
      {% include dev_expertise_cards.html %}
    </div>
  </div>
  <div class="reviews__tell-us">
    <div class="wrapper">
      <p class="header-5">{{ site.data.testimonials.tell-us.title }}</p>
      <p class="description">{{ site.data.testimonials.tell-us.description }}</p>
      <a href="/contacts" class="button white-text violet-button" data-link="transition">{{ site.data.testimonials.tell-us.button }}</a>
    </div>
  </div>
</section>
