---
permalink: /reviews
layout: default
title: Check out What Clients Say About Active Bridge's Solutions
date-modified: "2024-04-01"
description: Our clients stay with us, they value our professionalism,
             high-quality code, competitive rates, and efficient workflow.
             In fact, we’re still working with our first client from 2013.
scripts: [details, carousel]
json-ld: reviews
---

<section class="reviews">
  <div class="reviews__main-container py-9">
    <div class="wrapper">
      <div style="view-transition-name: reviews;">
        <h1 class="page-title white-text">{{ site.data.testimonials.title }}</h1>
        <p class="message inria-regular white-text">{{ site.data.testimonials.subtitle }}</p>
      </div>
      <div class="reviews__awards">
        {% for award in site.data.reviews.awards%}
          <a href="{{ award.link }}" target="_blank">
            <img class="" src="/assets/images/index/{{ award.image }}.webp" alt="{{ award.alt }}">
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="reviews__testimonials-container py-9">
    <div class="wrapper">
      <div class="overlay"></div>
      <div class="accordion">
        {% for item in site.data.testimonials.all %}
        <div class="accordion__item">
          <details class="accordion__item-title">
            <summary>{{ item.company }}<span>{{ item.specialization }}</span></summary>
          </details>
          <div class="accordion__item-content">
            <div class="accordion__item-customer">
              <div class="accordion__item-photo">
                <img src="/assets/images/carousel/{{ item.image }}" alt="photo">
              </div>
              <div class="accordion__item-customer-name">
                <p>{{ item.author }}</p>
                <p>{{ item.post }}</p>
              </div>
            </div>
            <p class="accordion__item-text">{{ item.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="reviews__solutions py-9">
    <div class="wrapper">
      <h2 class="message inria-bold white-text">{{ site.data.testimonials.solutions.description }}</h2>
    </div>
    <div class="carousel-scroll" >
      <div class="carousel-scroll__scroller" data-scroll="scroller">
        <div class="frame"></div>
        <div class="frame"></div>
        {% for item in site.data.testimonials.solutions.all %}
          <div class="carousel-scroll__item" data-scroll="item">
            <div class="carousel-scroll__animate-visibility animate-visibility with-opacity">
              <h2 class="animate-visibility__title">{{ item.title }}</h2>
              <div class="animate-visibility__image">
                {% include svgs/solutions/{{ item.image }}.html %}
              </div>
              <div class="animate-visibility__description"><p>{{ item.description }}</p></div>
            </div>
          </div>
        {% endfor %}
        <div class="frame"></div>
        <div class="frame"></div>
      </div>
      <div class="magnifying-overlay"></div>
    </div>
    <div class="wrapper">
      <a class="button white-text violet-button" href="/solutions" data-link="transition">{{ site.data.testimonials.solutions.button }}</a>
    </div>
  </div>
  <div class="reviews__expertise development__cards py-9 dark-background-dark-content">
    <div class="wrapper dark-text-inversion">
      <h2 class="block-cera-title">{{ site.data.team.expertise.title }}</h2>
      <p class="message inria-regular">{{ site.data.team.expertise.description }}</p>
      {% include dev_expertise_cards.html %}
    </div>
  </div>
  <div class="reviews__tell-us py-9">
    <div class="wrapper">
      <h2 class="message inria-bold">{{ site.data.testimonials.tell-us.title }}</h2>
      <p class="description text-justify">{{ site.data.testimonials.tell-us.description }}</p>
      <a href="/contacts" class="button white-text violet-button" data-link="transition">{{ site.data.testimonials.tell-us.button }}</a>
    </div>
  </div>
</section>
