---
permalink: /services
layout: default
title: Take benefit of Rapid Application Development Services | Active Bridge
description: At Active Bridge, we follow RAD best practices to provide clients
             with fast and reliable digital solutions keeping pace with
             technology updates.
---

<div class="container services">
  <div class="info-container services__main wrap">
    <div class="row">
      <div class="header-3 white-text">{{ site.data.services.services }}</div>
      <h1 class="header-5 white-text">{{ site.data.services.pick_right_stack }}</h1>
      <div class="services__description-wrap">
        <div class="description white-text">{{ site.data.services.learn_and_grow }}</div>
        <img src="/assets/images/services/flower.webp" alt="Flower">
      </div>
    </div>
  </div>

  <div class="alabaster services__web-dev wrap">
    <div class="overlay"></div>
    <div class="row flex-columns-center">
      <h2 class="header-3">{{ site.data.services.web_services.title }}</h2>
      <div class="description">{{ site.data.services.web_services.description }}</div>
      <div class="carousel">
        <input type="radio" name="service" id="solution-1-2" checked>
        <input type="radio" name="service" id="solution-2-2">
        <input type="radio" name="service" id="solution-3-2">
        <div class="carousel__list services">
          {% for service in site.data.services.web_services.all %}
            <label class="carousel__item" for="solution-{{ service.index }}-2" id="card-{{ service.index }}-solution-2">
              <div class="carousel__title services__title">{{ service.title }}</div>
              <div class="carousel__logo services__logo">
                <img src="/assets/images/services/web_dev/{{ service.icon }}" alt="Icon">
              </div>
              <div class="carousel__description solutions__description">
                {{ service.description }}
              </div>
            </label>
          {% endfor %}
        </div>
      </div>
      <a id="more-web-services" class="button white-text violet-button", target="_blank" href="/services/web-development">
        {{ site.data.services.learn_more }}
      </a>
    </div>
  </div>

  <div class="services__custom-ror-dev wrap">
    <div class="row flex-columns-center">
      <h2 class="header-3 white-text">
        {{ site.data.services.custom_ror_dev_services.title }}
      </h2>
      <div class="description">
        {{ site.data.services.custom_ror_dev_services.description }}
      </div>
      <div class="carousel">
        <input type="radio" name="ror-dev" id="solution-1-3" checked>
        <input type="radio" name="ror-dev" id="solution-2-3">
        <input type="radio" name="ror-dev" id="solution-3-3">
        <div class="carousel__list services">
          {% for element in site.data.services.custom_ror_dev_services.all %}
            <label class="carousel__item" for="solution-{{ element.index }}-3" id="card-{{ element.index }}-solution-3">
              <div class="carousel__title services__title">{{ element.title }}</div>
              <div class="carousel__logo services__logo">
                <img src="/assets/images/services/custom_ror_dev/{{ element.icon }}" alt="Icon">
              </div>
              <div class="carousel__description solutions__description">
                {{ element.description }}
              </div>
            </label>
          {% endfor %}
        </div>
      </div>
      <a id="more-ror-services" class="button white-text violet-button", target="_blank" href="/services/ruby-on-rails-development">
        {{ site.data.services.learn_more }}
      </a>
    </div>
  </div>

  <div class="services__mobile-dev wrap">
    <div class="row">
      <h2 class="header-3">{{ site.data.services.mobile_dev_services.title }}</h2>
      <div class="description">{{ site.data.services.mobile_dev_services.description }}</div>
      <div class="cards-container">
        {% for item in site.data.services.mobile_dev_services.all %}
          <div class="card">
            <div class="card__title-2 purple-heart">{{ item.title }}</div>
            <div class="card__icon">
              <img src="/assets/images/services/mobile_dev_services/{{ item.icon }}" alt="Icon">
            </div>
            <div class="card__description">{{ item.description }}</div>
          </div>
        {% endfor %}
      </div>
      <a id="more-dev-services" class="button white-text violet-button", target="_blank" href="/services/mobile-app-development">
        {{ site.data.services.learn_more }}
      </a>
    </div>
  </div>

  <div class="info-container services__engagement-models wrap">
    <div class="row">
      <div class="header-3 white-text">{{ site.data.services.engagement_models.title }}</div>
      <div class="description white-text inria">
        {{ site.data.services.engagement_models.description }}
      </div>
      <div class="cards-container">
        {% for item in site.data.services.engagement_models.all %}
          <div class="card">
            <div class="card-content">
              <div class="card__title-2 white-text">{{ item.title }}</div>
              <div class="card__description white-text">{{ item.description }}</div>
            </div>
            <a id="engagement_model_{{ item.index }}" class="button white-text violet-button", target="_blank" href="#">
              {{ site.data.services.learn_more }}
            </a>
          </div>
        {% endfor %}
      </div>
      <img src="/assets/images/services/laptop-backpack.webp" alt="Laptop" class="services__engagement-models-img">
    </div>
  </div>

  <div class="alabaster services__approaches wrap">
    <div class="row">
      <div class="header-2">{{ site.data.services.approaches.subtitle }}</div>
      <div class="header-3">{{ site.data.services.approaches.title }}</div>
      <div class="timeline">
        {% for item in site.data.services.approaches.all %}
          <div class="timeline-item">
            <div class="timeline-item__icon">
              <img src="/assets/images/services/approach/approach_{{ item.index }}.webp" alt="Approach">
            </div>
            <div class="timeline-item__content">
              <div class="timeline-item__content-title inria">
                {{ item.title}}
              </div>
              <div class="timeline-item__content-description">
                {{ item.description}}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <a id="services-free-consultation" class="button", target="_blank" href="/contacts">
        {{ site.data.services.approaches.button }}
      </a>
    </div>
  </div>
</div>
