---
permalink: /solutions/
layout: default
title: Succeed with our RoR Development Solutions | Active Bridge
description: Fueled by a deep understanding of the business context, our tech
             experts produce reliable, scalable, highly efficient web app and
             cloud solutions. Check our cases
date-modified: "2024-04-01"
scripts: [animation, carousel]
json-ld: solutions
redirect_from:
  - /portfolio
  - solutions.html
---

<div class="solutions">
  <section class="solutions__main py-9">
    <div class="wrapper">
      <div style="view-transition-name: solutions;">
        <p class="page-title">{{ site.data.solutions.page-title }}</p>
        <h1 class="block-inria-title">{{ site.data.solutions.title }}</h1>
        <p class="message inria-regular">{{ site.data.solutions.subtitle }}</p>
        <p class="description mb-4">{{ site.data.solutions.description }}</p>
      </div>
      <div class="solutions__about-us about_us_info">
        <div class="about_us_info__items">
          <div class="about_us_info__container">
            <div class="about_us_info__container-items">
              {% for item in site.data.solutions.main.all %}
                <div class="about_us_info__item">
                  <div class="about_us_info__item-image">
                    <p>{{ item.logo }}</p>
                  </div>
                  <p>{{ item.text }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
        <div class="solutions__awards desktop-only">
          {% for award in site.data.solutions.awards %}
            <a href="{{ award.link }}" target="_blank">
              <img class="" src="/assets/images/index/{{ award.image }}.webp" alt="{{ award.alt }}">
            </a>
          {% endfor %}
        </div>
        <div class="solutions__awards mobile-only">
          {% for award in site.data.solutions.mobile_awards %}
            <a href="{{ award.link }}" target="_blank">
              <img class="" src="/assets/images/index/{{ award.image }}.webp" alt="{{ award.alt }}">
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <div class="solutions__text py-4">
    <div class="wrapper">
      <p class="message inria-bold mb-0 white-text">{{site.data.solutions.text}}</p>
    </div>
  </div>
  <section class="solutions__industries pt-9">
    <div class="wrapper">
      <h2 class="block-cera-title">{{site.data.solutions.industries.title}}</h2>
    </div>
    <div class="carousel-scroll" >
      <div class="carousel-scroll__scroller" data-scroll="scroller">
        {% for item in site.data.solutions.industries.all %}
          <div class="carousel-scroll__animate-visibility animate-visibility with-opacity" data-scroll="item">
            <h2 class="animate-visibility__title">{{ item.title }}</h2>
            <div class="animate-visibility__image">
              {% include svgs/solutions/{{ item.icon }}.html %}
            </div>
            <div class="animate-visibility__description"><p>{{ item.description }}</p></div>
          </div>
        {% endfor %}
      </div>
      <div class="magnifying-overlay"></div>
    </div>
    <div class="solutions__circle-background">
      <div class="wrapper">
        <p class="message inria-bold">{{site.data.solutions.industries.subtitle_1}}</p>
        <p class="description mb-4">{{site.data.solutions.industries.description}}</p>
      </div>
      {% include solutions_subpages_carousel.html %}
      <div class="wrapper ">
        <p class="message inria-bold">{{site.data.solutions.industries.subtitle_2}}</p>
        <h2 class="block-cera-title">{{site.data.solutions.project_development.title}}</h2>
        <p class="message inria-bold">{{site.data.solutions.project_development.description}}</p>
      </div>
    </div>
    <div class="solutions__project-development">
      <div class="wrapper timeline animated-cards" data-animation="snake">
        <svg class="desktop-svg" viewBox="0 0 888 1397" fill="none" preserveAspectRatio="none">
          <path class="svg-path" d="M3.00001 0V123V209.5C3.50001 218.833 9.80001 237.5 31 237.5C52.2 237.5 584.833 237.5 848.5 237.5C861.167 236.667 886.5 243.1 886.5 275.5C886.5 307.9 886.5 566 886.5 691C883.833 700 874.7 718 859.5 718C844.3 718 303.167 718 34.5 718C25.5 717.333 6.70001 722.6 3.50001 749C0.300009 775.4 2.16668 1040.67 3.50001 1170C5.50001 1179.17 13.8 1197.5 31 1197.5C48.2 1197.5 587.5 1197.5 855 1197.5C865.5 1199.5 886.5 1208.6 886.5 1229V1314.5V1397" stroke="#A49FEB" stroke-width="3"/>
        </svg>
        {% for item in site.data.solutions.project_development.approaches %}
        <div class="timeline-item">
          <div class="timeline-item__icon">
            <img src="/assets/images/solutions/{{item.image}}.webp" alt="Approach">
          </div>
          <div class="timeline-item__content">
            <h3 class="timeline-item__content-title inria">{{ item.title}}</h3>
            <p class="timeline-item__content-description">{{ item.description}}</p>
          </div>
          <div class="timeline__processes">
            {% for process in item.processes%}
              <div class="timeline__processes-item">
                {{process.item}}
                <div class="arrow">→</div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="solutions__staff-augmentation pb-9">
      <div class="wrapper">
        <h2 class="block-cera-title">{{ site.data.solutions.staff_augmentation.title }}</h2>
        <p class="message inria-bold">{{ site.data.solutions.staff_augmentation.description }}</p>
      </div>
      <div class="wrapper timeline animated-cards" data-animation="snake">
        <svg class="desktop-svg" viewBox="0 0 889 1299" fill="none" preserveAspectRatio="none">
          <path class="svg-path" d="M5.5 345V278.5M5.5 278.5L4 415.5C4.33333 424.167 17.6 440.1 38 440.5C58.4 440.9 594.5 440.667 860 440.5C871.5 441 887 450.1 887 476.5C887 502.9 887 766.833 887 895.5C886.5 904 880.4 921.3 860 922.5C839.6 923.7 301.167 923 34.5 922.5C24.6667 922.167 4.8 927.8 4 953C3.2 978.2 2.66667 1017.83 2.5 1034.5L5.5 1150V1255.5L2.5 1298.5M5.5 278.5V161.5L2.5 53V0"  stroke="#CD9FEB" stroke-width="3"/>
        </svg>
        {% for item in site.data.solutions.staff_augmentation.approaches %}
          <div class="timeline-item">
            <div class="timeline-item__icon">
              <img src="/assets/images/solutions/{{ item.image }}.webp" alt="Approach">
            </div>
            <div class="timeline-item__content">
              <div class="timeline-item__content-title inria">{{ item.title}}</div>
              <div class="timeline-item__content-description">{{ item.description}}</div>
            </div>
            <div class="timeline__processes">
              {% for process in item.processes%}
                <div class="timeline__processes-item">
                  {{process.item}}
                  <div class="arrow">→</div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <a class="button" href="/services" data-link="transition">{{ site.data.solutions.staff_augmentation.more_button }}</a>
    </div>
    <div class="solutions__build-test-product py-9">
      <div class="wrapper">
        <h2 class="block-cera-title white-text">{{ site.data.solutions.build-test-product.title }}</h2>
        <p class="message inria-regular white-text">{{ site.data.solutions.build-test-product.description }}</p>
      </div>
      <div class="carousel-scroll" >
        <div class="carousel-scroll__scroller" data-scroll="scroller">
          {% for item in site.data.team_extension.services.all %}
            <div class="carousel-scroll__animate-visibility animate-visibility with-opacity" data-scroll="item">
              <h2 class="animate-visibility__title">{{ item.title }}</h2>
              <div class="animate-visibility__image">
                <img src="/assets/images/team_extension/{{ item.icon }}" alt="Service">
              </div>
              <div class="animate-visibility__description"><p>{{ item.description }}</p></div>
            </div>
          {% endfor %}
        </div>
        <div class="magnifying-overlay"></div>
      </div>
      <div class="wrapper">
        <a class="button white-text violet-button" href="/contacts" data-link="transition">{{ site.data.solutions.build-test-product.button }}</a>
      </div>
    </div>
  </section>
</div>
