<div class="about_us_info__items">
  <div class="about_us_info__container">
    <div class="about_us_info__container-items">
      {% for item in site.data.index.about_us_items %}
      <div class="about_us_info__item white-text">
        <div class="about_us_info__item-image">
          <p>{{ item.logo }}</p>
        </div>
        <p>{{ item.text }}</p>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="about_us_info__photo desktop-only">
    <img src="/assets/images/index/about_us_photo.webp" alt="About us">
  </div>
</div>
