<style>
  @font-face {
    font-family: 'FixelText-Regular';
    src: url(/assets/fonts/FixelText-Regular.woff2);
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'FixelText-Bold';
    src: url(/assets/fonts/FixelText-Bold.woff2);
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: 'FixelText-Medium';
    src: url(/assets/fonts/FixelText-Medium.woff2);
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inria Bold';
    src: url(/assets/fonts/InriaSerif-Bold.woff2);
    font-weight: bold;
    font-display: swap;
  }

  @font-face {
    font-family: 'Inria Regular';
    src: url(/assets/fonts/InriaSerif-Regular.woff2);
    font-display: swap;
  }

  .wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 990px;
    text-align: center;
    padding: 0 30px;
  }

  .top-section {
    animation: fill 1s ease-out;
    left: -10%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 6vh;
    width: 100%;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    view-transition-name: header;
    min-height: 60px;
  }
  #menu-btn { display: none; }

  .header-navbar {
    align-items: center;
    margin-bottom: 0;
    display: inline-flex;
    list-style: none;
  }
  .header-navbar__item { position: relative; }

  .header-navbar__subitems {
    position: absolute;
    list-style: none;
    visibility: hidden;
  }

  .header-navbar__link {
    margin: 0 1.5vw;
    color: #333;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
  }
  .navbar-bulb, .navbar-more-bulb {  display: none; }
  .index-logo { width: 210px; }

  .mb-0 { margin-bottom: 0 !important; }
  .mb-2 { margin-bottom: 20px; }
  .mb-4 { margin-bottom: 40px; }
  .mb-6 { margin-bottom: 60px; }
  .mt-1 { margin-top: 10px; }
  .mb-1 { margin-bottom: 10px; }
  .mt-2 { margin-top: 20px; }
  .vertical-p-8 { padding: 80px 0; }
  .pt-6 { padding-top: 60px; }
  .pt-9 { padding-top: 90px; }
  .pb-9 { padding-bottom: 90px; }
  .py-4 { padding: 40px 0; }
  .py-9 { padding: 90px 0; }
  .cera-regular { font-family: "FixelText-Regular", serif; }
  .cera-bold { font-family: "FixelText-Bold", serif; }
  .cera-medium { font-family: 'FixelText-Medium'; }
  .inria-bold { font-family: "Inria Bold", serif; }
  .inria-regular { font-family: "Inria Regular", serif; }
  .text-upcase { text-transform: uppercase; }
  .text-left { text-align: left !important; }
  .text-right { text-align: right !important; }
  body, h1, h2, h3, h4, h5, h6,
  p, blockquote, pre, hr,
  dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }
  li, ul, ol { margin-bottom: 0; }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'FixelText-Regular', serif;
    font-weight: 400;
    font-size: 16px;
  }
  .top-section { width: 0; }

  .page-title {
    position: inherit;
    margin-bottom: 50px;
    font-size: 45px;
    z-index: 1;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    text-align: center;
  }

  .block-cera-title {
    font-family:  "FixelText-Regular", serif;
    font-size: 30px;
    letter-spacing: 0.4em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .block-inria-title {
    font-family: "Inria Bold", serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .block-sub-title {
    font-family: "FixelText-Regular", serif;
    font-size: 22px;
    letter-spacing: 0.4em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .message {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 40px;
  }

  .description {
    text-align: left;
    font-size: 18px;
    line-height: 1.8em;
  }

  .body-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .body-content__main-section { padding-top: 60px; }
  @media (max-width: 930px) { .main-svg { display: none;} }
  @media (max-width: 767px){ .desktop-only { display: none!important; } }
  @media (min-width: 768px){ .mobile-only { display: none!important; } }

  @media (max-width: 767px) {
    .body-content__main-section { padding-top: 0;}

    .body-content {
      display: flex;
      flex-direction: row;
      height: 100vh;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
    }

    .body-content__main-section {
      overflow-y: auto;
      overflow-x: auto;
      width: 100%;
      flex: 0 0 auto;
      position: relative;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      scrollbar-width: none;
    }

    .body-content__navigation {
      position: relative;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }

    .body-content__navigation-links {
      position: sticky;
      box-sizing: border-box;
      background: linear-gradient(#aa30be, #5723B5);
      top: 0;
      height: 100%;
      width: 70vw;
      padding: 5vw 0 0 10vw;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      z-index: 3;
    }

    .description {
      font-size: 14px;
      color: black;
    }

    .page-title {
      font-size: 25px;
      margin-bottom: 30px;
    }

    .block-inria-title,.block-fixel-title {
      font-size: 18px;
      line-height: 23px;
    }
    .block-fixel-title,.block-fixel-title,.message { margin-bottom: 25px; }

    .message, .block-sub-title{
      font-size: 15px;
      line-height: 25px;
    }
  }

  .carousel-scroll{
    margin: 0 auto;
    max-width: 950px;
    position: relative;
  }

  .carousel-scroll__scroller {
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    height: 550px;
  }

  .carousel-scroll__item {
    padding: 0;
    margin: 0;
    min-height: 100px;
    height: 350px;
  }

  .carousel-scroll__animate-visibility {
    background: #fff;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: -2px -2px 12px 2px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 15px;
    padding: 18px;
    position: relative;
    overflow: hidden;
    width: 277px;
  }

  .footer__navigation-social-icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
  }

  .about__key-facts-item-img svg {
    width: 16vh;
    max-width: none;
  }

  .contacts__form-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 25px auto;
    max-width: 600px;
  }

  .contacts__field {
    border: none;
    border-radius: 30px;
    background: rgba(193, 201, 214, .01);
    box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, .15), inset 0px 4px 15px 0px rgba(0, 0, 0, .15);
    color: #2e2b33;
    font-family: "FixelText-Regular", serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    height: 60px;
    line-height: 150%;
    outline: none;
    padding: 0 30px;
    text-align: justify;
    width: 540px;
  }

  .after-send__list {
    margin: 0 auto 35px auto;
    max-width: 750px;
    padding-left: 60px;
  }

  .chart-container {
    width: calc(100% - 12vw);
    margin: 6vh 0;
    padding: 6vh 6vw;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .2), inset -2px -2px 12px 0px rgba(0, 0, 0, .25);
  }

  .about_us_info__container {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }

  .faq__table {
    border: 1px solid #2e2b33;
    border-bottom: none;
  }
</style>
