<div class="cards-container">
  {% for item in site.data.team.expertise.items %}
    <div class="card">
      <div class="card__title-2">{{ item.title }}</div>
      <div class="card__icon">
        <img src="/assets/images/team/{{ item.icon }}" alt="Icon">
      </div>
      <div class="card__description">{{ item.description }}</div>
    </div>
  {% endfor %}
</div>
<a href="/services" class="button" id="team_expertise_button" data-link="transition">
  {{ site.data.team.expertise.button }}
</a>
