<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ page.title }}",
    "description": "{{ page.description }}",
    "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
    "dateModified": "{{ page.date-modified | date: '%Y-%m-%d' }}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author }}",
      "url": "{{ page.author-url }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Active Bridge",
      "url": "https://activebridge.org",
      "logo": {
        "@type": "ImageObject",
        "url": "https://imgur.com/SUEWchJ",
        "width": 250,
        "height": 50
      }
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ page.url | prepend: site.baseurl | prepend: site.url }}"
    },
    "image": {
      "@type": "ImageObject",
      "url": "{{site.url}}/assets/images/blog/posts/{{page.category}}/{{page.background}}.webp",
      "width": 1200,
      "height": 630
    }
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://activebridge.org/"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Blog",
        "item": "https://activebridge.org/blog"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "{{ page.title }}",
        "item": "{{ page.url | prepend: site.baseurl | prepend: site.url }}"
      }
    ]
  }
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Active Bridge",
    "url": "https://activebridge.org",
    "logo": "https://imgur.com/SUEWchJ",
    "contactPoint": {
      "@type": "ContactPoint",
      "contactType": "customer service",
      "telephone": "+18888053503",
      "email": "contact@activebridge.org",
      "availableLanguage": ["English", "Ukrainian"]
    },
    "sameAs": [
      "https://www.linkedin.com/company/active-bridge/",
      "https://github.com/activebridge",
      "https://www.facebook.com/ActiveBridgeTeam",
      "https://twitter.com/activebridge"
    ]
  }
</script>
