<div class="carousel-scroll" >
  <div class="carousel-scroll__scroller" data-scroll="scroller" onscroll='loop(event)'>
    {% for item in site.data.solutions.industries.applications %}
      <div class="carousel-scroll__animate-visibility animate-visibility with-opacity" data-scroll="item">
        <h2 class="animate-visibility__title">{{ item.title }}</h2>
        <div class="animate-visibility__description"><p>{{ item.description }}</p></div>
        <div class="animate-visibility__button">
          <a class="button" href="{{ item.link }}">{{site.data.solutions.industries.more_button}}</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="magnifying-overlay"></div>
</div>
