<section class="solutions_cases__idea">
  <div class="wrapper row">
    <div class="solutions_cases__idea_img">
      <img src="/assets/images/hipaa/chat.webp" alt="chat">
    </div>
    <div class="solutions_cases__idea_text">
      <a class="button white-text" href="/contacts" data-link="transition">{{ site.data.healthcare_hipaa.idea.button }}</a>
      <p class="white-text">{{ site.data.healthcare_hipaa.idea.text_1 }}</p>
      <p class="white-text">{{ site.data.healthcare_hipaa.idea.text_2 }}</p>
    </div>
  </div>
</section>
