<div id="page-carousel" class="carousel-scroll__scroller" onscroll='loop(event)'>
  {% for item in site.data.testimonials.all %}
  <div class="carousel-scroll__animate-visibility animate-visibility testimonials">
    <h2 class="animate-visibility__title">{{ item.title }}</h2>
    <div class="animate-visibility__image">
      <img src="{{ item.image }}" alt="Logo">
    </div>
    <div class="animate-visibility__image without-margin">
      {% include svgs/testimonials/{{ item.logo }} %}
    </div>
    <div class="animate-visibility__description"><p>{{ item.description}}</p></div>
  </div>
  {% endfor %}
</div>

<section class='carousel'>
  <ul onscroll='if (Math.round(this.scrollLeft / (this.scrollWidth - this.offsetWidth) * 100) >= 100) this.scrollTo({left: 0, behavior: "instant"})'>
    {% for item in site.data.testimonials.all %}
    <li>
    </li>
    {% endfor %}
  </ul>
  {% for item in site.data.testimonials.all %}
  <div>
    <h2 class="animate-visibility__title">{{ item.title }}</h2>
    <img src="{{ item.image }}" alt="{{ item.author }}">
    <br>
    {% include svgs/testimonials/{{ item.logo }} %}
    <p>{{ item.description}}</p>
  </div>
  {% endfor %}
</section>
