.solutions_cases {
  .button { padding: 2vh 3vw; }

  .list-with-images.horizontal {
    .list-with-images__item { align-items: center; }
  }

  .list-with-images {
    &__item {
      &-icon img { border-radius: 30px; }

      &-icon.big-img img {
        max-width: 250px;
        border-radius: 35px
      }

      &_elements {
        padding-left: 1vw;
        text-align: left;
      }

      &_element {
        font-size: 18px;
        font-style: italic;
        line-height: 150%;
      }
    }
  }
  .description.text-center { margin-top: 5vh; }

  &__case_study {
    background-image: linear-gradient($palianytsia, transparent);

    ul {
      list-style: none;
      padding-left: 0;
      text-align: left;
    }

    &_top {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 60px;
    }

    &_list_item {
      margin: 2vh 0;
      font-size: 18px;
    }

    &_image img {
      max-width: 200px;
      width: 100%;
      mix-blend-mode: luminosity;
    }
  }

  &__idea {
    align-items: center;
    background-image: linear-gradient(135deg, $purple-heart, $sky-ua);
    display: flex;
    justify-content: space-between;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &_img {
      width: 35%;

      img {
        max-width: 300px;
        mix-blend-mode: luminosity;
        width: 100%;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: left;
      width: 60%;
    }

    p {
      font-size: 1.25em;
      line-height: 1.5;
      margin: 0;
      text-align: left;
    }

    .button {
      margin-bottom: 5vh;
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 767px) {
  .solutions_cases {
    .button { width: 90%;}

    &__case_study {
      background-image: linear-gradient(transparent, $palianytsia);

      &_list {
        order: 2;
        margin: 0;

        &_item { font-size: 0.8em; }
      }

      &_image {
        order: 1;

        img { max-width: 140px; }
      }

      &_top {
        flex-direction: column;
        padding: 0;
      }
    }

    &__idea {
      flex-wrap: wrap;

      &_img {
        width: 100%;

        img { max-width: 200px; }
      }

      &_text { width: 100%; }

      .button { margin: 0 auto 3vh;}

      p {
        font-size: .8em;
        max-width: 550px;
        margin: auto;
      }
    }

    .list-with-images {
      margin: 0;

      &__item{
        &-icon.big-img img { max-width: 120px; }
        &_elements { padding-left: 2vw; }

        &_element {
          font-size: .8em;
          line-height: 1.5;
        }
      }
    }
  }
}
