.solutions_cases {
  .list-with-images.horizontal {
    .list-with-images__item { align-items: center; }
  }

  .header-3 { margin-bottom: 50px; }

  .list-with-images {
    &__item {
      .description {
        line-height: 1.5;

        &.without-margin { margin-top: 0; }
      }

      &-icon img { border-radius: 30px; }

      &-icon.big-img img {
        max-width: 250px;
        margin-right: 50px;
        border-radius: 35px
      }

      &_elements {
        margin-top: 0;
        padding-left: 15px;
        text-align: left;
      }

      &_element {
        margin-bottom: 0;
        font-size: 18px;
        font-style: italic;
        line-height: 1.5;
      }
    }
  }

  .header-3.small-text {
    margin-top: 75px;
    font-family: "Cera-Bold";
    font-size: 22px;
    font-weight: 900;
    letter-spacing: normal;
  }

  .description.text-center {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  &__case_study {
    background-image: linear-gradient($palianytsia, transparent);

    ul {
      list-style: none;
      padding-left: 0;
      text-align: left;
    }

    &_top {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 60px;
    }

    &_list_item {
      font-size: 18px;
      line-height: 2;
    }

    &_image img {
      max-width: 235px;
      width: 100%;
      mix-blend-mode: luminosity;
    }

    &_bottom_list {
      li {
        margin-top: 60px;

        &:first-child { margin-top: 40px; }
      }

      .header-2.with-margin { margin-bottom: 30px; }
    }
  }

  &__idea {
    padding-top: 15px;
    padding-bottom: 35px;
    align-items: center;
    background-image: linear-gradient(135deg, $purple-heart, $sky-ua);
    display: flex;
    justify-content: space-between;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &_img {
      width: 35%;

      img {
        max-width: 300px;
        mix-blend-mode: luminosity;
        width: 100%;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      justify-content: left;
      width: 60%;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      margin: 0;
      text-align: left;
    }

    .button {
      margin-bottom: 20px;
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 767px) {
  .solutions_cases {
    .header-3 { margin-bottom: 30px; }

    .header-3.small-text {
      font-size: 14px;
      margin-top: 35px;
    }

    .description.text-center {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: justify;
    }

    &__case_study {
      background-image: linear-gradient(transparent, $palianytsia);

      &_list {
        order: 2;
        margin: 0;

        &_item { font-size: 12px; }
      }

      &_image {
        order: 1;

        img { max-width: 100px; }
      }

      &_top {
        flex-direction: column;
        padding: 0;
      }

      &_bottom_list {
        li { margin-top: 40px; }

        .header-2.with-margin {
          margin-bottom: 20px;
          text-align: center;
        }
      }
    }

    &__idea {
      flex-wrap: wrap;
      padding-bottom: 40px;

      &_img {
        width: 100%;

        img { max-width: 200px; }
      }

      &_text { width: 100%; }

      .button {
        margin: 0 auto 20px;
        width: 300px;
      }

      p {
        font-size: 12px;
        max-width: 550px;
        margin: auto;
      }
    }

    .list-with-images {
      margin: 0;

      &__item {
        .description.without-margin { margin-top: 20px; }

        &-icon.big-img img {
          max-width: 120px;
          margin-right: 0;
          border-radius: 20px;
        }

        &_element { font-size: 12px; }
      }
    }
  }
}
