::view-transition-old(*),
::view-transition-new(*) {
  mix-blend-mode: normal;
}

::view-transition-group(*) {
  animation-duration: .5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 1;
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(-150px);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(root) {
  animation:
    210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
}

.posts__post {
  $name: var(--name);
  view-transition-name: $name;
}

.post-content {
  $name: var(--name);
  view-transition-name: $name;
}

@keyframes appearFromTop {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

::view-transition-new(post-navigation-block) {
  animation: appearFromTop 0.3s;
}

::view-transition-new(post-rigth-block) {
  animation: appearFromRight 0.3s;
}


@media (max-width: 480px) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
