.about {
  &__vision { background-image: linear-gradient(to top, var(--carousel-bg), var(--white)); }

  &__crew {
    background: center/cover no-repeat url("/assets/images/about/crew.webp");
    background-color: $gray;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(8px);
      background-color: rgba(0, 0, 0, .5);
    }

    .wrapper {
      position: relative;
      z-index: 1;
    }

    .crew__item {
      background-color: var(--crew-card-rgba);
      box-shadow: $main-shadow;
    }

    &-button {
      background-color: var(--white-purple) !important;

      &:hover { color: $main-violet; }
    }

    .description.white-text,
    .block-cera-title.white-text { color: $white !important; }
  }

  &__benefits {
    position: relative;
    background: left 100% / 100% 60% no-repeat url("/assets/images/about/benefits.svg");

    .overlay {
      position: absolute;
      width: 100%;
      height: 60%;
      right: 0;
      top: 40%;
      background: var(--transparent-gradient-dark);
      backdrop-filter: blur(1.5px);
    }

    .accordion {
      &__item {
        &-top {
          letter-spacing: normal;
          text-transform: inherit;
        }
        &-text {
          padding: 7vh 7vh 5vh;
          line-height: 1.7;
        }
      }

      label {
        font-family: 'Inria', serif;

        &::before,
        &::after { top: 0; }
      }
    }
  }

  &__key-facts {
    background: $main-gradient;

    &-list {
      margin: 0;
      list-style-type: none;
    }

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 5vh;

      &-img {
        margin-right: 2vw;

        svg {
          width: 16vh;
          max-width: none;
        }
      }

      &-text { text-align: left; }

      &-title {
        margin-bottom: 3vh;
        font-size: 1.2em;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        span { font-weight: bold;}
      }

      &-description { line-height: 1.6; }
    }
  }

  &__testimonials {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: center/cover no-repeat url('/assets/images/about/about-bg.webp');
      filter: var(--filter-invert);
    }

    .wrapper {
      position: sticky;

      .block-inria-title,
      .description { color: var(--body-color); }
    }
  }

  &__culture {
    min-height: 100vh;
    background: center/cover no-repeat url('/assets/images/about/team.webp');

    .wrapper {
      position: relative;
      min-height: 100vh;
    }
    &-text {
      line-height: 1.6;

      .block-cera-title { color: var(--white-black); }
    }

    &-button {
      position: absolute;
      bottom: 0;
      left: 50%;
      min-width: 500px;
      background-color: var(--transparent-white-btn) !important;
      transform: translate(-50%, -50%);

      &:hover { color: $main-violet; }
    }
  }

  #about-read-testimonials {
    background-color: var(--transparent-dark-btn);
    color: $black !important;

    &:hover { color: $main-violet !important; }
  }
}

.about_us_info {
  &__container {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }

  &__container-items { margin-right: 10%; }

  &__item {
    font-family: 'FixelText-Bold';
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
    font-size: 1.1em;
  }

  &__item-image {
    align-items: center;
    background-color: var(--white);
    border: 6px solid $pie-chart-border;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    height: 100px;
    justify-content: center;
    margin-right: 10px;
    width: 100px;

    p {
      background: linear-gradient(135deg, $main-violet, $purple-heart);
      background-clip: text;
      font-family: 'FixelText-Regular';
      font-size: 40px;
      font-weight: 700;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__photo {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__items { display: flex; }
}

@media (max-width: 767px) {
 .info-container:first-child { background: left 0%/250% 100% no-repeat url('/assets/images/about/about-bg-2.webp'); }

  .about {
    .button { margin-top: 0; }

    &__benefits {
      .overlay {
        top: 57%;
        height: 43%;
      }

      .accordion__item-text {
        padding: 5vh 4vh 4vh;
        font-size: .8em;
      }
    }

    &__key-facts {

      &-list {
        padding-top: 0;
        padding-inline-start: 0;
      }

      &-item {
        flex-wrap: wrap;

        &-img { margin: auto; }

        svg { width: 18vh; }

        &-title {
          margin-bottom: 2vh;
          font-size: 1em;
          line-height: 1.6;
          text-align: center;

          span {
            display: block;
            font-size: 1.5em;
          }
        }

        &-description { font-size: .9em; }
      }
    }
    &__culture-button { min-width: 300px; }
  }

  .about_us_info {
    &__container { width: 100%; }

    &__item { font-size: .9em; }

    &__item-image {
      border: 5px solid $silver;
      height: 60px;
      width: 60px;
      p { font-size: 25px; }
    }
  }
}
