.accordion {
  &__item {
    position: sticky;
    margin-bottom: 3em;
    background-color: $white;
    border-radius: 1em;
    box-shadow: $main-shadow;
    user-select: none;
    z-index: 1;

    &:last-child { margin-bottom: 0; }

    &:nth-child(4n+1) summary { background-color: $sky-ua; }

    &:nth-child(4n+2) summary { background-color: $palianytsia; }

    &:nth-child(4n+3) summary { background-color: $buzok; }

    &:nth-child(4n+4) summary { background-color: $kviten; }

    &-title {
      border-radius: 1em;
      overflow: hidden;

      summary {
        font-family: 'Cera-Medium';
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .75em;
        box-shadow: $main-shadow;
        color: $black;
        list-style-type: none !important;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        &:hover { cursor: pointer; }

        &::before,
        &::after {
          content: '';
          border-color: $white transparent transparent transparent;
          border-style: solid;
          border-width: 15px 7.5px 0 7.5px;
          height: 0px;
          position: absolute;
          transition: transform 0.3s ease;
          transform-origin: center center;
          width: 0px;
        }
        &::before { right: 5%; }
        &::after { left: 5%; }
        span { width: 80%;}
      }

      &[open] summary::before,
      &[open] summary::after {
        transform: rotate(180deg);
      }

      &[open] + .accordion__item-content {
        max-height: 800px;
        transition: max-height .4s ease-in;
      }
    }

    &-content {
      box-sizing: border-box;
      max-height: 0;
      overflow: hidden;
      text-align: justify;
      transition: max-height .4s ease-out;

      p { padding: 1em 1.5em 1.5em; }
    }


    &-customer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 33px;

      &-name {
        p {
          padding: 0 6px;

          &:first-child {
            font-family: 'Inria Bold', serif;
            font-size: 22px;
          }

          &:last-child { font-size: 18px; }
        }
      }
    }

    &-photo {
      img {
        border-radius: 50%;
        height: 85px;
        margin-right: 22px;
        width: 85px;
      }
    }

    &-text { line-height: 29px; }
  }
}

@media (max-width: 600px) {
  .accordion {
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;

    &__item {
      margin-right: 0;
      margin-left: 0;

      &-text {
        font-size: 10px;
        line-height: 15px;
      }

      &-customer-name {
        p:first-child { font-size: 1em; }

        p:last-child { font-size: 0.8em; }
      }
    }
  }
}
