.blog {
  &__main-block {
    background: linear-gradient(180deg, $kviten 0%, $white 30%);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);
  }
}

.blog-main {
  &__header-description.active { view-transition-name: blog-header; }

  &__articles {
    background: no-repeat url('/assets/images/blog/yellow_sticker.webp');
    background-position: top 50% right 0;
    background-size: 30%;
    text-align: left;

    li {
      font-family: 'FixelText-Regular', serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      margin-left: 15px;
    }
  }

  &__navigation {
    align-items: center;
    border-top: 1px solid $kviten;
    border-bottom: 1px solid $kviten;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin-bottom: 70px;

    a {
      border: 1px solid $black;
      border-radius: 20px;
      color: $black;
      font-size: 14px;
      padding: 5px 20px;
      outline: none;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.4s;

      &:hover {
        border: 1px solid $kviten;
        color: $kviten;
      }
    }

    a.active {
      border: 1px solid $kviten;
      color: $kviten;
      position: relative;
    }
    .block-sub-title { font-size: 14px; }
  }
}

.blog-popular {
  background-color: $main-lilac;
  .wrapper { .posts { padding-top: 30px; } }
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  grid-column-gap: 31px;
  row-gap: 31px;

  a {
    color: $black;
    outline: none;
    text-decoration: none;
  }

  &__post.hide { display: none; }

  &__post {
    border: 1px solid $black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 250px;

    &:hover {
      box-shadow: $violet-hover-shadow;
      transition: .4s;
      scale: 1.1;
    }
  }
}

.post {
  &__link-block {
    height: 30%;
    padding-top: 10px;
  }

  &__title {
    font-size: 14px;
    font-family: 'FixelText-Bold';
  }

  &__info-block {
    background: var(--image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inset 0px -105px 36px -43px rgba($dark_black, 0.75);
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: end;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: inset 0px -105px 36px -43px rgba($dark_black, 0.75);
    -moz-box-shadow: inset 0px -105px 36px -43px rgba($dark_black, 0.75);
  }

  &__info-block-description {
    color: $white;
    font-family: 'FixelText-Bold';
    font-size: 12px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    text-align: left;
    z-index: 2;

    &:last-child { padding-bottom: 5px; }
    span { font-family: 'FixelText-Regular'; }
  }

  &__info-block-category {
    bottom: 5%;
    color: $kviten;
    font-style: italic;
    font-size: 12px;
    position: absolute;
    right: 5%;
  }
}

.pagination {
  &__page {
    color: $black;
    font-size: 16px;
    margin: 0 10px;
  }

  &__current-page {
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px;
  }
}

.post-content {
  background: linear-gradient(180deg, $kviten 0%, $white 15%);
  box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.2fr;
  justify-content: center;
  margin: 0;

  &__mobile { display: none; }
  &__main {
    a {
      color: $post-links;
      &:visited { color: $post-links }
    }

    p {
      font-size: 20px;
      line-height: 1.5;
      margin: 20px 0;
    }
    img {margin: 20px 0;}
  }

  .wrapper {
    padding: 100px 30px;
    text-align: left;
  }
  ul { margin: 20px 0; }

  li {
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 0 0 40px;
  }

  h2 {
    color: $black_sea;
    font-family: 'Inria Serif';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 20px 0;
  }

  h3 {
    font-family: 'FixelText-Bold';
    font-size: 22px;
    font-style: normal;
    margin: 20px 0;
  }

  h4 {
    font-family: 'FixelText-Regular';
    font-size: 18px;
    font-style: normal;
  }

  &__right-block {
    border-left: 1px solid $purple-heart;
    position: relative;
    padding: 100px 0;
  }

  &__description {
    border-bottom: 1px solid $purple-heart;
    padding: 0 20px 50px 20px;
  }

  &__navigation {
    border-bottom: 1px solid $purple-heart;
    overflow: hidden;
    padding: 20px 0 50px 0;

    p {
      font-family: Inria Serif;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 20px;
      padding-left: 20px;
    }

    a {
      color: $black;
      display: inline-block;
      font-size: 14px;
      padding: 5px 0 5px 20px;
      width: 95%;
    }

    a.active {
      border-left: 2px solid $purple-heart;
      border-top: 1px solid $purple-heart;
      border-bottom: 1px solid $purple-heart;
      color: $purple-heart;
      font-weight: 600;
    }
  }

  &__sticky-block {
    position: sticky;
    right: 0;
    top: 90px;
  }

  &__share {
    p {
      font-family: Inria Serif;
      font-size: 22px;
      font-style: italic;
      margin-bottom: 10px;
      text-align: center;
    }

    a {
      display: inline-block;
      padding-left: 20px;

      svg {
        filter: invert(17%) sepia(6%) saturate(8%) hue-rotate(9deg) brightness(101%) contrast(84%);
        height: 25px;
        width: 25px;

        &:hover {
          filter: invert(13%) sepia(94%) saturate(5163%) hue-rotate(263deg) brightness(73%) contrast(91%);
        }
      }
    }
  }

  &__share-links {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  &__read-also-block { background: linear-gradient(180deg, $kviten 0%, $ocean_light 50%); }

  pre {
    background-color: $titan_white;
    display: block;
    max-width: 100%;
    overflow-x: scroll;
    padding: 20px 30px;
    white-space: pre-wrap;
    -webkit-overflow-scrolling: touch;
  }
}

.post-description {
  &__title {
    font-family: 'FixelText-Bold';
    font-style: italic;
    font-size: 14px;
    margin-bottom: 5px;

    span {
      font-family: 'FixelText-Regular';
      font-style: normal;
    }
  }

  &__author {
    span {
      &:first-child { text-decoration: underline; }

      &:last-child {
        display: block;
        font-style: italic;
        font-size: 12px;
        margin-bottom: 5px;
        text-decoration: none;
      }
    }
  }
}

.post-breadcrumb {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 14px;
    font-style: italic;

    a {
      color: $black;
      text-decoration: none;
      text-decoration: underline;
    }
  }

  li:not(:last-child)::after {
    display: inline-block;
    margin: 0 .25rem;
    content: ">";
  }

  li:last-child {
    color: $purple-heart;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.post-navigation {
  margin-bottom: 20px;
  padding-top: 65px;

  .blog-main__navigation {
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.prev-next-posts-mob-title {
  display: none;
  letter-spacing: 0.2em;
  font-weight: 700;
  padding-top: 20px;
  text-transform: uppercase;
}

.prev-next-posts {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  margin-bottom: 0;
  justify-content: center;

  &__read-also {
    letter-spacing: 0.2em;
    font-weight: 700;
    padding-top: 20px;
    text-transform: uppercase;

    p {
      font-family: 'FixelText-Bold';
      display: inline-block;
      position: relative;

      &:before, &:after {
        color: black;
        border-right: 2px solid currentcolor;
        border-bottom: 2px solid currentcolor;
        content: '';
        position: absolute;
        height: 5px;
        top: 10px;
        width: 5px;
      }

      &:before{
        left: -50px;
        transform: rotate(135deg)
      }

      &:after{
        right: -50px;
        transform: rotate(-45deg)
      }
    }
  }
}

@media (max-width: 930px) {
  .blog {
    &__main-block {
      background: linear-gradient(180deg, $kviten 0%, $white 75.52%);
      box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);
      padding-top: 117px;
    }
  }

  .blog-main {
    &__articles {
      li { font-size: 0.8em; }
    }

    &__navigation {
      border-bottom: none;
      flex-wrap: wrap;
      justify-content: flex-start;

      a, .block-sub-title {
        font-size: 12px;
        margin: 0 10px 10px 0;
      }
    }
  }

  .post-content {
    display: block;
    &__desktop { display: none;}
    &__mobile { display: block; }
  }

  .post-description {
    border-top: 1px solid $purple-heart;
    border-bottom: 1px solid $purple-heart;
    margin-bottom: 30px;
    padding: 20px;

    &__title:first-child {
      display: inline;
      margin-right: 5px;
    }

    &__author {
      display: inline;
      span:last-child { display: inline; }
    }
  }
}

[data-link="clone"] {
  position: relative;

  &:before {
    content: '';
    display: none;
    position: absolute;
    z-index: 2;
    top: 35px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba($black, .72);
  }

  &:after {
    content: 'Copy to Clipboard';
    display: none;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: -20px;
    width: 114px;
    height: 36px;
    color: $white;
    font-size: 10px;
    line-height: 36px;
    text-align: center;
    background: rgba($black, .72);
    border-radius: 3px;
  }
  &:hover { &:before, &:after { display: block; } }

  &:active, &:focus {
    outline: none;
    &:after { content: 'Copied!'; }
  }
}

@media (max-width: 767px) {
  .blog { &__main-block { padding-top: 60px; }}

  .prev-next-posts {
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    &__read-also { display: none; }
  }
  .prev-next-posts-mob-title { display: inline-block; }

  .post-content {
    .block-cera-title {
      font-size: 24px;
      line-height: 1.6;
    }
    h2 { font-size: 22px }
    h3 { font-size: 20px }
    h4,p { font-size: 18px }
  }
}

@media (max-width: 480px) {
  .blog-main {
    &__articles {
      background: none;
    }
  }

  .post-content {
    .wrapper {
      padding: 50px 30px;
    }

    &__right-block {
      background-color: #eeeeee;
      padding: 40px 0;
    }

    &__share {
      margin: 0 auto;
      max-width: 200px;
    }
  }
}
