.button {
  position: relative;
  max-width: 440px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  margin: 55px auto 0;
  background: transparent;
  border-radius: 56px;
  box-sizing: border-box;
  box-shadow: $main-shadow;
  font-family: 'FixelText-Medium';
  font-size: 16px;
  letter-spacing: 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease;
  z-index: 1;

  &::after {
    content: "";
    border-radius: 56px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: $violet-hover-shadow;
    background: linear-gradient($white, $white) padding-box,
                linear-gradient(to right, $main-violet, $purple-heart) border-box;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: -1;
  }

  &:hover::after { opacity: 1; }

  &:active { box-shadow: $active-shadow; }
}

.violet-button { box-shadow: $violet-shadow;}

.light-purple-button { box-shadow: $light-purple-shadow; }

.button.white-text:hover { color: $main-violet !important; }

.faq__bottom-info {
  .button {
    height: 100px;
    max-width: 500px;
    color: $white;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 10px;
    padding: 22px;
    margin-top: 0;

    &:hover { color: $black_sea; }
  }
}

.button.contacts__submit-btn {
  cursor: pointer;
  font-weight: 400;
}

@media (max-width: 700px) {
  .button {
    margin-top: 4vh;
    max-width: 300px;
    height: 55px;
    font-size: 11px;
  }

  .index-technologies__items .index-technologies__more .button,
  .about__culture-button,
  .faq__bottom-info .button {
    max-width: 300px !important;
  }

  .faq__bottom-info .button {
    height: 55px;
    font-size: 10px;
    letter-spacing: .5em;
  }
}
