.animated-cards {
  position: relative;

  .desktop-svg {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 85%;
  }
}

.solutions__project-development, .staff_augmentation_services__process {
  .desktop-svg {
    bottom: 19%;
    height: 70%;
  }
}

.solutions__staff-augmentation {
  .desktop-svg {
    bottom: 16%;
    height: 80%;
  }
}

.services__approaches {
  .desktop-svg {
    height: 80%;
    top: 5%;
    width: 60%;
  }
}

.mob_dev_services__approaches {
  .desktop-svg{
    height: 90%;
    top: 2%;
  }
}

.project_dev_services__workflow {
  .desktop-svg{
    height: 90%;
    bottom: 8%;
  }
}

@media (max-width: 1000px) {
  .animated-cards{
    .desktop-svg {
      width: 80%;
    }
  }

  .services__approaches {
    .desktop-svg{
      width: 55%;
    }
  }
}

@media (max-width: 767px ) { .desktop-svg { display: none; } }
