.animated-cards {
  position: relative;

  svg {
    bottom: 19%;
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 85%;
  }
}

.solutions-first-animated-cards {
  svg {
    bottom: 19%;
  }
}

.services-animated_cards {
  svg {
    bottom: 13%;
    width: 60%;
  }
}

.solutions-second-animated-cards {
  svg {
    bottom: 13%;
  }
}

@media (max-width: 1000px) {
  .animated-cards{
    svg {
      width: 80%;
    }
  }

  .services-animated_cards {
    svg {
      width: 55%;
    }
  }
}

@media (max-width: 930px) {
  .services-animated_cards {
    svg {
      bottom: 160px;
    }
  }
}

@media (max-width: 830px) {
  .services-animated_cards {
    svg {
      bottom: 15%;
    }
  }
}

@media (max-width: 767px ) { .desktop-svg { display: none; } }
