
.carousel {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 6vh;
  transform-style: preserve-3d;

  input[type=radio] { display: none; }

  &__list {
    position: relative;
    width: 100%;
    height: 60vh;
    max-height: 550px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__item {
    position: absolute;
    width: 35vw;
    max-width: 430px;
    height: 70vh;
    max-height: 530px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: inset -4px -6px 10px grey, 2px 1px 12px 0px grey;
    transition: all .3s ease-in;
  }

  &__image {
    width: 30%;
    margin: 5vh 5vh 3vh;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  &__description {
    margin: 1vh 3vh 5vh;
    display: -webkit-box;
    font-size: .9em;
    line-height: 1.8em;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
  }

  .solutions,
  .services {
    &__title {
      margin: 5vh 5vh 3vh;
      letter-spacing: 0.3em;
      line-height: 1.4em;
      text-transform: uppercase;
    }

    &__logo {
      display: flex;
      justify-content: center;
      width: 13vh;
      height: 13vh;
      margin: 0 auto 3vh;
      border-radius: 6.5vh;
      box-shadow: inset -3px -3px 7px -4px grey, 1px 1px 14px -2px grey;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @for $number from 1 through 10 {
    #item-1-#{$number}:checked ~ .carousel__list #card-7-#{$number},
    #item-2-#{$number}:checked ~ .carousel__list #card-1-#{$number},
    #item-3-#{$number}:checked ~ .carousel__list #card-2-#{$number},
    #item-4-#{$number}:checked ~ .carousel__list #card-3-#{$number},
    #item-5-#{$number}:checked ~ .carousel__list #card-4-#{$number},
    #item-6-#{$number}:checked ~ .carousel__list #card-5-#{$number},
    #item-7-#{$number}:checked ~ .carousel__list #card-6-#{$number},
    #solution-1-#{$number}:checked ~ .carousel__list #card-3-solution-#{$number},
    #solution-2-#{$number}:checked ~ .carousel__list #card-1-solution-#{$number},
    #solution-3-#{$number}:checked ~ .carousel__list #card-2-solution-#{$number} {
      transform: translatex(-40%) scale(.9);
      opacity: .4;
      z-index: 0;
    }

    #item-1-#{$number}:checked ~ .carousel__list #card-2-#{$number},
    #item-2-#{$number}:checked ~ .carousel__list #card-3-#{$number},
    #item-3-#{$number}:checked ~ .carousel__list #card-4-#{$number},
    #item-4-#{$number}:checked ~ .carousel__list #card-5-#{$number},
    #item-5-#{$number}:checked ~ .carousel__list #card-6-#{$number},
    #item-6-#{$number}:checked ~ .carousel__list #card-7-#{$number},
    #item-7-#{$number}:checked ~ .carousel__list #card-1-#{$number},
    #solution-1-#{$number}:checked ~ .carousel__list #card-2-solution-#{$number},
    #solution-2-#{$number}:checked ~ .carousel__list #card-3-solution-#{$number},
    #solution-3-#{$number}:checked ~ .carousel__list #card-1-solution-#{$number} {
      transform: translatex(40%) scale(.9);
      opacity: .4;
      z-index: 0;
    }

    #item-1-#{$number}:checked ~ .carousel__list #card-1-#{$number},
    #item-2-#{$number}:checked ~ .carousel__list #card-2-#{$number},
    #item-3-#{$number}:checked ~ .carousel__list #card-3-#{$number},
    #item-4-#{$number}:checked ~ .carousel__list #card-4-#{$number},
    #item-5-#{$number}:checked ~ .carousel__list #card-5-#{$number},
    #item-6-#{$number}:checked ~ .carousel__list #card-6-#{$number},
    #item-7-#{$number}:checked ~ .carousel__list #card-7-#{$number},
    #solution-1-#{$number}:checked ~ .carousel__list #card-1-solution-#{$number},
    #solution-2-#{$number}:checked ~ .carousel__list #card-2-solution-#{$number},
    #solution-3-#{$number}:checked ~ .carousel__list #card-3-solution-#{$number} {
      transform: translatex(0) scale(1);
      opacity: 1;
      z-index: 1;
    }

    #item-1-#{$number}:checked ~ .carousel__list #card-3-#{$number},
    #item-1-#{$number}:checked ~ .carousel__list #card-4-#{$number},
    #item-1-#{$number}:checked ~ .carousel__list #card-5-#{$number},
    #item-1-#{$number}:checked ~ .carousel__list #card-6-#{$number},
    #item-2-#{$number}:checked ~ .carousel__list #card-6-#{$number},
    #item-2-#{$number}:checked ~ .carousel__list #card-7-#{$number},
    #item-2-#{$number}:checked ~ .carousel__list #card-4-#{$number},
    #item-2-#{$number}:checked ~ .carousel__list #card-5-#{$number},
    #item-3-#{$number}:checked ~ .carousel__list #card-1-#{$number},
    #item-3-#{$number}:checked ~ .carousel__list #card-7-#{$number},
    #item-3-#{$number}:checked ~ .carousel__list #card-5-#{$number},
    #item-3-#{$number}:checked ~ .carousel__list #card-6-#{$number},
    #item-4-#{$number}:checked ~ .carousel__list #card-7-#{$number},
    #item-4-#{$number}:checked ~ .carousel__list #card-1-#{$number},
    #item-4-#{$number}:checked ~ .carousel__list #card-2-#{$number},
    #item-4-#{$number}:checked ~ .carousel__list #card-6-#{$number},
    #item-5-#{$number}:checked ~ .carousel__list #card-2-#{$number},
    #item-5-#{$number}:checked ~ .carousel__list #card-3-#{$number},
    #item-5-#{$number}:checked ~ .carousel__list #card-1-#{$number},
    #item-5-#{$number}:checked ~ .carousel__list #card-7-#{$number},
    #item-6-#{$number}:checked ~ .carousel__list #card-1-#{$number},
    #item-6-#{$number}:checked ~ .carousel__list #card-2-#{$number},
    #item-6-#{$number}:checked ~ .carousel__list #card-3-#{$number},
    #item-6-#{$number}:checked ~ .carousel__list #card-4-#{$number},
    #item-7-#{$number}:checked ~ .carousel__list #card-5-#{$number},
    #item-7-#{$number}:checked ~ .carousel__list #card-4-#{$number},
    #item-7-#{$number}:checked ~ .carousel__list #card-2-#{$number},
    #item-7-#{$number}:checked ~ .carousel__list #card-3-#{$number} {
      display: none;
    }
  }

  .testimonials-carousel {
    .carousel__image { margin: 3vh 3vh 2vh; }

    .carousel__logo {
      img {
        max-width: 80%;
        height: 55px;
      }

      &.smaller_logo img { max-width: 60%; }

      &.bigger_logo img { max-width: 100%; }
    }
  }
}

@media (max-width: 600px) {
  .carousel {
    &__list {
      margin: 0;
      padding: 0;
      height: 50vh;
    }

    &__item {
      width: 60vw;
      height: 42vh;
    }

    @for $number from 1 through 10 {
      #item-1-#{$number}:checked ~ .carousel__list #card-7-#{$number},
      #item-2-#{$number}:checked ~ .carousel__list #card-1-#{$number},
      #item-3-#{$number}:checked ~ .carousel__list #card-2-#{$number},
      #item-4-#{$number}:checked ~ .carousel__list #card-3-#{$number},
      #item-5-#{$number}:checked ~ .carousel__list #card-4-#{$number},
      #item-6-#{$number}:checked ~ .carousel__list #card-5-#{$number},
      #item-7-#{$number}:checked ~ .carousel__list #card-6-#{$number},
      #solution-1-#{$number}:checked ~ .carousel__list #card-3-solution-#{$number},
      #solution-2-#{$number}:checked ~ .carousel__list #card-1-solution-#{$number},
      #solution-3-#{$number}:checked ~ .carousel__list #card-2-solution-#{$number} {
        transform: translatex(-30%) scale(.8);
      }

      #item-1-#{$number}:checked ~ .carousel__list #card-2-#{$number},
      #item-2-#{$number}:checked ~ .carousel__list #card-3-#{$number},
      #item-3-#{$number}:checked ~ .carousel__list #card-4-#{$number},
      #item-4-#{$number}:checked ~ .carousel__list #card-5-#{$number},
      #item-5-#{$number}:checked ~ .carousel__list #card-6-#{$number},
      #item-6-#{$number}:checked ~ .carousel__list #card-7-#{$number},
      #item-7-#{$number}:checked ~ .carousel__list #card-1-#{$number},
      #solution-1-#{$number}:checked ~ .carousel__list #card-2-solution-#{$number},
      #solution-2-#{$number}:checked ~ .carousel__list #card-3-solution-#{$number},
      #solution-3-#{$number}:checked ~ .carousel__list #card-1-solution-#{$number} {
        transform: translatex(30%) scale(.8);
      }
    }

    &__description {
      font-size: 0.7em;
      -webkit-line-clamp: 6;
    }

    .solutions,
    .services {
      &__title { font-size: 1em; }

      &__logo {
        width: 8vh;
        height: 8vh;
      }
    }

    .testimonials-carousel {
      .carousel__logo img { height: 40px; }
    }
  }
}

@media screen and (min-width: 1550px) {
  .carousel {
    &__image { margin: 3vh; }

    &__description { margin-bottom: 3vh; }
  }
}
