.carousel-scroll{
  margin: 20px auto;
  max-width: 950px;
  position: relative;

  &__scroller {
    background-color: inherit;
    display: grid;
    grid-auto-flow: column;
    list-style-type: none;
    height: 550px;
    padding: 0;
    place-items: center;
    overflow: scroll;
    margin: 0 auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar { display: none; }
  }

  &__item {
    view-timeline-name: --item;
    view-timeline-axis: inline;
    padding: 0;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin: 0;
    min-height: 100px;
    height: 350px;
  }

  .magnifying-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 4;
  }

  .carousel-scroll__item.scaling-up {
    z-index: 3;

    .animate-visibility {
      animation: scaleUp 0.4s ease-in-out forwards;
      transform: scale(1.4);
      -webkit-transform: scale(1.4);
    }
  }

  @keyframes scaleUp {
    from {
      opacity: 0.5;
      transform: scale(1);
      -webkit-transform: scale(1)
    }

    to {
      opacity: 1;
      transform: scale(1.4);
      -webkit-transform: scale(1.4);
    }
  }

  &__animate-visibility {
    animation: scalify ease-in-out;
    animation-timeline: --item;
    background: $white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: -2px -2px 12px 2px rgba($dark_black, .25) inset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 15px;
    padding: 18px;
    position: relative;
    overflow: hidden;
    user-select: none;
    width: 277px;
    z-index: 1;
  }

  &__animate-visibility.with-opacity { opacity: 0.5; }

  @keyframes scalify {
    50% {
      opacity: 1;
      scale: 1.4;
      z-index: 3;
    }
  }
}

.animate-visibility {
  overflow-y: hidden;

  &__title {
    font-family: 'Inria Bold', serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: center;
  }

  .italic { font-style: italic; }

  &__description {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 11px;
    line-height: 15px;
    height: 70%;

    p { text-align: justify; }

    &::-webkit-scrollbar { display: none; }
  }

  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    img, svg { width: 90px; }
  }

  &__image.without-margin { margin-bottom: 0; }

  &__list {
    font-size: 12px;
    line-height: 1.4em;
    list-style: inside;
    margin-top: 10px;
    padding-left: 10px;
    text-align: left;

    &::-webkit-scrollbar { display: none; }
  }

  &__button {
    .button {
      max-width: 200px;
      height: 50px;
      margin-bottom: 20px;
      padding: 10px 30px;
      background: $main-gradient;
      color: $white;
      font-size: 11px;
      scale: 0.72;

      &:hover {
        color: $black_sea;
        background: $white;
      }
    }
  }

  .text-center.italic {
    font-size: 11px;
    line-height: 15px;
  }
}

.animate-visibility.testimonials {
  .animate-visibility__description{
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 9;
    }
  }
}

@media (max-width: 767px ) {
  .carousel-scroll {
    &__animate-visibility {
      padding: 15px;
      width: 250px;
    }

    &__item { height: 290px; }
  }

  .animate-visibility {
    &__title { font-size: 12px; }

    &__description {
      font-size: 9px;
      line-height: 14px;
    }

    &__image {
      margin-bottom: 10px;

      img, svg { width: 70px; }
    }

    &__list { font-size: 10px; }
  }

  .animate-visibility.testimonials {
    .animate-visibility__description {
      p { -webkit-line-clamp: 5; }
    }
  }
}

@media (max-width: 480px ) {
  .carousel-scroll {
    padding: 0 5px;

    &__animate-visibility { width: 220px; }
  }
}
