.crew {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px 0 50px;

  &__item {
    padding: 50px;
    margin: 20px 7px;
    max-width: 270px;
    min-width: 220px;
    width: 100%;
    background: rgba($white, .5);
    border-radius: 30px;
    box-shadow: $main-shadow;
    box-sizing: border-box;

    &-photo img {
      width: 150px;
      border-radius: 50%;
      box-shadow: 0 4px 4px 0 rgba($dark_black, .25);
    }

    &-name {
      margin: 25px 0 20px;
      font: 22px 'Inria Bold', serif;
    }

    &-post { font-size: 18px; }
  }
}

@media screen and (max-width: 767px) {
  .crew {
    margin-top: 30px;

    &__item {
      width: 30%;

      &-photo img { width: 100px; }

      &-name {
        margin: 15px 0 10px;
        font-size: 14px;
      }

      &-post { font-size: 12px; }
    }
  }
}
