.crew {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 4.5vh 0 3vh;

  &__item {
    padding: 4vw 1vw;
    margin: 2vh 10px;
    max-width: 270px;
    min-width: 220px;
    width: 30%;
    background-color: var(--crew-card-rgba);
    border-radius: 30px;
    box-shadow: $main-shadow;
    box-sizing: border-box;

    &-photo img {
      width: 8em;
      border-radius: 50%;
    }

    &-name {
      margin: 2vw 0 1vw;
      font: 1.5em 'Inria Bold', serif;
    }

    &-post { font-size: 1.1em; }
  }
}

@media screen and (max-width: 700px) {
  .crew {
    &__item {
      padding: 8vw 5vw;

      &-name { font-size: 1em; }

      &-post { font-size: .9em; }
    }
  }
}
