.development {
  .description {
    text-align: justify;
    font-size: 18px;
  }

  .list-with-images {
    &__item {
      margin-bottom: 3vh;

      &-icon img {
        border-radius: 9px;
        box-shadow: 0px 4px 12px 0px rgba($purple-heart, .5);
      }
    }
  }

  &__awards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;

    img {
      width: 100%;
      max-width: 140px;
    }
  }

  &__cards {
    background: radial-gradient(circle, rgba($buzok, 1) 0%, rgba(var(--rgba-white)) 60%);
    box-shadow: inset -6px 12px 15px -7px $moon_raker;

    .card__title-2  {
      font-size: 1.25em;
      line-height: 1.6;
    }

    .cards-container {
      margin-bottom: 0;

      .card {
        max-width: 353px;
        height: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: var(--card-bg-rgba);
        max-height: max-content;

        &__icon img {
          max-width: 110px;
          width: 100%;
          height: fit-content;
          margin: auto;
        }

        &__description {
          font-size: 16px;
          line-height: 1.4;
          text-align: left;
        }

        .button {
          max-width: 200px;
          height: 50px;
          margin: 0 auto;
          background-color: var(--transparent-dark-btn);
          color: $purple-heart;
          font-size: 13px;

          &:hover { color: $main-violet; }
        }
      }
    }
  }

  &__offer {
    background: $main-gradient;
    box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, .25);
  }
}

@media screen and (max-width: 767px) {
  .development {
    &__awards img {
      padding-bottom: 3vh;
      margin-right: 10px;
      margin-left: 10px;
    }

    &__cards {
      background-image: linear-gradient(to top, $buzok, var(--white));
      .card__title-2 { font-size: 16px; }

      .cards-container {
        .card {
          &:not(:last-child) { margin-bottom: 3vh; }

          &__description {
            margin: 30px 10px 15px;
            font-size: 12px;
          }

          &__icon img { max-width: 90px; }

          .button { font-size: 11px; }
        }
      }
    }

    .list-with-images {
      &__item .description {
        font-size: .8em;
        line-height: 1.5;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .development {
    .description { font-size: .8em }
  }
}
