.footer {
  width: 100%;

  ul { list-style: none; }

  &__navigation {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10vh 10% 5vh 10%;
    background: rgba($azovstal, 0.5);
    box-shadow: 0 0px 30px 2px $dusty-gray;

    &-subitems {
      padding: 0;

      li { margin-bottom: 1.5vh; }
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 10%;
      padding: 0 20px;

      &:last-child { width: 10%; }

      &:before {
        content: '';
        height: 100%;
        width: 1px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $black;
      }

      &:nth-child(1),
      &:nth-child(2) {
        &:before { height: 50%; }
      }

      &:nth-last-child(-n+5) { display: none; }
    }

    &-last-item {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 2% 2%;

      &:after,
      &:before {
        content: '';
        height: 50%;
        width: 1px;
        position: absolute;
        top: 0;
        background-color: $black;
      }

      &:after { right: 0; }

      &:before { left: 0; }
    }

    &-link {
      margin-bottom: 3vh;
      font-size: 1.1em;
      color: $scorpion;
      white-space: nowrap;
      text-decoration: none;

      &.bold {
        color: $black;
        font-family: 'Cera-Medium';
        &:hover { color: var(--footer-hover); }
      }
    }

    &-sub-link {
      color: rgba($black, .8);
      text-decoration: none;

      &:hover { color: var(--footer-hover); }
    }

    &-copyright {
      font-size: 0.9em;
      color: rgba($black, .8);
    }

    &-social-icons {
      display: flex;
      flex-wrap: wrap;
      max-width: 70%;

      a {
        padding-right: 10px;

        img, svg {
          width: 35px;
          margin: 0 6px 10px 0;

          &:hover {
            filter: invert(13%) sepia(94%) saturate(5163%) hue-rotate(263deg) brightness(73%) contrast(91%);
          }
        }
      }
    }
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    padding: 7vh 20% 4vh 20%;
    background: $azovstal;
    filter: var(--filter-invert);

    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 30%;

      &:first-child { justify-content: space-between; }
    }

    &__item {
      color: $black;
      text-decoration: none;
      padding-bottom: 1.5vh;
    }

    &__item.bold,
    &__contacts a {
      padding-bottom: 3vh;
      color: $black;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: 930px) {
  .footer {
    .contact-info {
      padding: 4vh 5% 10vh 5%;
      flex-wrap: wrap;
      background: rgba($azovstal, 0.5);

      &__container {
        &:first-child { width: 100%; }

        &.desktop-only { display: none; }
      }

      &__container:nth-last-child(-n+2) { width: 50%; }

      &__contacts {
        padding-bottom: 3vh;

        .contact-info__item { padding-bottom: 1vh;}
      }

      &__item {
        font-size: 0.75em;

        &.bold { font-family: "Cera-Bold"; }
      }
    }

    &__navigation {
      padding: 3vh 5% 5vh 5%;
      flex-wrap: wrap;
      justify-content: start;
      box-shadow: none;

      &-item.desktop-only,
      &-last-item.desktop-only  { display: none; }



      &-social-icons.mobile-only {
        display: flex !important;
        position: relative;
        width: 100vw;
        max-width: 100%;
        justify-content: space-around;
        padding-top: 3vh;
        order: 6;

        &:before {
          content: '';
          position: absolute;
          bottom: -5vh;
          width: 100vw;
          height: 1px;
          background-color: $azovstal;
        }
      }

      &-link.bold {
        padding-bottom: 2vh;
        font-size: .8em;
      }

      &-copyright.mobile-only,
      &-copyright.desktop-only {
        width: 100%;
        font-size: .7em;
        text-align: center;
      }
    }
  }
}
