.healthcare_hipaa {
  &__main {
    background: linear-gradient(90deg, $sky-ua 0%, rgba($sky-ua, 0.5) 18.75%, $white 91.14%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    .list-with-images__item {
      align-items: center;
      &-icon img { box-shadow: none; }
    }
  }

  &__case_study {
    background: linear-gradient(180deg, $white 25.64%, $palianytsia 100%);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);
  }
  .solutions_cases__case_study_image img { transform: matrix(-1, 0, 0, 1, 0, 0); }

  &__solutions {
    background: linear-gradient(122.21deg, $black_sea 0%, $purple-heart 100%);
    box-shadow: 0px 4px 25px rgba($purple-heart, .25);

    .list-with-images {
      &__item {
        &_elements {
          color: $buzok;
          margin: 2vh 0;
        }
      }
    }

    .button {
      border-color: transparent;
      box-shadow: $light-purple-shadow;
    }
  }
}

@media screen and (max-width: 767px) {
  .healthcare_hipaa {
    &__main {
      background: linear-gradient($sky-ua, rgba($sky-ua, .5), $white);
    }

    .solutions_cases__case_study {
      &_image {
        mix-blend-mode: luminosity;
        transform: scaleX(-1);
      }
    }
  }
}
