.home-page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 7em;
  background: center/cover no-repeat url('/assets/images/index/background.webp');
  background-color: $alabaster;
  line-height: 1.5;
  z-index: 1;
  filter: var(--filter-invert);

  .index-logo { width: 210px; }

  .description {
    margin: 0 auto;
    color: $dark_black;
    position: inherit;
    max-width: 700px;
    width: 100%;
    color: $dark_black;
    z-index: 1;
  }

  .button {
    background: rgba(var(--rgba-white), .4);
    color: $dark_black;

    &:hover { color: var(--black); }
  }
}

.awards-img {
  position: absolute;
  top: 50vh;
  right: 15px;
  width: 7%;
  min-width: 90px;
  max-width: 110px;
  max-height: 60%;
  min-height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);

  a {
    width: 90%;

    &:hover {
      animation: slide-top 0.6s ease;
      animation-iteration-count: 1;
    }
  }
}

.top-section {
  animation: fill 1s ease-out;
  left: -10%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 6vh;
  width: 100%;
  svg { width: 140vw; }
}

@keyframes fill {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.index {
  &-home {
    position: relative;
    z-index: 1;

    .button { box-shadow: $light-purple-shadow; }

    .wrapper {
      color: $white;

      .message, .description { color: currentColor; }
    }
  }

  &-testimonials__header {
    margin-bottom: 5vh;
    padding: 0 2vw;
    font-size: 1.7em;
  }

  &-technologies {
    &__container {
      background: linear-gradient(135deg, var(--white), var(--lilac-sea));
    }

    &__holder {
      background: no-repeat url('/assets/images/index/technologies_photo.webp');
      background-size: contain;
      background-position: left top;
      display: flex;
      width: 100%;
      margin-top: 4vh;
    }

    &__items {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: auto;
      width: 52%;
      overflow: hidden;
      background: linear-gradient(135deg, var(--lavender-purple), var(--white));
      border-top: 1px solid rgba($dark_black, .2);
      border-bottom: 1px solid rgba($dark_black, .2);

      img {
        margin-top: 80px;
        width: 80%;
      }

      .index-technologies__more {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        z-index: 1;
        bottom: 0;
        height: 40%;
        width: 100%;
        padding-bottom: 10%;
        background: linear-gradient(to top, var(--lilac-black) 34%, transparent 100%);

        .button {
          margin: 0 20px;
          width: 100%;
          max-width: 650px;
        }
      }
    }

    &__icon {
      width: 40px;
      height: 40px;
    }
  }
  &-services { background-color: $main-lilac; }

  &-about-us {
    padding: 8vh 0;

    .button { box-shadow: $light-purple-shadow; }
  }

  &-solutions {
    background-color: $light-grey;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: center / cover no-repeat url(/assets/images/index/solutions-photo.webp);
      filter: var(--filter-invert);
    }

    .animate-visibility__title {
      font-family: 'FixelText-Regular';
      text-transform: uppercase;
    }
    .purple-text { display: inline; }
    .button { background: $main-gradient; }
  }
}

.index-solutions__holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;

  .message,
  .description { color: var(--body-color); }

  .index-solutions__items { margin: 7vh auto 0 auto; }

  .index-solutions__button {
    margin-top: 1vh;
    background: $main-gradient;
  }
}

#index-view-services,
#index-more-technologies {
  color: $black !important;

  &:visited { color: $black; }
}

#index-view-services,
#index-more-technologies,
#index-read-testimonials,
#index-more-about-us-desktop {
  background-color: var(--transparent-dark-btn);

  &:hover { color: $main-violet !important; }
}

#index-read-testimonials,
#index-more-about-us-desktop {
  color: var(--white-black) !important;

  &:visited { color: $white; }
}


@media (max-width: 767px) {
  .home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    top: 0;
    .page-title { order: 2; }

    .index-logo {
      width: 8em;
      margin: 1.5em 2.5em;
      order: 1;
    }

    .block-inria-title {
      font-size: 15px;
      order: 3;
    }
    .description { display: none; }

    .awards-img {
      position: static;
      width: inherit;
      max-width: 100%;
      min-height: auto;
      margin-top: 4em;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      order: 4;
      transform: none;
      justify-content: space-around;

      a, .clutch-widget {
        width: 26%;
        margin-top: 1em;
      }

      img {
        max-width: 125px;
        width: 90%;
      }
    }

    .button {
      order: 5;
      background-color: rgba($white, .75);
    }
  }

  .index {
    &-home {
      .button { margin-top: 3em; }
    }

    &-technologies {
      &__holder {
        background-size: cover;
        margin-top: 2vh;
      }

      &__items {
        width: 100%;
        height: 65vh;
        left: 0;
        background: transparent;
        border: none;
        padding: 0;

        .index-technologies__more {
          height: 100%;
          bottom: 0;
          left: 0;
          margin: 0;
          background: transparent;

          .button {
            margin: 0;
            background: $main-gradient;
            border-color: transparent;
            box-shadow: $violet-shadow;
            color: $white;

            &:hover { color: $main-violet; }
          }
        }

        .technologies_items-svg {
          height: 100%;
          width: 100%;
          position: relative;
          margin: 0 auto;
          max-width: 340px;
          -webkit-mask-image: linear-gradient(to top, transparent 0%, $dark_black 50%, $dark_black 100%);
          mask-image: linear-gradient(to top, transparent 0%, $dark_black 50%, $dark_black 100%);

          &::before {
            content: "";
            background: linear-gradient($white, transparent);
            bottom: 0;
            left: 0;
            position: absolute;
            top: 40px;
            right: 0;
            z-index: 1;
          }

          &::after {
            content: "";
            background: no-repeat url(/assets/images/index/technologies_m_table.svg) center top;
            bottom: 0;
            left: 0;
            position: absolute;
            top: 40px;
            right: 0;
            z-index: 2;
          }
        }
      }
    }

    &-solutions {
      .description {
        text-align: justify;
        text-align-last: center;
      }

      .button { margin-bottom: 0; }
    }

    &-about-us-info {
      background: center/cover no-repeat url('/assets/images/index/about_us_photo_mob.webp');

      .button  {
        background: $main-gradient;
        border-color: transparent;
        box-shadow: $violet-shadow;
      }
    }

    #index-more-technologies { color: $white !important; }
  }
}
