.insurtech {
  &__main {
    background-image: linear-gradient(to right top, $palianytsia, var(--light-black), var(--light-black), $palianytsia);
    .list-with-images__item-icon img { box-shadow: none; }
  }

  &__design_and_development {
    background-image: linear-gradient(-45deg, rgba($buzok, .5), var(--light-black), var(--light-black));
    box-shadow: inset 0px 0px 20px 0px rgba($black, .25);

    .personal-info {
      &__list {
        list-style-type:none;
        padding: 36px 0 0 40px;
        text-align: left;
      }

      &__info-line {
        display: block;
        font-size: 18px;
        position: relative;
        padding-bottom: 32px;
        &::before {
          content: url('/assets/images/privacy_policy/sun.webp');
          display: inline-block;
          left: 0;
          margin-left: calc( 32px * -1.2 );
          mix-blend-mode: luminosity;
          position: absolute;
          top: 5px;
          vertical-align: text-top;
          width: 32px;
        }
      }
    }
  }

  .solutions_cases__case_study {
    background-image: linear-gradient(var(--purple-light-blue-darker));
    box-shadow: 0px 0px 20px 4px rgba($purple-heart, .05);
  }

  &__features {
    background: no-repeat url('/assets/images/insurtech/cloud-1.webp'),
                no-repeat url('/assets/images/insurtech/cloud-2.webp'),
                linear-gradient(30deg, $kviten, $titan_white, $titan_white);
    background-blend-mode: luminosity;
    background-position: top 0 left 0, top 50% right 0, top 0 left 0;
    filter: var(--filter-invert);
    position: relative;

    .block-cera-title { color: $black; }

    .list-with-images.horizontal .list-with-images__item {
      max-width: 23%;
      margin-right: 7px;
      margin-left: 7px;
    }
  }

  &__full_circle {
    background-image: linear-gradient(to left top, var(--sea-violet), var(--purple), var(--kviten-black_sea));
    box-shadow: inset 0px 0px 20px 4px rgba($purple-heart, .25);

    .button {
      background-color: $white;
      color: $black;

      &:hover { color: $main-violet !important; }
    }
    .list-with-images__item-icon img { box-shadow: none; }
  }

  .solutions_cases__idea { background-image: linear-gradient(to left, var(--main-dark-violet), var(--buzok-lavender)); }
}

@media (max-width: 930px) {
  .insurtech {
    &__features { position: relative; }
  }
}

@media screen and (max-width: 767px) {
  .insurtech {
    &__main { background-image: linear-gradient($palianytsia, var(--light-black), var(--light-black)); }
    &__features { .list-with-images.horizontal .list-with-images__item { max-width: 400px; } }
    .solutions_cases__idea { background-image: linear-gradient(to left top, $buzok, $main-violet); }
    .personal-info { &__info-line { font-size: 12px; } }
  }
}
