.list-with-images {
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    &-icon img {
      max-width: 150px;
      margin-right: 35px;
    }

    .header-2 {
      font-size: 22px;
      margin: 10px 0;
      text-align: left;
    }

    .description { margin: auto; }

    &_element {
      list-style: none;
      margin-bottom: 10px;
      padding: 0;
      padding-left: 10px;
      position: relative;

      &::before {
        background-color: $white;
        border: 1px solid $buzok;
        border-radius: 50%;
        content: '';
        height: 12px;
        left: -18px;
        position: absolute;
        top: 14px;
        transform: translateY(-50%);
        vertical-align: text-top;
        width: 12px;
      }
    }
  }
}

.list-with-images.horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .list-with-images__item {
    display: flex;
    flex-direction: column;
    max-width: 28%;

    .header-2,
    .description {
      text-align: center;
    }

    .description {
      font-size: 18px;
      line-height: 1.6;
    }

    &-icon img { margin-right: 0; }
  }
}

@media screen and (max-width: 767px) {
  .list-with-images__item {
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
    margin-bottom: 50px;

    &-icon {
      margin: 0 auto 20px;

      img {
        max-width: 120px;
        margin-right: 0;
      }
    }

    .header-2  {
      text-align: center;
      font-size: 14px;
      margin-top: 0;
    }

    .description { font-size: 12px; }

    &_element:before {
      width: 8px;
      height: 8px;
      left: -14px;
    }
  }

  .list-with-images.horizontal {
    justify-content: space-around;

    .list-with-images__item {
      max-width: 400px;
      width: 100%;

      &-icon img { margin-right: 0; }

      .description { font-size: 12px; }
    }
  }
}
