.marketplace {
  .list-with-images__item-icon img { box-shadow: none; }

  &__main {
    background-image: linear-gradient(135deg, $black_sea, $sky-ua);
    box-shadow: inset 0px 0px 20px 0px rgba($black, .25);

    &.wrap { padding-bottom: 45px; }

    .header-3.small-text { margin-top: 25px; }

    .description.with-margin { margin-bottom: 25px; }

    .list-with-images.horizontal {
      justify-content: space-around;
      margin-top: 0;
      margin-bottom: 0;

      .list-with-images__item {
        max-width: 200px;
        margin: 0 7px 15px;

        &-icon img { box-shadow: none; }
      }
    }
  }

  &__b2b {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &_img {
      width: 25%;

      img {
        max-width: 250px;
        width: 100%;
        mix-blend-mode: luminosity;
      }
    }

    &_text {
      text-align: justify;
      width: 65%;

      .header-2 { margin-bottom: 30px; }
    }
  }

  &__b2c {
    background-image: linear-gradient(135deg, $azovstal, $black_sea);
    box-shadow: inset 0px 0px 20px 0px rgba($black, .25);

    &.wrap { padding-bottom: 45px; }

    .header-2 { margin-bottom: 30px; }

    .description {
      max-width: 95%;
      text-align: right;
    }

    .list-with-images {
      margin-bottom: 0;
      columns: 2;
    }

    .header-3.small-text { margin-top: 20px; }

    &_top {
      align-items: center;
      display: flex;

      &_img img {
        max-width: 200px;
        mix-blend-mode: luminosity;
      }
    }
  }

  &__development {
    background-color: $titan_white;
    box-shadow: inset 0px 4px 25px 0px rgba($purple-heart, .2);

    .header-3.small-text { margin-top: 0; }

    .list-with-images {
      margin-bottom: 0;

      &__item:last-child { margin-bottom: 0; }
    }
  }

  .solutions_cases__case_study {
    background-image: linear-gradient(to right, $black_sea, $palianytsia);

    &_top { padding-top: 30px; }

    &_image img { max-width: 250px; }
  }

  &__solutions {
    background-image: linear-gradient(to top, $white,  $white, $palianytsia);

    .list-with-images {
      &__item {
        margin-top: 65px;
        align-items: flex-start;

        .header-2.purple-text {
          margin-top: 30px;
          margin-bottom: 20px;
        }
      }
    }

    .button {
      background-color: $white;
      font-weight: 400;
      margin-top: 0;

      &:hover { color: $main-violet !important; }
    }
  }

  .solutions_cases__idea {
    background-image: linear-gradient(135deg, $buzok, $palianytsia);

    a, p { color: $black !important; }

    .button { border-color: rgba($black, .05); }
  }
}

@media screen and (max-width: 767px) {
  .marketplace {
    .list-with-images__item .header-2 { text-align: center; }

    &__main {
      &.wrap {
        padding-top: 100px;
        padding-bottom: 30px;
      }

      .header-3.small-text {
        margin-top: 40px;
        margin-bottom: 20px;
      }

      .list-with-images.horizontal .list-with-images__item {
        max-width: 140px;
        margin-bottom: 10px;
      }
    }

    &__b2b {
      flex-wrap: wrap;

      &_img {
        width: 100%;
        margin-bottom: 10px;

        img { max-width: 120px; }
      }

      &_text {
        width: 100%;

        .header-2 { text-align: center; }
      }
    }

    &__b2c {
      .description { text-align: justify; }

      .header-3.small-text.white-text {
        margin-top: 25px;
        margin-bottom: 20px;
        color: $black !important;
      }

      &_top {
        flex-wrap: wrap;

        &_img {
          margin-top: 25px;
          width: 100%;

          img { max-width: 100px; padding-left: 15px;}
        }

        &_text { width: 100%; }
      }

      .list-with-images {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;

        &__item {
          width: 47%;
          margin-top: 0;
          flex-direction: column;
          margin-bottom: 20px;

          &-text .header-2 { margin-bottom: 0; }
        }
      }
    }

    .solutions_cases__case_study {
      &_top { padding-top: 0; }

      &_image {
        margin-top: 10px;
        margin-bottom: 10px;

        img { max-width: 120px; }
      }
    }

    &__solutions {
      .list-with-images__item {
        margin-top: 35px;

        .header-2.purple-text { margin-top: 20px; }

        .description { text-align: center; }
      }
    }

    .solutions_cases__idea { background-image: linear-gradient(to left top, $palianytsia, $buzok); }
  }
}
