.marketplace {
  .list-with-images__item-icon img { box-shadow: none; }

  &__main {
    background-image: linear-gradient(135deg, $black_sea, var(--sky-blue));
    box-shadow: inset 0px 0px 20px 0px rgba($black, .25);

    .list-with-images.horizontal {
      justify-content: space-around;

      .list-with-images__item {
        max-width: 200px;
        margin: 0 7px 3vh;
        &-icon img { box-shadow: none; }
      }
    }
  }

  &__b2b {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &_img {
      width: 25%;

      img {
        max-width: 250px;
        mix-blend-mode: luminosity;
      }
    }

    &_text {
      text-align: justify;
      width: 65%;
    }
  }

  &__b2c {
    background-image: linear-gradient(135deg, $azovstal, $black_sea);
    box-shadow: inset 0px 0px 20px 0px rgba($black, .25);
    filter: var(--filter-invert);

    &_top_text {
      .message,
      .description { color: $white; }
    }

    .list-with-images { columns: 2; }

    &_top {
      align-items: center;
      display: flex;

      &_img img {
        max-width: 200px;
        mix-blend-mode: luminosity;
      }
    }
  }

  &__development {
    background-color: $titan_white;
    box-shadow: inset 0px 4px 25px 0px rgba($purple-heart, .2);
    filter: var(--filter-invert);

    .message,
    .description { color: $black; }
  }

  .solutions_cases__case_study {
    background-image: linear-gradient(to right, $black_sea, $palianytsia);
    &_image img { max-width: 250px; }
  }

  &__solutions {
    background-image: linear-gradient(to top, var(--white), var(--white), $palianytsia);

    .list-with-images {
      &__item {
        margin-bottom: 80px;
        align-items: flex-start;
      }
    }

    .button {
      background-color: $white;
      color: $black;
      font-weight: 400;
      margin-top: 0;

      &:hover { color: $main-violet !important; }
    }

    .purple-text { color: var(--footer-hover) }

    .message:not(.purple-text),
    .description:not(.purple-text) { color: var(--body-color); }
  }

  .solutions_cases__idea {
    background-image: linear-gradient(135deg, var(--buzok-lavender), $palianytsia);

    a, p { color: var(--body-color) !important; }

    .button { border-color: rgba($black, .05); }
  }
}

@media screen and (max-width: 767px) {
  .marketplace {
    &__main {
      .list-with-images.horizontal .list-with-images__item { max-width: 140px; }
    }

    &__b2b {
      flex-wrap: wrap;

      &_img {
        width: 100%;
        img { max-width: 120px; }
      }

      &_text {
        text-align: center;
        width: 100%;
      }
    }

    &__b2c {

      &_top {
        flex-wrap: wrap;

        &_img {
          margin-top: 22px;
          width: 100%;
          img { max-width: 120px; }
        }
        &_text { width: 100%; }
      }

      .list-with-images {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;

        &__item {
          width: 47%;
          flex-direction: column
        }
      }
    }

    &__solutions .list-with-images__item { margin-bottom: 36px; }
  }
}
