.mob_dev_services {
  .header-2 { font-size: 1.25em; }

  &.development .list-with-images {
    margin: 4vh 0 0;

    &__item-icon img {
      border-radius: 20px;
      box-shadow: none;
    }
  }

  .header-2.with-margin {
    margin: 5vh auto;
    max-width: 70%;
  }

  .description.with_margin {
    margin-top: 6vh;

    &-2 {
      margin-top: 2vh;
      margin-bottom: 6vh;
    }
  }

  .development__cards {
    .cards-container {
      justify-content: space-around;
      
      .card {
        max-width: 300px;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }

  &__main {
    background-image: linear-gradient(-135deg, $medium_purple 28.4%, rgba($buzok, .7) 52.42%, $medium_purple 73.77%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

    .header-3:not(:first-child) {
      margin-top: 7vh;
      font-size: 1.4em;
    }

    .list-with-images.horizontal .list-with-images__item {
      max-width: 24%;
      width: -webkit-fill-available;
    }
  }

  &__cross_platform { background-image: linear-gradient($white, $palianytsia); }

  &__react_native {
    background-image: linear-gradient($sky-ua, $white);
    box-shadow: 0 4px 25px 0 rgba($purple-heart, .25);

    .description.with_margin { margin: 6vh 0; }
  }

  &__flutter {
    background-image: linear-gradient(-135deg, $moon_raker 28.4%, rgba($moon_raker, .25) 52.42%, $moon_raker 73.77%);
    box-shadow: 0 4px 25px 0 rgba($purple-heart, .25);
  }

  &__ionic {
    background-image: linear-gradient(135deg, $black_sea, $black_sea, $main-violet);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

    .description.with_margin { margin-bottom: 6vh; }
  }

  &__approaches {
    .timeline-item { padding-bottom: 100px; }
    .timeline-item:last-child:nth-child(odd)::before { bottom: 3em; }

    .header-2 { margin: 6vh 0 0; }
  }

  &__engagement-models {
    .card { padding: 40px 35px; }
  }
}

@media screen and (max-width: 700px) {
  .mob_dev_services {
    .header-2 { font-size: 1em; }

    .header-2.with-margin { max-width: 100%; }

    .header-3:not(:first-child) { font-size: 1.1em; }

    &__main .list-with-images.horizontal .list-with-images__item { max-width: 48%; }

    &__cross_platform {
      .card__icon { margin-top: 20px; }
    }
  }
}

@media screen and (min-width: 701px) and (max-width: 990px) {
  .mob_dev_services {
    &__main {
      .list-with-images.horizontal {
        .list-with-images__item-icon img { max-width: 135px; }
      }
    }
  }
}

@media screen and (min-width: 701px) and (max-width: 875px) {
  .mob_dev_services__main {
    .list-with-images.horizontal {
      justify-content: space-around;

      .list-with-images__item { max-width: 30%; }
    }
  }
}
