.mob_dev_services {
  &__cross_platform,
  &__engagement-models {
    .header-2 { margin-top: 25px; }
  }

  &.development .list-with-images {
    margin: 40px 0 0;

    &__item {
      &:last-child { margin-bottom: 0; }

      &-icon img {
        border-radius: 20px;
        box-shadow: none;
      }
    }
  }

  .header-2.with-margin {
    margin: 60px auto 50px;
    max-width: 70%;
  }

  .description.with_margin { margin: 50px 0; }

  &__main {
    background-image: linear-gradient(-135deg, $medium_purple 28.4%, rgba($buzok, .7) 52.42%, $medium_purple 73.77%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

    &.wrap { padding-bottom: 45px; }

    .header-3:not(:first-child) {
      margin-top: 50px;
      font-size: 22px;
    }

    .list-with-images.horizontal .list-with-images__item {
      max-width: 150px;
      width: 100%;
    }
  }

  &__cross_platform {
    background-image: linear-gradient($white, $palianytsia);

    .header-2.with-margin { margin-bottom: 0; }

    &.development__cards {
      .cards-container {
        justify-content: space-around;

        .card {
          max-width: 300px;
          margin-right: 5px;
          margin-left: 5px;

          &__description { margin-top: 25px; }
        }
      }
    }
  }

  &__react_native {
    background-image: linear-gradient($sky-ua, $white);
    box-shadow: 0 4px 25px 0 rgba($purple-heart, .25);
  }

  &__flutter {
    background-image: linear-gradient(-135deg, $moon_raker 28.4%, rgba($moon_raker, .25) 52.42%, $moon_raker 73.77%);
    box-shadow: 0 4px 25px 0 rgba($purple-heart, .25);

    .description.with_margin { margin-bottom: 30px; }
  }

  &__ionic {
    background-image: linear-gradient(135deg, $black_sea, $black_sea, $main-violet);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
  }

  &__approaches {
    .wrap {
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 990px;
      text-align: center;
      padding: 100px 30px 60px;

    }

    .timeline-item { padding-bottom: 100px; }

    .timeline-item:last-child:nth-child(odd)::before { bottom: 3em; }

    .header-2 {
      max-width: 75%;
      margin-top: 60px;
    }
  }

  &__engagement-models {
    .cards-container { margin-bottom: 0; }

    .card {
      justify-content: space-between;

      &__description { margin: 30px 0; }

      .button { margin-top: 50px !important; }
    }
  }
}

@media screen and (max-width: 767px) {
  .mob_dev_services {
    &__main.wrap {
      padding-top: 100px;

      .header-3:not(:first-child) { font-size: 14px; }
    }

    .header-2.with-margin {
      max-width: 100%;
      margin: 30px 0;
    }

    .description.with_margin { margin: 35px 0; }

    .list-with-images.horizontal {
      justify-content: space-around;

      .list-with-images__item { margin: initial; }
    }

    &__cross_platform {
      .header-2 {
        font-size: 14px;

        &.with-margin { margin-bottom: 0; }
      }

      .cards-container { margin: 30px 0; }

      .card__icon { margin-top: 20px; }
    }

    &__approaches {
      padding-bottom: 50px;

      .wrap { padding: 50px 0; }

      .header-2 { margin-top: 40px; }

      .timeline-item { padding-bottom: 10px; }
    }

    &__flutter .description.with_margin { margin-bottom: 15px; }

    &__engagement-models.development__cards {
      .cards-container { margin-top: 0; }
      
      .card { max-width: 310px; }
    }
  }
}
