.mob_dev_services {
  &.development .list-with-images {
    &__item-icon img {
      border-radius: 20px;
      box-shadow: none;
    }
  }

  &__main {
    background-image: linear-gradient(-135deg, var(--light-purple-gradient));
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);

    .list-with-images.horizontal .list-with-images__item {
      max-width: 150px;
      width: 100%;
    }

    .page-title,
    .message { color: var(--body-color); }

    .description.white-text,
    .list-with-images__item-text .message { color: var(--white-black) !important; }
  }

  &__cross_platform {
    background-image: linear-gradient(var(--white), $palianytsia);

    &.development__cards {
      .cards-container {
        justify-content: space-around;

        .card {
          max-width: 300px;
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }
  }

  &__react_native {
    background-image: linear-gradient(var(--sky-blue), var(--white));
    box-shadow: 0 4px 25px 0 rgba($purple-heart, .25);
  }

  &__flutter {
    background-image: linear-gradient(-135deg, $moon_raker 28.4%, rgba($moon_raker, .25) 52.42%, $moon_raker 73.77%);
    box-shadow: 0 4px 25px 0 rgba($purple-heart, .25);
    filter: var(--filter-invert);

    * { color: $black; }
  }

  &__ionic {
    background-image: linear-gradient(135deg, $black_sea, $black_sea, $main-violet);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
  }

  &__approaches {
    background-image: linear-gradient(to top, var(--carousel-bg), var(--white));

    .timeline-item { padding-bottom: 100px; }
    .timeline-item:last-child:nth-child(odd)::before { bottom: 3em; }
  }

  &__engagement-models {
    .card { justify-content: space-between; }
  }
}

@media screen and (max-width: 767px) {
  .mob_dev_services {
    .list-with-images.horizontal {
      justify-content: space-around;
      .list-with-images__item-icon img { max-width: 135px; }
    }

    &__cross_platform {
      .card__icon { margin-top: 20px; }
    }
  }
}

@media screen and (max-width: 767px) {
  .mob_dev_services {
    &__approaches .timeline-item { padding-bottom: 30px; }
  }
}
