.modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  opacity: 0;
  visibility: hidden;
  width: 100%;

  &__content {
    background-color: $white;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 20px;
    max-width: 500px;
    min-width: 300px;
    min-height: 200px;
    border-radius: 0.5rem;
    word-break: break-word;
  }

  &__close {
    background-color: lightgray;
    border-radius: 0.25rem;
    cursor: pointer;
    float: right;
    line-height: 1.5rem;
    text-align: center;
    width: 1.5rem;
    &:hover { background-color: darkgray; }
  }
}

.show-modal {
  opacity: 1;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  visibility: visible;
  z-index: 2;
}
