header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 4px 4px 0px var(--navbar-shadow);
  view-transition-name: header;

  #menu-btn { display: none; }

  a.logotype {
    height: 40px;
    width: 40px;
    padding: 10px;

    svg {
      width: 40px;
      &:active { transform: scale(0.9); }
    }
  }
}

.header-navbar {
  align-items: center;
  margin-bottom: 0;
  display: inline-flex;
  list-style: none;

  &__item { position: relative; }

  &__subitems {
    position: absolute;
    list-style: none;
    visibility: hidden;
  }

  &__link {
    margin: 0 1.5vw;
    color: var(--black);
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    cursor: pointer;

    &.active { font-family: 'Cera-Bold'; }
  }

  &__link-contact {
    display: block;
    margin: 0;
    padding: 0.7em 2.2em;
    background: linear-gradient(var(--white), var(--white)) padding-box,
                linear-gradient(to right, $main-violet, $purple-heart) border-box;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: 0.3s;

    &.active {
      box-shadow: $violet-active-shadow;
      background: transparent;
      border: none;
      font-family: 'Cera-Bold';
    }
  }
}

.navbar-bulb {
  animation: appearTopSvg .5s ease-out;
  display: none;
  left: -40px;
  position: absolute;
  top: -1%;
  z-index: 2;
}

.navbar-more-bulb {
  animation: appearSvg 1s ease-out;
  display: none;
  left: -10px;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &.touch-right {
    left: -5px;
    transition: all .1s ease-in-out;
  }

  &.touch-left {
    left: -18px;
    transition: all .1s ease-in-out;
  }
}

@keyframes appearSvg {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes appearTopSvg {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 768px) and (hover: hover) {
  .header-navbar {
    .header-navbar__subitems {
      min-width: 100%;
      opacity: 0;
      transition: all .5s ease-in-out;
      visibility: hidden;
      -webkit-transition: all .5s ease-in-out;

      .header-navbar__sub-link {
        display: block;
        padding: 10px 20px;
        color: var(--black);
        font-size: 0.7em;
        letter-spacing: 0.1em;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    &__item:hover .header-navbar__subitems {
      margin-top: 19px;
      padding-bottom: 20px;
      background-color: var(--white);
      border-bottom-right-radius: 1em;
      border-bottom-left-radius: 1em;
      box-shadow: 0px 4px 4px 0px var(--navbar-shadow);
      opacity: 1;
      visibility: visible;

      .header-navbar__sub-link:hover { color: $main-violet; }
    }

    &__link:hover { color: $main-violet; }

    &__link-contact:hover {
      box-shadow: 0px 0px 15px 1px rgba($main-violet, 0.3);
    }
  }
}

@media (max-width: 1100px) {
  .header-navbar {
    &__link {
     font-size: 10px;
     margin: 0 5px;
    }

    &__subitems { font-size: 15px; }
  }
}

@media (max-width: 767px) {
  header {
    background-color: inherit;
    box-shadow: none;
    box-sizing: border-box;
    height: 90vh;
    position: static;
    view-transition-name: none;
    top: 0;
    width: 100%;
    z-index: 5;

    a.logotype {
      left: 0;
      position: fixed;
      top: 0;
    }

    .header-navbar {
      align-items: flex-start;
      display: flex;
      background: inherit;
      box-sizing: border-box;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      top: 0;
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      width: 100%;
      z-index: 3;

      &__subitems {
        color: var(--white);
        display: block;
        position: static;
        padding-left: 20px;
        visibility: visible;

        li {
          position: relative;
          &:active { transform: scale(0.9); }
        }

        .header-navbar__sub-link {
          color: var(--white);
          font-size: 13px;
          letter-spacing: 0.1em;
          position: relative;
          text-decoration: none;

          &::before {
            content: '';
            position: absolute;
            bottom: 0.35em;
            left: -0.6em;
            width: 3px;
            height: 3px;
            background-color: var(--white);
            border-radius: 50%;
          }
        }
      }

      &__link {
        display: block !important;
        font-size: 15px;
        margin: 0;
        padding: 10px 2vw;
        width: 80%;

        &:active { transform: scale(0.9); }
      }

      &__item { .header-navbar__link { color: var(--white); } }

      &__link-contact {
        align-self: center;
        color: var(--white);
        padding: 15px;
        background: transparent;
        border: 1px solid var(--white);
        text-align: center;
        width: 100%;

        &:visited { color: var(--white); }
        &.active {
          background: transparent;
          border: 1px solid var(--white);
          box-shadow: none;
        }
      }
    }

    .header-navbar__close {
      padding-top: 2vw;
      color: var(--white);
      font-size: 1.5em;

      .menu-close-ico { cursor: pointer;}
    }

    .menu-icon {
      cursor: pointer;
      display: inline-block;
      left: -50px;
      padding: 28px 20px;
      position: absolute;
      top: 43px;
      z-index: 3;
      -webkit-tap-highlight-color: transparent;

      .navicon {
        position: relative;
        display: block;
        height: 3px;
        width: 23px;
        background: var(--white);

        &:before,
        &:after {
          content: '';
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          background: var(--white);
        }

        &:before { top: 10px; }

        &:after { top: -10px; }
      }
    }

    .header-navbar.show {
      opacity: .9;
      -webkit-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out;
    }

    .navbar-overlay.active {
      display: block;
      position: fixed;
      width: 100vw;
      min-height: calc(100% + 50px);
      left: 0;
      top: 0;
      background-color: rgba(var(--white), .1);
      backdrop-filter: blur(4px);
      z-index: 1;
    }
  }

  .navbar-bulb,
  .navbar-more-bulb { display: block; }
}
