.carousel-scroll{
  margin: 0 auto;
  max-width: 950px;
  position: relative;

  &__scroller {
    background-color: inherit;
    display: grid;
    grid-auto-flow: column;
    height: 550px;
    list-style-type: none;
    padding: 0;
    place-items: center;
    overflow: scroll;
    margin: 0 auto;
    scroll-snap-type: x  mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    padding: 0;
    view-timeline-name: --item;
    view-timeline-axis: inline;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin: 0;
  }

  &__animate-visibility {
    animation: scalify ease-in-out;
    animation-timeline: --item;
    background: $white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: -2px -2px 12px 2px rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
    height: 341px;
    margin: 0 15px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    user-select: none;
    width: 277px;
    z-index: 1;
  }

  &__animate-visibility.with-opacity {
    opacity: 0.5;
  }

  @keyframes scalify {
    50% {
      opacity: 1;
      scale: 1.4;
      z-index: 3;
    }
  }
}

.animate-visibility {
  overflow-y: hidden;
  &__title.title-3 { font-size: 18px; }
  .text-center { text-align: center; }
  .text-justify { text-align: justify; }
  .italic { font-style: italic; }

  &__description {
    display: block;
    font-size: 11px;
    line-height: 15px;
    max-height: 120px;
    overflow-y: scroll;
    text-align: justify;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    img, svg {
      width: 100px;
    }
  }

  &__list {
    font-size: 12px;
    line-height: 1.5em;
    list-style: inside;
    max-height: 110px;
    margin-top: 10px;
    padding-left: 10px;
    overflow-y: scroll;
    text-align: left;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__button {
    .button {
      background: $main-gradient;
      color: $white;
      font-size: 11px;
      padding: 10px 30px;

      &:hover {
        color: $black_sea;
        background: $white;
      }
    }
  }
}

@media (max-width: 767px ) {
  .carousel-scroll {
    &__animate-visibility {
      padding: 20px 15px 0 15px;
      width: 250px;
      height: 290px;
    }
  }

  .animate-visibility {
    &__title.title-3 { font-size: 12px; }
    &__description {
      display: block;
      font-size: 9px;
      overflow-y: scroll;
      max-height: 100px;
    }

    &__image {
      img, svg {
        width: 80px;
      }
    }

    &__list {
      font-size: 10px;
    }
  }
}

@media (max-width: 470px ) {
  .carousel-scroll {
    padding: 0 5px;

    &__animate-visibility {
      width: 220px;
    }
  }
}
