.carousel-scroll{
  margin: 0 auto;
  max-width: 910px;
  position: relative;

  &__scroller {
    background-color: inherit;
    display: grid;
    grid-auto-flow: column;
    height: 550px;
    list-style-type: none;
    padding: 0;
    place-items: center;
    overflow: scroll;
    margin: 0 auto;
    scroll-snap-type: x  mandatory;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    padding: 0;
    view-timeline-name: --item;
    view-timeline-axis: inline;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin: 0;
  }

  &__animate-visibility {
    animation: scalify ease-in-out;
    animation-timeline: --item;
    background: $white;
    border-radius: 20px;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: -2px -2px 12px 0px rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
    height: 341px;
    margin: 0 5px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    user-select: none;
    width: 277px;
    z-index: 1;
  }

  &__animate-visibility.with-opacity {
    opacity: 0;
  }

  @keyframes scalify {
    50% {
      opacity: 1;
      scale: 1.4;
      z-index: 3;
    }
  }
}

.animate-visibility {
  overflow-y: hidden;
  &__title.title-3 { font-size: 18px; }

  &__description {
    display: block;
    font-size: 11px;
    line-height: 15px;
    max-height: 120px;
    overflow-y: scroll;
    text-align: justify;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    img {
      width: 100px;
    }
  }
}

@media (max-width: 767px ) {
  .carousel-scroll {
    &__animate-visibility {
      padding: 20px 15px 0 15px;
      width: 250px;
      height: 290px;
    }
  }

  .animate-visibility {
    &__title.title-3 { font-size: 12px; }
    &__description {
      display: block;
      font-size: 9px;
      overflow-y: scroll;
      max-height: 100px;
    }

    &__image {
      img {
        width: 80px;
      }
    }
  }
}

@media (max-width: 470px ) {
  .carousel-scroll {
    padding: 0 5px;

    &__animate-visibility {
      width: 220px;
    }
  }
}
