.privacy-policy {
  &.development .list-with-images__item {
    align-items: flex-start;

    &-icon img {
      border-radius: 20px;
      box-shadow: none;
    }
  }

  .absolute-icon {
    position: absolute;
    max-width: 200px;
    width: 22vw;
    mix-blend-mode: luminosity;

    &:first-child {
      top: 10vh;
      left: 3vh;
    }

    &:last-child {
      bottom: 2vh;
      right: 4vh;
    }
  }

  &__top-container {
    position: relative;
    background: linear-gradient(312deg, $purple-heart 0%, $buzok 44.74%, $palianytsia 89.47%);
    border: 1px solid $black;
    box-shadow: 0px 4px 4px 0px rgba($dark_black, .25);
    padding: 191px 0 138px 0;
  }

  &__personal-info {
    background: linear-gradient(116deg, $buzok 0%, $white 100%);
    box-shadow: 0px 0px 20px 0px rgba($purple-heart, .5);
    padding: 87px 0 53px 0;

    .web_dev_services__full_stack-list-item::after {
      background: center/cover no-repeat url('/assets/images/privacy_policy/ruby.webp');
    }
  }

  &__personal-info,
  &__vendor-info {
    .web_dev_services__full_stack-list {
      padding-left: 45px;

      &-item {
        color: $black;

        &::after {
          left: -45px;
          top: 0;
          width: 22px;
          height: 22px;
          transform: translateY(50%);
        }
      }
    }
  }

  &__vendor-info {
    background: linear-gradient(129deg, $palianytsia 0%, rgba(251, 223, 137, 0.00) 100%);
    box-shadow: 0px 0px 20px 0px rgba($purple-heart, .5);
    padding: 87px 0 112px 0;

    .web_dev_services__full_stack-list-item::after {
      background: center/cover no-repeat url('/assets/images/privacy_policy/sun.webp');
    }

    .description { margin: 50px 0 }
  }

  &__security {
    background: $titan_white;
    box-shadow: 0px 0px 20px 0px rgba($purple-heart, .5);
    padding: 55px 0 84px 0;
  }

  &__description { margin: 50px 0; }
}

.info-about-you .white-text { margin-bottom: 28px; }

.vendor-info {
  .header-2:not(:first-child) {
    font-family: 'Cera-Bold', serif;
    margin-top: 31px;
    font-size: 20px;
  }
}

.security {
  &__top-block {
    background: top 50% left 0 no-repeat url('/assets/images/privacy_policy/sun.webp'),
                right 0 top 50% no-repeat url('/assets/images/privacy_policy/sun.webp');
    mix-blend-mode: luminosity;
    position: relative;

    img {
      display: inline-block;
      position: relative;
      z-index: 3;
    }

    &::before, &::after {
      content: '';
      background-color: $black_sea;
      display: inline-block;
      height: 1px;
      position: absolute;
      top: 50%;
      width: 300px;
      z-index: 2;
    }

    &::before { left: 5%; }

    &::after { right: 5%; }
  }

  .header-2 { margin: 50px 0 30px 0; }

  &__description {
    text-align: justify;

    &:last-child { margin-top: 30px; }
  }
}

@media (max-width: 930px) {
  .security__top-block {
    &::before,
    &::after {
      width: 30vw;
    }
  }
}

@media (max-width: 767px) {
  .privacy-policy {
    .absolute-icon {
      position: static;
      max-width: 120px;
    }

    .web_dev_services__full_stack-list-item {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &__top-container { padding: 100px 20px; }

    &__personal-info,
    &__vendor-info { padding: 50px 20px; }
  }

  .info-about-you .header-2:not(.white-text) { text-align: center; }

  .security {
    &__top-block {
      img { width: 150px; }

      &::before,
      &::after { width: 20vw; }
    }
  }
}
