.project_dev_services {
  &__main {
    background-image: linear-gradient($palianytsia, $white, $white, $buzok);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .25);

    .list-with-images.horizontal:not(:last-child) {
      margin-bottom: 2vh;
      .description {
        min-width: 100px;
        margin: 0 auto;
      }

      .list-with-images__item {
        width: 30%;
        max-width: 30%;

        &:nth-child(-n+2) {
          width: 37%;
          max-width: 37%;
        }
        &:nth-child(2) { align-items: flex-start; }
        &:first-child { align-items: flex-end; }

        &-icon svg {
          max-width: 100px;
          width: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  &__key_benefits {
    background-image: linear-gradient(-135deg, rgba($moon_raker, .25) , rgba($buzok, .25));
    box-shadow: 4px 8px 15px 5px rgba(0, 0, 0, .09);

    .list-with-images.horizontal {
      .list-with-images__item-icon img {
        border-radius: 20px;
        box-shadow: none;
      }
    }

  }

  &__workflow {
    background-image: linear-gradient(-110deg, $black_sea, $black_sea, $main-violet);

    .timeline-item {
      &::before,
      &:nth-child(even)::before { border-color: $main-violet; }

      &__content-output {
        &-list {
          color: $kviten;
          font-family: 'Cera Regular', serif;
        }
        &-title { color: $kviten; }
      }

      &__content-bottom {
        padding-top: 3vh;
        font-size: .9em;
        font-style: italic;
        line-height: 1.4;
        text-align: right;

        span {
          font-size: 1.25em;
          margin-right: 1em;
        }
      }
      &:nth-child(2n) .timeline-item__content-bottom { text-align: left; }
    }

    .timeline-item.has-svg {
      .project-dev-svg {
        left: -130px;
        position: absolute;
        top: 60%;
      }
    }
  }

  .development__cards  {
    background-image: linear-gradient($kviten, $white);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    .cards-container {
      justify-content: space-around;

      .card {
        max-width: 300px;
        margin-right: 5px;
        margin-left: 5px;
        &__description { margin-bottom: 0; }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .project_dev_services {

    &__main .list-with-images.horizontal:not(:last-child) {
      .list-with-images__item,
      .list-with-images__item:nth-child(-n+2) {
        width: 45%;
        max-width: 45%;
        align-items: center;
        &:last-child { margin: auto; }
      }
      .list-with-images__item-icon img { max-width: 80px; }
    }

    .timeline-item {
      &:nth-child(2n) .timeline-item__content-bottom { text-align: initial; }

      &__content-bottom {
        font-size: .7em;
        span { font-size: 1em; }
      }
    }

    &__key_benefits {
      .list-with-images.horizontal {
        .list-with-images__item {
          width: 45%;
          max-width: 45%;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 767px ) {
  .project_dev_services {
    .timeline-item.has-svg {
      .project-dev-svg {
        position: static;
        width: 150px;
      }
    }
    .timeline-item__icon::before { background-color: $main-violet; }
  }
}
