.project_dev_services {
  .header-2 { max-width: 70%; }

  .header-3 {
    max-width: 70%;
    margin: auto;
  }

  .header-2.with-margin { margin: 60px auto 50px; }

  &__main {
    background-image: linear-gradient($palianytsia, $white, $white, $buzok);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .25);

    &.wrap { padding-bottom: 45px; }

    .list-with-images.horizontal:not(:last-child) {
      margin-bottom: 25px;

      .description { margin-top: 10px; }

      .list-with-images__item {
        width: 30%;
        max-width: 30%;

        &:nth-child(-n+2) {
          width: 37%;
          max-width: 37%;
        }

        &:nth-child(2) {
          align-items: flex-start;

          .description { padding-left: 33%; }
        }

        &:first-child { align-items: flex-end; }

        &-icon svg {
          max-width: 100px;
          width: 100%;
          border-radius: 50%;
        }
      }
    }

    .list-with-images.horizontal:last-child {
      margin-bottom: 0;

      .description { margin-top: 25px; }
    }
  }

  &__key_benefits {
    background-image: linear-gradient(-135deg, rgba($moon_raker, .25) , rgba($buzok, .25));
    box-shadow: 4px 8px 15px 5px rgba(0, 0, 0, .09);

    .list-with-images.horizontal {
      margin-bottom: 0;

      .description { margin-top: 25px; }

      .list-with-images__item-icon img {
        border-radius: 20px;
        box-shadow: none;
      }
    }

    .header-2.with-margin {
      margin-bottom: 0;
      margin-top: 35px;
    }
  }

  &__workflow {
    background-image: linear-gradient(-110deg, $black_sea, $black_sea, $main-violet);

    .wrap { padding-bottom: 100px; }

    .timeline-item {
      &::before,
      &:nth-child(even)::before { border-color: $main-violet; }

      &__content-output {
        &-list {
          color: $kviten;
          font-family: 'Cera Regular', serif;
        }

        &-title { color: $kviten; }
      }

      &__content-bottom {
        padding-top: 3vh;
        font-size: .9em;
        font-style: italic;
        line-height: 1.4;
        text-align: right;

        span {
          font-size: 1.25em;
          margin-right: 1em;
        }
      }

      &:nth-child(2n) .timeline-item__content-bottom { text-align: left; }
    }

    .timeline-item.has-svg {
      .project-dev-svg {
        left: -130px;
        position: absolute;
        top: 60%;
      }
    }
  }

  .development__cards  {
    background-image: linear-gradient($kviten, $white);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    .header-2 { margin: 0; }

    .cards-container {
      justify-content: space-around;
      margin-bottom: 0;

      .card {
        max-width: 300px;
        margin-right: 5px;
        margin-left: 5px;

        &__description {
          margin-top: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .project_dev_services {
    .header-2.with-margin {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .timeline-item.has-svg {
      .project-dev-svg {
        position: static;
        width: 150px;
      }
    }

    .list-with-images__item-icon { margin-bottom: 0; }

    .timeline-item__icon::before { background-color: $main-violet; }

    &__main {
      &.wrap {
        padding-top: 100px;
        padding-bottom: 50px;
      }

      .list-with-images.horizontal:not(:last-child) {
        .list-with-images__item,
        .list-with-images__item:nth-child(-n+2) {
          width: 45%;
          max-width: 45%;
          align-items: center;
          margin-bottom: 25px;

          &:last-child { margin: auto; }
        }

        .list-with-images__item:nth-child(2) .description { padding-left: 0; }

        .list-with-images__item-icon svg { max-width: 80px; }
      }

      .list-with-images:last-child {
        .list-with-images__item:last-child { margin-bottom: 0; }
      }
    }

    .timeline-item {
      &__content-bottom {
        font-size: 10px;
        padding-top: 25px;
        text-align: left;

        span { font-size: 12px; }
      }
    }

    .project-dev-svg + .timeline-item__content-output {
      .timeline-item__content-output-title { margin-top: 0; }
    }

    &__key_benefits {
      .list-with-images.horizontal {
        .list-with-images__item {
          width: 45%;
          max-width: 45%;
          align-items: center;
        }
      }

      .header-2.with-margin {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &__workflow {
      padding-bottom: 30px;

      .wrap { padding-bottom: 50px; }
    }

    .development__cards .cards-container {
      margin: 40px 0 0;

      .card:last-child { margin-bottom: 0; }
    }
  }
}

@media screen and (max-width: 480px) {
  .project_dev_services {
    .header-3,
    .header-2 { max-width: 100%; }
  }
}
