.mobile-size { display: none; }
.public {
  color: $black_sea;
  padding: 191px 0 90px 0;

  &__image {
    width: 400px;
    mix-blend-mode: luminosity;
    margin-bottom: 47px;
  }
}

.public-404 {
  background-color: $azovstal;

  a {
    color: $black_sea;
    font-weight: 700;
    text-decoration-line: underline;
  }
}

@media (max-width: 930px) {
  .public {
    padding: 122px 0 82px 0;
    &__image { max-width: 230px; }
  }
}

@media (max-width: 700px) {
  .mobile-size { display: inline-block; }
}
