.reviews {
  &__main-container {
    background: center/cover no-repeat url('/assets/images/reviews/reviews-main-bg.webp');
    background-color: $black_sea;
    height: 100%;
    padding: 121px 0 36px 0;

    .header-3 { margin-bottom: 43px; }

    .header-2 {
      max-width: 80%;
      font-size: 1.4em;
    }
  }

  &__awards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(130px, 1fr));
    grid-column-gap: 45px;
    row-gap: 53px;
    margin: 100px auto;
    max-width: 655px;

    img { width: 130px; }
  }

  &__testimonials-container {
    .wrapper {
      background: left 0 top 60% no-repeat url("/assets/images/about/benefits.svg");
      padding: 183px 30px 115px 30px;
      position: relative;

      .overlay {
        position: absolute;
        width: 100%;
        height: 70%;
        right: 0;
        top: 10%;
        background-color: rgba(252, 252, 252, 0.7);
        backdrop-filter: blur(1.5px);
      }
    }
  }

  .accordion {
    summary {
      font-family: 'Cera-Medium';
      flex-direction: column;
      font-size: 25px;

      span {
        font-family: Inria Serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: normal;
        margin-top: 10px;
        text-transform: none;
      }
    }

    &__item {
      &-text { margin: 12px 63px 8px 63px; }
    }
  }
  &__solutions { background: $main-gradient; }

  &__expertise {
    background: none;
    .header-2 { max-width: 100%; }
  }

  &__tell-us {
    background: left 0 top 100% no-repeat url('/assets/images/contacts/BGT-1x1-1.webp');
    background-size: cover;
    padding: 80px 0 74px 0;

    .header-5 {
      display: inline-block;
      margin: 0 auto;
      max-width: 60%;
    }

    .description {
      text-align: justify;
      margin: 60px 0 94px 0;
    }

    .button {
      background: $main-gradient;
      padding: 25px;
      width: 50%;
    }
  }
}

@media (max-width: 767px) {
  .reviews {
    &__main-container {
      background-position: right 13% bottom 0;
      padding: 65px 0 79px 0;

      .header-3 { margin-top: 0; }

      .header-2 {
        max-width: 90%;
        font-size: 0.8em;
      }
    }

    &__awards {
      grid-template-columns: repeat(auto-fill,minmax(108px, 1fr));
      grid-column-gap: 34px;
      margin: 40px 0 0 0;
      row-gap: 34px;
      img { width: 108px; }
    }

    .accordion {
      summary {
        align-items: start;
        font-size: 15px;
        font-weight: 700;
        padding: 20px 30px ;

        span {
          font-size: 12px;
          margin-top: 9px;
          text-align: start;
        }

        &::after { display: none; }
      }

      &__item {
        &-text { margin: 26px 35px 8px 35px; }
      }
    }

    &__tell-us {
      background: right -10px top 85% no-repeat url('/assets/images/reviews/mobile-bottom-bg.webp'), #dbdfeb;
      background-size: cover;
      padding: 60px 0 60px 0;

      .header-5 { max-width: 100%; }

      .description { margin: 60px 0;}
      
      .button {
        padding: 15px 25px;
        width: 75%;
      }
    }
  }
}
