.ror_dev_services {
  &.development .list-with-images__item-icon img {
    border-radius: 20px;
    box-shadow: none;
  }

  &__main {
    background-image: linear-gradient(135deg, $sky-ua, $white);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    .description { margin: 60px 0 50px;}

    img {
      max-width: 150px;
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__ror {
    background-image: linear-gradient($kviten, $white, $white);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    .list-with-images {
      margin-bottom: 0;

      &__item:last-child { margin-bottom: 0; }
    }
  }

  &__reasons {
    background: radial-gradient(circle, rgba($palianytsia, 1) 0%, rgba($white, 1) 60%);
    box-shadow: inset 0px 12px 15px -7px $moon_raker;
    transition: all 1s ease-out;

    &.wrap { padding-bottom: 35px; }

    & * {
     transition: all 1s ease-out;
    }

    .description { margin: 40px 0 70px; }

    .extendable_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      z-index: 1;

      .extendable_card-wrapper {
        margin-bottom: 45px;
        margin-left: 5px;
        margin-right: 5px;
        min-height: 350px;
        min-width: 279px;
        position: relative;
        width: 279px;

       .extendable_card {
          background-color: rgba($white, .7);
          border-radius: 30px;
          box-shadow: $main-shadow;
          box-sizing: border-box;
          max-height: 350px;
          overflow: hidden;
          position: absolute;
          padding: 30px;
          transition: all 0.3s ease-in-out;
          width: 100%;

         img {
            max-width: 5em;
            width: 100%;
         }

         .header-2 {
            font-size: 1.3em;
            margin-top: 1vh;
         }

         .description {
            display: -webkit-box;
            font-size: .9em;
            line-height: 1.4em;
            margin: 15px 0 0;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
         }

         &:hover {
            background-color: rgba($white, 1);
            max-height: 600px;
            z-index: 1;

            .description {
              overflow: visible;
              -webkit-line-clamp: unset;
            }
          }
        }
      }
    }
  }

  &__quality {
    background-image: linear-gradient(-135deg, $azovstal, $white);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, .25);

    .header-2 {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &__quality-team {
    padding: 40px 0;
    background: $main-gradient;
    box-shadow: 2px 2px 12px 0px rgba($purple-heart, .5);

    // .header-2 { font-size: 1.4em; }
  }

  &__quality-awards {
    padding: 60px 0;
    background-image: linear-gradient(to left, $azovstal, $white);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, .25);

    .development__awards { margin-top: 0; }
  }

  &__approaches {
    background-image: linear-gradient(to left, $sky-ua, $white);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    .list-with-images__item:not(:first-child) {
      .list-with-images__item-icon {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 5px;
          height: 100px;
          background-color: $sky-ua;
          top: -75px;
          right: 50%;
        }

        img { margin-right: 0; }
      }

      .list-with-images__item-text { margin-left: 40px; }
    }

    .description.with_margin { margin-top: 40px; }

    .list-with-images {
      margin-bottom: 0;

      &__item:last-child { margin-bottom: 0; }
    }
  }

  &__tools {
    background-image: linear-gradient(-45deg, rgba($kviten, .4), rgba($azovstal, .4));
    box-shadow: 4px 8px 15px 5px rgba(0, 0, 0, .09);

    &.wrap { padding-bottom: 45px; }

    .list-with-images.horizontal {
      margin-bottom: 0;

      .list-with-images__item .description { font-size: 14px; }
    }
  }

  .development__cards {
    &.wrap { padding-bottom: 60px; }

    .cards-container {
      margin-bottom: 0;

      .card {
        justify-content: space-between;

        &__description { margin: 30px 0; }

        .button { margin-top: 50px; }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .ror_dev_services {
    .wrap:first-child { padding-top: 100px; }

    &__main {
      .description { margin: 30px 0; }

      img {
        margin-bottom: 30px;
        max-width: 85px;
      }
    }

    &__ror { background-image: linear-gradient($kviten, $white); }

    &__reasons {
      .extendable_cards .extendable_card-wrapper {
        width: 100%;
        max-width: 290px;

        .extendable_card {
          max-height: 100%;
          padding: 4.5vh;
          position: sticky;
          width: 100%;

          .description { -webkit-line-clamp: unset; }
        }
      }
    }

    &__approaches {
      .list-with-images {
        margin-bottom: 2vh;

        &__item { flex-direction: column; }
      }

      .list-with-images__item:not(:first-child)  {
        .list-with-images__item-icon::after { width: 0; }

        .list-with-images__item-text { margin-left: 0; }
      }
    }

    &__quality {
      .header-2,
      .header-2.white-text.with-bg { font-size: 1.2em; }

      .header-2.white-text.with-bg {
        margin-right: -5vh;
        margin-left: -5vh;
      }
    }

    .development__cards .cards-container {
      .card {
        min-width: 250px;
        width: 100%;
        height: 100%;
        max-height: 415px;
        max-width: 310px;

        &__description { margin: 20px 10px; }
      }
    }
  }
}
