.ror_dev_services {
  &.development .list-with-images__item-icon img {
    border-radius: 20px;
    box-shadow: none;
  }

  &__main {
    background-image: linear-gradient(135deg, var(--sky-blue), var(--white));
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    img {
      max-width: 150px;
      width: 100%;
    }
  }

  &__ror {
    background-image: linear-gradient($kviten, var(--white), var(--white));
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);
    .list-with-images {
      margin-bottom: 0;

      &__item { margin-bottom: 5vh; }
    }
  }

  &__reasons {
    background: radial-gradient(circle, rgba($palianytsia, 1) 0%, var(--white) 60%);
    box-shadow: inset 0px 12px 15px -7px $moon_raker;
    transition: all 1s ease-out;
    // filter: var(--filter-invert);

    & * {
     transition: all 1s ease-out;
    }

    .extendable_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      z-index: 1;

      .extendable_card-wrapper {
        margin-bottom: 4vh;
        margin-left: 5px;
        margin-right: 5px;
        min-height: 350px;
        min-width: 279px;
        position: relative;
        width: 279px;

       .extendable_card {
          background-color: var(--ror-cards);
          border-radius: 30px;
          box-shadow: var(--main-shadow);
          box-sizing: border-box;
          max-height: 350px;
          overflow: hidden;
          position: absolute;
          padding: 30px;
          transition: all 0.3s ease-in-out;
          width: 100%;

         img {
            max-width: 5em;
            width: 100%;
         }

         .description {
            display: -webkit-box;
            font-size: .9em;
            line-height: 1.4em;
            margin: 15px 0 0;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
         }

         &:hover {
            background-color: var(--white);
            max-height: 600px;
            z-index: 1;

            .description {
              overflow: visible;
              -webkit-line-clamp: unset;
            }
          }
        }
      }
    }
  }

  &__quality {
    background-image: linear-gradient(-135deg, $azovstal, var(--white));
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, .25);
  }

  &__quality-team {
    background: $main-gradient;
    box-shadow: 2px 2px 12px 0px rgba($purple-heart, .5);
  }

  &__quality-awards {
    background-image: linear-gradient(to left, $azovstal, var(--white));
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, .25);
    .development__awards { margin-top: 0; }
  }

  &__approaches {
    background-image: linear-gradient(-135deg, var(--sky-blue), var(--white));
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    .list-with-images__item:not(:first-child) {
      .list-with-images__item-icon {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 5px;
          height: 10vh;
          background-color: $sky-ua;
          top: -7vh;
          right: 50%;
        }

        img { margin-right: 0; }
      }

      .list-with-images__item-text { margin-left: 4vh; }
    }
  }

  &__tools {
    background-image: linear-gradient(-45deg, var(--light-pink-gradient));
    box-shadow: 4px 8px 15px 5px rgba(0, 0, 0, .09);

    .list-with-images.horizontal { margin-bottom: 0; }
  }

  .development__cards {
    .cards-container .card {
      justify-content: space-between;

      .button { background-color: var(--transparent-dark-btn); }
    }
  }
}

@media screen and (max-width: 767px) {
  .ror_dev_services {
    &__ror { background-image: linear-gradient($kviten, var(--white)); }

    &__reasons {
      .extendable_cards .extendable_card-wrapper {
        width: 100%;
        max-width: 290px;

        .extendable_card {
          max-height: 100%;
          padding: 4.5vh;
          position: sticky;
          width: 100%;

          .description { -webkit-line-clamp: unset; }
        }
      }
    }

    &__approaches {
      .list-with-images {
        margin-bottom: 2vh;

        &__item { flex-direction: column; }
      }

      .list-with-images__item:not(:first-child)  {
        .list-with-images__item-icon::after { width: 0; }
        .list-with-images__item-text { margin-left: 0; }
      }
    }

    .development__cards .cards-container {
      .card {
        min-width: 250px;
        width: 100%;
        height: 100%;
        max-height: 415px;

        &__description { margin: 20px 10px; }
      }
    }
  }
}
