.top-container {
  background: linear-gradient(288.65deg, #5723B5 0.2%, #AA30BE 97.1%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 20%;

  figure {
    display: flex;
    margin: 10px 10%;
  }

  figcaption {
    margin-right: 44px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }
}

h4 {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
  margin: 10% 25% 2rem 25%;
}

h5 {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
}

p {
  margin: 0 18% 10% 18%;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.services {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.container {
  position: relative;

  div {
    display: flex;
    justify-content: center;
  }

  figure {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2), inset -2px -2px 12px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 5%;
    width: 350px;
  }

  .icon {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 16px 8px rgba(0, 0, 0, 0.04);
    ;
    margin: 40px auto;
  }

  .desc {
    margin: 0 auto;
  }
}

button {
  color: #FFFFFF;
  height: 80px;
  width: 480px;
  border-radius: 56px;
  background: linear-gradient(91.33deg, #AA30BE 11.39%, #5723B5 91.4%);
  box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.15), inset 0px 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
}

button.secondary {
  background: #FFFFFF;
  color: #000;
  box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.15), inset 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.5em;
  font-family: Cera Pro;
}

.negotiation-content {
  padding: 0 18%;
  display: grid;
  gap: 5rem;
  position: relative;
  grid-template-columns: 1fr;

  figure {
    display: flex;
    justify-content: center;
    background: #A49FEB;
    border-radius: 20px;
    min-width: fit-content;
    min-height: fit-content;
    padding: 45px;

    img { mix-blend-mode: luminosity }
  }

  section {
    display: flex;
    flex-direction: row;
    gap: 10%;
    max-height: 350px;

    &:nth-of-type(2n) {
      flex-direction: row-reverse;
    }
  }

  p {
    margin-left: 0;
    text-align: start;
  }

  path {
    stroke-dasharray: 4000; 
    stroke-dashoffset: 4000;
  }

  @keyframes animatePath {
    to {
      stroke-dashoffset: 0;
    }
  }
  svg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 335px;

    // path {
    //   stroke-dasharray: 4000;
    //   stroke-dashoffset: 4000;
    // }
  }
}

h6 {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
}
