.solutions {
  padding-bottom: 50px;

  .header-2 {
    font-size: 1.3em;
    line-height: 1.5;
    max-width: 100%;
  }

  .header-3 { margin: 6vh 0; }

  &__text {
    background: $main-gradient;
    padding: 10vh 18vw;
  }

  &__main {
    background: linear-gradient(0deg, $white 50%, $azovstal 100%);
    padding: 177px 0 80px 0;

    .header-2 { max-width: 75%; }
    .description { margin: 6vh 0; }

    .about-us {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &__info {
        align-items: center;
        color: $main-blue;
        display: flex;

        img {
          margin-right: 17px;
          width: 100px;
        }
      }
      .about_us_info__item-image {
        background: linear-gradient(135deg, $main-violet, $main-blue);
        border-color: $kviten;
        margin-bottom: 15px;
        p { -webkit-text-fill-color: white; }
      }

    }
  }

  &__awards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;

    img {
      max-width: 150px;
      min-width: 45%;
    }
  }

  &__circle-background {
    background: radial-gradient(50% 50% at 50% 50%, #E9CDF4 19.79%, rgba(233, 205, 244, 0.10) 79.17%, rgba(233, 205, 244, 0.00) 100%);
    border-radius: 1100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto 100px auto;
    max-width: 1100px;
    padding: 100px 0 0 0;
    .with-margin { margin: 50px 0; }

    .animate-visibility {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  .timeline { margin-top: 5vh; }

  .timeline-item {
    &:nth-child(even) {
      .timeline__processes { padding-left: 7vh; }
    }

    &:nth-child(odd) {
      .timeline__processes { padding-right: 7vh; }
    }
  }

  .timeline__processes {
    align-items: unset;
    bottom: 13%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    position: absolute;
    width: 100%;

    &-item {
      align-items: center;
      color: $main-blue;
      display: flex;
      font-size: .7em;
      font-style: italic;
      justify-content: center;
      position: relative;

      .arrow {
        font-size: 1em;
        padding: 0 1vh;
      }

      &:first-child::before {
        right: 0;
        width: 50%;
      }

      &:last-child  {
        &::before {
          left: 0;
          width: 50%;
        }
        .arrow { display: none; }
      }

      &::before {
        content: '';
        background-color: $main-blue;
        height: 1px;
        position: absolute;
        top: -1em;
        width: 100%;
      }

      &::after {
        content: '';
        background-color: $white;
        border: 1px solid $main-blue;
        border-radius: 50%;
        height: 10px;
        position: absolute;
        top: -1.5em;
        right: 50%;
        width: 10px;
      }
    }
  }

  &__industries {
    .header-3 {
      margin-bottom: 0vh;
      margin-top: 3vh;
    }

    .blue-text { color: $main-blue; }

    .header-2 {
      margin: 5vh 0;

      &:last-child {
        margin-bottom: 3vh;
        margin-top: 9vh;
      }
    }
  }

  &__project-development {
    .header-3 { margin: 0 0 6vh; }
  }

  &__staff-augmentation {
    padding: 7vh 0;

    .timeline__processes {
      &-item {
        color: $main-violet;
        &::before { background-color: $main-violet; }
        &::after { border-color: $main-violet; }
      }
    }

    .timeline-item {
      &:last-child::before { bottom: 10vh; }
      &::before,
      &::after { border-color: $kviten; }
    }

    .button {
      font-weight: 400;
      margin-top: 0;
      padding: 22px 70px;
    }
  }


  &__services {
    background: $main-gradient;
    .header-3 { margin: 2vh 0 0; }

    .header-2 {
      color: rgba($white, .7);
      font-family: 'Cera Regular', serif;
      font-size: 1.3em;
      font-weight: 100;
      letter-spacing: 0.4em;
      text-transform: uppercase;
    }

    .button {
      width: 45%;
      margin-top: 0;
    }
  }

  .row {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .solutions {
    &__main {
      padding: 55px 0 40px 0;
      .about-us {
        flex-direction: column;
        align-items: center;
        &__info-wrapper { margin-bottom: 30px; }
      }
    }
    &__awards { width: 100%;}
  }
}

@media screen and (max-width: 768px) {
  .solutions {
    &__circle-background {
      border-radius: none;
      box-shadow: none;
    }

    .timeline-item {
      padding-bottom: 20px;
    }

    .header-2 { font-size: .9em; }

    .description {
      font-size: .8em;
      line-height: 1.6;
      text-align: justify;
    }

    &__main {
      .header-2 {
        max-width: 100%;
        text-align: justify;
      }

      .about-us {

        &__info {
          align-items: center;
          color: $main-blue;
          display: flex;

          img {
            margin-right: 17px;
            width: 60px;
          }
        }
      }
    }

    &__awards {
      img {
        min-width: 45%;
        max-width: 130px;
      }
    }
    &__text .header-2 { text-align: justify; }

    .timeline-item {
      .timeline__processes {
        align-items: flex-start;
        flex-direction: column;
        position: inherit;
        margin: 5vh 0 0;

        &-item {
          color: $black;
          margin: 1vh 0;
          padding-left: 5vh;

          &::before {
            background-color: $azovstal;
            left: 5px;
            height: 5vh;
            top: 5px;
            width: 1px;
          }
          &:first-child::before { width: 1px; }
          &:last-child::before { height: 0; }

          &::after {
            border-color: $azovstal;
            top: 3px;
            left: 0;
          }

          &:first-child { margin-top: 0; }
          &:last-child { margin-bottom: 0; }
          .arrow { display: none; }
        }
      }
    }

    &__staff-augmentation {
      .timeline-item__icon {
        &::before { background-color: $kviten; }
      }
    }
  }
}
