.solutions {
  &__text { background: $main-gradient; }

  &__main {
    background: linear-gradient(0deg, $white 50%, $azovstal 100%);

    .about_us_info {

      &__item {
        color: $purple-heart;

        &-image {
          background: $main-gradient;
          border-color: $kviten;
          margin-bottom: 15px;

          p { -webkit-text-fill-color: $white; }
        }
      }
    }
  }

  &__awards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;

    img {
      max-width: 150px;
      min-width: 45%;
    }
  }

  &__circle-background {
    background: radial-gradient(50% 50% at 50% 50%, $moon_raker 19.79%, rgba(233, 205, 244, 0.10) 79.17%, rgba(233, 205, 244, 0.00) 100%);
    border-radius: 1100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 1100px;
    padding: 40px 0 0 0;

    .animate-visibility {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  .timeline { margin-top: 5vh; }

  .timeline-item {
    &:nth-child(even) .timeline__processes { padding-left: 7vh; }
    &:nth-child(odd) .timeline__processes { padding-right: 7vh; }
  }

  .timeline__processes {
    align-items: unset;
    bottom: 13%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    position: absolute;
    width: 100%;

    &-item {
      align-items: center;
      color: $purple-heart;
      display: flex;
      font-size: .7em;
      font-style: italic;
      justify-content: center;
      position: relative;

      .arrow {
        font-size: 1em;
        padding: 0 1vh;
      }

      &:first-child::before {
        right: 0;
        width: 50%;
      }

      &:last-child  {
        &::before {
          left: 0;
          width: 50%;
        }
        .arrow { display: none; }
      }

      &::before {
        content: '';
        background-color: $purple-heart;
        height: 1px;
        position: absolute;
        top: -1em;
        width: 100%;
      }

      &::after {
        content: '';
        background-color: $white;
        border: 1px solid $purple-heart;
        border-radius: 50%;
        height: 10px;
        position: absolute;
        top: -1.5em;
        right: 50%;
        width: 10px;
      }
    }
  }

  &__staff-augmentation {
    .timeline__processes {
      &-item {
        color: $main-violet;
        &::before { background-color: $main-violet; }
        &::after { border-color: $main-violet; }
      }
    }

    .timeline-item {
      &:last-child::before { bottom: 10vh; }

      &::before,
      &::after { border-color: $kviten; }
    }

    .button {
      font-weight: 400;
      margin-top: 0;
    }
  }


  &__services {
    background: $main-gradient;

    .button {
      width: 45%;
      margin-top: 0;
    }
  }
  &__build-test-product { background: $main-gradient; }
}

@media (max-width: 930px) {
  .solutions {
    &__main {
      .about_us_info{
        &__items { display: block; }
        &__container { justify-content: center; }
      }
    }
    &__awards { width: 100%;}
  }
}

@media screen and (max-width: 767px) {
  .solutions {
    &__circle-background {
      border-radius: none;
      box-shadow: none;
    }

    .timeline-item {
      padding-bottom: 20px;
      &:nth-child(even) .timeline__processes { padding-left: 0; }
      &:nth-child(odd) .timeline__processes { padding-right: 0; }
    }

    &__awards {
      img {
        min-width: 45%;
        max-width: 130px;
      }
    }

    .timeline-item {
      .timeline__processes {
        max-width: 500px;
        align-items: flex-start;
        flex-direction: column;
        position: inherit;
        margin: 40px 0 0;

        &-item {
          color: $black;
          margin: 1vh 0;
          padding-left: 5vh;

          &::before {
            background-color: $azovstal;
            left: 5px;
            height: 5vh;
            top: 5px;
            width: 1px;
          }
          &:first-child::before { width: 1px; }
          &:last-child::before { height: 0; }

          &::after {
            border-color: $azovstal;
            top: 3px;
            left: 0;
          }
          &:first-child { margin-top: 0; }
          &:last-child { margin-bottom: 0; }
          .arrow { display: none; }
        }
      }
    }
    &__staff-augmentation .timeline-item__icon::before { background-color: $kviten; }
  }
}
