.solutions {
  .header-2 {
    margin: 60px auto 40px;
    line-height: 1.6;
  }

  &__main {
    background: linear-gradient(0deg, $white 50%, $azovstal 100%);

    .header-2 { max-width: 75%; }

    .about_us_info {
      margin-top: 60px;

      &__items { justify-content: space-between; }

      &__item {
        color: $purple-heart;
        text-align: left;

        &:last-child { margin-bottom: 0; }

        &:not(:last-child) { margin-bottom: 40px; }

        &-image {
          background: $main-gradient;
          border-color: $kviten;

          p { -webkit-text-fill-color: $white; }
        }
      }
    }
  }

  &__text {
    background: $main-gradient;
    padding: 70px 0;

    .header-2 { margin: 0; }
  }

  &__awards {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 48%;

    a:last-child {
      margin-left: auto;
      margin-right: auto;
    }

    img {
      max-width: 150px;
      min-width: 45%;
    }
  }

  &__circle-background {
    background: radial-gradient(50% 50% at 50% 50%, $moon_raker 19.79%, rgba(233, 205, 244, 0.10) 79.17%, rgba(233, 205, 244, 0.00) 100%);
    border-radius: 1100px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 1100px;
    // padding: 40px 0 0 0;

    .header-2 { margin-bottom: 30px; }

    .description { margin-bottom: 50px; }

    .header-2.with-margin { margin: 50px 0 100px; }

    .animate-visibility {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  .timeline-item {
    &:nth-child(even) .timeline__processes { padding-left: 7vh; }

    &:nth-child(odd) .timeline__processes { padding-right: 7vh; }
  }

  .timeline__processes {
    align-items: unset;
    bottom: 13%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    position: absolute;
    width: 100%;

    &-item {
      align-items: center;
      color: $purple-heart;
      display: flex;
      font-size: .7em;
      font-style: italic;
      justify-content: center;
      position: relative;

      .arrow {
        font-size: 1em;
        padding: 0 1vh;
      }

      &:first-child::before {
        right: 0;
        width: 50%;
      }

      &:last-child  {
        &::before {
          left: 0;
          width: 50%;
        }
        .arrow { display: none; }
      }

      &::before {
        content: '';
        background-color: $purple-heart;
        height: 1px;
        position: absolute;
        top: -1em;
        width: 100%;
      }

      &::after {
        content: '';
        background-color: $white;
        border: 1px solid $purple-heart;
        border-radius: 50%;
        height: 10px;
        position: absolute;
        top: -1.5em;
        right: 50%;
        width: 10px;
      }
    }
  }

  &__industries {
    &.wrap { padding-bottom: 0; }

    .header-3 { margin-bottom: 40px; }
  }

  &__project-development { margin-top: 70px; }

  &__staff-augmentation {
    padding-bottom: 80px;

    .header-3 { margin-top: 60px; }

    .header-2 { margin-bottom: 70px; }

    .timeline__processes {
      &-item {
        color: $main-violet;

        &::before { background-color: $main-violet; }

        &::after { border-color: $main-violet; }
      }
    }

    .timeline-item {
      &:last-child::before { bottom: 10vh; }

      &::before,
      &::after { border-color: $kviten; }
    }

    .button { margin-top: -50px; }
  }

  &__services {
    background: $main-gradient;

    .header-3 { margin: 2vh 0 0; }

    .header-2 {
      color: rgba($white, .7);
      font-family: 'Cera Regular', serif;
      font-size: 1.3em;
      font-weight: 100;
      letter-spacing: 0.4em;
      text-transform: uppercase;
    }

    .button {
      width: 45%;
      margin-top: 0;
    }
  }

  &__build-test-product {
    background: $main-gradient;

    .header-3 { letter-spacing: 0.2em; }
  }
}

@media screen and (max-width: 767px) {
  .solutions {
    .wrap:first-child { padding-top: 100px; }
    
    .header-2 { margin: 30px auto; }

    &__circle-background {
      border-radius: none;
      box-shadow: none;

      .description { margin-bottom: 30px; }

      .header-2.with-margin { margin: 30px 0 70px; }
    }

    .description  { text-align: justify; }

    &__main {
      .header-2 {
        max-width: 100%;
        text-align: justify;
      }

      .about_us_info {
        align-items: center;
        color: $purple-heart;
        display: flex;

        &__items {
          flex-wrap: wrap;
          width: 100%;
        }

        &__item { margin-bottom: 25px !important; }
      }
    }

    &__awards {
      width: 100%;
      justify-content: space-around;

      a:last-child { margin: 0; }

      img { max-width: 130px; }
    }

    &__text {
      padding: 20px 0;

      .header-2 { text-align: justify; }
    }

    .cera {
      font-family: 'Cera Regular';
      font-size: 12px;
      text-align: justify;

      span { font-family: "Cera-Bold", serif; }
    }

    &__project-development { margin-top: 40px; }

    &__industries {
      .header-3 { margin-bottom: 0; }

      &-main-header.header-3 { margin-bottom: 40px; }
    }

    .timeline-item {
      padding-bottom: 20px;

      &:nth-child(even) .timeline__processes { padding-left: 0; }

      &:nth-child(odd) .timeline__processes { padding-right: 0; }

      .timeline__processes {
        max-width: 500px;
        align-items: flex-start;
        flex-direction: column;
        position: inherit;
        margin: 40px 0 0;

        &-item {
          color: $black;
          margin: 1vh 0;
          padding-left: 5vh;

          &::before {
            background-color: $azovstal;
            left: 5px;
            height: 5vh;
            top: 5px;
            width: 1px;
          }

          &:first-child::before { width: 1px; }

          &:last-child::before { height: 0; }

          &::after {
            border-color: $azovstal;
            top: 3px;
            left: 0;
          }

          &:first-child { margin-top: 0; }

          &:last-child { margin-bottom: 0; }

          .arrow { display: none; }
        }
      }
    }

    &__staff-augmentation {
      padding-bottom: 50px;

      .button { margin-top: -15px; }

      .timeline { margin-top: 40px; }

      .timeline-item__icon::before { background-color: $kviten; }
    }

    .timeline__processes { padding-bottom: 0; }
  }
}
