.taxi_and_transportation {
  .list-with-images {
    margin-bottom: 0;

    &__item {
      margin-bottom: 65px;
      align-items: flex-start;

      .header-2.purple-text {
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }
  }

  .development__cards {
    .cards-container {
      justify-content: space-around;
      margin-bottom: 0;

      .card {
        max-width: 300px;
        margin-right: 5px;
        margin-left: 5px;
        background: rgba($white, .05);
        box-shadow: $main-shadow;

        &__title-2 { margin-bottom: 10px; }

        &__icon {
          margin-top: 10px;

          img {
            max-width: 100px;
            mix-blend-mode: normal;
          }
        }

        &__description {
          margin-top: 20px;
          font-size: 14px;
        }
      }
    }
  }

  &__main {
    background-image: linear-gradient(-30deg, $purple-heart, $black_sea);

    &.wrap { padding-bottom: 45px; }

    .description.with-margin {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    .list-with-images__item { margin-bottom: 35px; }
  }

  &__expertise { background-image: linear-gradient(135deg, $buzok, $purple-heart); }

  .solutions_cases__case_study {
    &_top { padding-top: 50px; }

    &_image img { max-width: 200px; }
  }

  &__solutions {
    background-image: linear-gradient(-67deg, $buzok, $white, $white);
    box-shadow: 0px 0px 25px 4px rgba($moon_raker, .35);

    .header-3 { margin-bottom: 30px; }

    .header-3.small-text {
      margin-top: 30px;
      font-family: "Cera Regular", serif;
    }

    .header-3.small-text.with-margin { margin-top: 40px; }

    .list-with-images__item {
      &:last-child { margin-bottom: 0; }

      &_element::before { border: 1px solid $buzok; }
    }

    .header-2.with-margin { margin-top: 50px; }
  }

  &__security {
    background-color: rgba($purple-heart, .6);
    box-shadow: 0px 0px 25px 4px rgba($black, .2 );
    padding: 30px 0 50px;

    .description {
      margin-top: 25px;
      text-align: center;
    }
  }

  &__cross_platform_app {
    background-image: linear-gradient(35deg, $kviten, $titan_white, $titan_white);
    box-shadow: 0px 0px 25px 4px rgba($moon_raker, .35);

    .description.text-center { margin-top: 40px; }

    .purple-text { color: $main-violet; }

    .header-3.small-text { font-family: "Cera Regular", serif; }

    .list-with-images__item {
      &:last-child { margin-bottom: 0; }

      &_element::before { border: 1px solid $main-violet; }
    }
  }

  &__admin_panel {
    background-image: linear-gradient(35deg, $buzok, $kviten);
    box-shadow: inset 0px 0px 25px 4px rgba($purple-heart, .4);

    .header-3.small-text { font-family: "Cera Regular", serif; }

    .button {
      background-color: $white;
      font-weight: 400;
      margin-top: 20px;

      &:hover { color: $main-violet !important; }
    }

    .description.text-center { margin-top: 40px; }

    .list-with-images__item_element::before { border: 1px solid $purple-heart; }
  }
}

.horizontal_timeline {
  align-items: stretch;
  display: flex;
  justify-content: space-around;
  margin: 70px 0 75px;
  padding: 0 67px;
  position: relative;

  &::before,
  &::after {
    background: $purple-heart;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 27%
  }

  &::before { left: 0; }

  &::after { right: 0 }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 120px;
    position: relative;

    &::before,
    &::after {
      background: $purple-heart;
      content: '';
      display: block;
      position: absolute;
      width: 95%;
      height: 2px;
      top: 30%;
    }

    &::before {
      left: 75%;
      width: 82%;
     }

    &::after { right: 75% }

    &_icon {
      align-items: center;
      background-image: radial-gradient(circle, $white, $titan_white);
      border-radius: 50%;
      box-shadow: 0px 0px 12px 0px rgba($purple-heart, .15);
      display: flex;
      height: 6em;
      justify-content: center;
      margin-bottom: 22px;
      width: 6em;
      z-index: 2;

      img {
        max-width: 55px;
        mix-blend-mode: luminosity;
        position: relative;
        width: 100%;
      }
    }

    &_text {
      font-family: "Cera-Bold", serif;
      font-size: 15px;
      font-style: normal;
      text-align: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .taxi_and_transportation {
    .list-with-images__item { margin-bottom: 35px; }

    &__main {
      .description.with-margin {
        margin-top: 65px;
        margin-bottom: 65px;
      }

      .list-with-images { margin-top: 65px; }

      &.wrap { padding-bottom: 15px; }
    }

    .development__cards {
      &.wrap { padding-bottom: 15px; }

      .cards-container {
        margin-top: 50px;

        .card__description { font-size: 12px; }
      }
    }

    .solutions_cases__case_study {
      &_top { padding-top: 0; }
      &_image {
        margin-top: 20px;
        transform: scaleX(1);

        img { max-width: 120px; }
      }
    }

    &__solutions {
      .header-3 { margin-bottom: 15px; }

      .header-3.small-text { margin: 15px 0; }

      .header-3.small-text.with-margin { margin-bottom: 35px; }

      .header-2.with-margin {
        margin-top: 25px;
        margin-bottom: 50px;
      }

      .list-with-images__item {
        flex-direction: column;
        justify-content: center;

        &-text { width: 100%; }

        &-icon img {
          margin-right: 0;
          max-width: 120px;
        }
      }
    }

    &__security {
      padding-top: 45px;

      .description { text-align: justify; }
    }
  }

  .horizontal_timeline {
    flex-wrap: wrap;
    margin: 0;
    padding: 51px 0;

    &::before,
    &::after {
      content: '';
      left: 46px;
    }

    &::before { top: 0; }

    &::after {
      position: absolute;
      top: 97%;
    }

    &__item {
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      max-width: 100%;
      min-width: 100%;

      &:not(:last-child) { margin-bottom: 4vh; }

      &::before,
      &::after {
        content: '';
        height: 40px;
        left: 50px;
        width: 2px;
      }

      &::before { top: -50px; }

      &::after { top: 100px; }

      &_icon { margin-right: 1.5em; }

      &_text { font-size: 12px;}
    }
  }
}
