.taxi_and_transportation {
  .list-with-images {
    &__item {
      margin-bottom: 80px;
      align-items: flex-start;
    }
  }

  .development__cards {
    .cards-container {
      justify-content: space-around;

      .card {
        max-width: 300px;
        margin-right: 5px;
        margin-left: 5px;
        background: rgba($white, .05);
        box-shadow: $main-shadow;

        &__title-2 { margin-bottom: 10px; }
        &__icon img { mix-blend-mode: normal; }
        &__description { font-size: 14px; }
      }
    }
  }

  &__main {
    background-image: linear-gradient(-30deg, $purple-heart, $black_sea);

    .list-with-images {
      margin: 5vh 0 0;
      &__item { margin-bottom: 30px; }
    }
  }

  &__expertise {
    background-image: linear-gradient(135deg, var(--buzok-liberty), $purple-heart);

    .white-text {color: var(--white) !important; }
  }

  &__solutions {
    background-image: linear-gradient(-67deg, var(--buzok-liberty), var(--white), var(--white));
    box-shadow: 0px 0px 25px 4px rgba($moon_raker, .35);

    .list-with-images {
      &__item_element::before { border: 1px solid $buzok; }
    }

    .purple-text { color: var(--purple-violet); }

    .message:not(.purple-text),
    .description:not(.purple-text) { color: var(--body-color); }
  }

  &__security {
    background-color: rgba($purple-heart, .6);
    box-shadow: 0px 0px 25px 4px rgba($black, .2 );
    filter: var(--filter-invert);
  }

  &__cross_platform_app {
    background-image: linear-gradient(35deg, $kviten, $titan_white, $titan_white);
    box-shadow: 0px 0px 25px 4px rgba($moon_raker, .35);
    filter: var(--filter-invert);

    .purple-text { color: $main-violet; }
    .list-with-images__item_element::before { border: 1px solid $main-violet; }

    .message,
    .description,
    .block-sub-title { color: $black; }
  }

  &__admin_panel {
    background-image: linear-gradient(var(--buzok-kviten-darker-gradient));
    box-shadow: inset 0px 0px 25px 4px rgba($purple-heart, .4);

    .button {
      background-color: $white;
      font-weight: 400;
      margin-top: 20px;
      color: $black;

      &:hover { color: $main-violet !important; }
    }

    .message,
    .description { color: var(--body-color); }

    .white-text { color: var(--white) !important; }

    .list-with-images__item_element::before { border: 1px solid $purple-heart; }
  }
}

.horizontal_timeline {
  align-items: stretch;
  display: flex;
  justify-content: space-around;
  margin: 10vh 0;
  padding: 0 67px;
  position: relative;

  &::before,
  &::after {
    background: $purple-heart;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 27%
  }
  &::before { left: 0; }
  &::after { right: 0 }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 120px;
    position: relative;

    &::before,
    &::after {
      background: $purple-heart;
      content: '';
      display: block;
      position: absolute;
      width: 95%;
      height: 2px;
      top: 30%;
    }

    &::before {
      left: 75%;
      width: 82%;
     }
    &::after { right: 75% }

    &_icon {
      align-items: center;
      background-image: radial-gradient(circle, $white, $titan_white);
      border-radius: 50%;
      box-shadow: 0px 0px 12px 0px rgba($purple-heart, .15);
      display: flex;
      height: 6em;
      justify-content: center;
      margin-bottom: 22px;
      width: 6em;
      z-index: 2;

      img {
        max-width: 55px;
        mix-blend-mode: luminosity;
        position: relative;
        width: 100%;
      }
    }

    &_text {
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .taxi_and_transportation {
    .list-with-images__item { margin-bottom: 35px; }

    &__solutions .list-with-images__item {
      flex-direction: column;
      justify-content: center;
      &-text { width: 100%; }

      &-icon {
        margin: 0 auto;

        img {
          margin-right: 0;
          max-width: 120px;
        }
      }
    }
  }

  .horizontal_timeline {
    flex-wrap: wrap;
    margin: 0;
    padding: 51px 0;

    &::before,
    &::after {
      content: '';
      left: 46px;
    }
    &::before { top: 0; }

    &::after {
      position: absolute;
      top: 97%;
    }

    &__item {
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      max-width: 100%;
      min-width: 100%;
      &:not(:last-child) { margin-bottom: 4vh; }

      &::before,
      &::after {
        content: '';
        height: 40px;
        left: 50px;
        width: 2px;
      }
      &::before { top: -50px; }
      &::after { top: 100px; }
      &_icon { margin-right: 1.5em; }
      &_text { font-size: 12px;}
    }
  }
}
