.team {
  .header-2 {
    max-width: 100%;
    margin-top: 7vh;
    margin-bottom: 7vh;
  }

  &__main {
    background: center/cover no-repeat url('/assets/images/team/team-bg.webp');
    background-color: $dusty-silver;
    height: 75vh;
  }

  &__help {
    padding: 3vh 18vw;
    background-color: $sky-ua;
    box-shadow: inset 0px 2px 20px 0px rgba($dark_black, .1), 0px 0px 12px 0px rgba($dark_black, .5);

    .header-2 { margin: 0; }
  }

  &__people {
    background-image: linear-gradient(to right, $sky-ua, $white);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    *::before,
    *::after {
      position: absolute;
      content: '';
      background: 100%/85% 65% no-repeat url('/assets/images/ror_development_services/diamond.webp');
      mix-blend-mode: luminosity;
    }

    .wrapper {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;

      &::after {
        width: 70px;
        height: 70px;
        right: 15px;
        bottom: 1.5em;
        filter: blur(2px);
        transform: rotate(45deg);
      }
    }

    .header-2 {
      position: relative;
      margin-top: 40px;
      margin-bottom: 25px;

      &::before {
        width: 47px;
        height: 50px;
        left: -9em;
        top: -1em;
        filter: blur(1px);
        transform: rotate(-20deg);
      }
    }

    .description  {
      max-width: 800px;
      margin: 0 65px;
    }

    .header-3 {
      position: relative;
      max-width: 825px;
      margin: auto 52px;

      &::before {
        width: 100px;
        height: 100px;
        left: -4em;
        top: 0.5em;
        filter: blur(2px);
        transform: rotate(-55deg);
      }

      &::after {
        width: 47px;
        height: 50px;
        top: -1em;
        right: -40px;
        transform: rotate(20deg);
        filter: blur(1px);
      }
    }
  }

  &__crew {
    background: center/cover no-repeat url('/assets/images/about/about-bg.webp');
    box-shadow: 0px 0px 20px 0px rgba($dark_black, .25);
  }

  &__important_things {
    background-image: linear-gradient(to right top, $palianytsia, transparent, transparent, $palianytsia);
    box-shadow: 0px 0px 20px 0px rgba($purple-heart, .25);

    .header-2 { margin: 0 0 7vh; }

    .list-with-images.horizontal {
      .list-with-images__item {
        margin-top: 2.5vh;
        align-items: center;

        .header-2 { margin: 2.5vh 0;}

        .description {
          max-width: 15em;
          width: 100%;
        }

        &:nth-child(-n+2) {
          max-width: 37%;
          width: 37%;
        }

        &:first-child { margin-left: 13%; }

        &:nth-child(2) { margin-right: 13%; }
      }
    }
  }

  &__photo {
    height: 80vh;
    background: center/cover no-repeat url('/assets/images/team/team.webp');
    box-shadow: 0px 0px 20px 0px rgba($dark_black, .25);
  }

  &__expertise {
    .button { margin-top: 3.5em; }

    &.development__cards {
      background-image: linear-gradient(to bottom, $kviten, $white);

      .header-2 { margin: 0 0 4.5vh; }
    }
  }
}

@media screen and (max-width: 768px) {
  .team {
    .header-2 {
      margin-top: 5vh;
      margin-bottom: 5vh;
      font-size: 0.85em;
      line-height: 1.5;
    }

    &__main {
      height: 550px;
      background-position: 55% top;
      background-size: 250% 115%;

      .description { line-height: 1.5; }
    }

    &__help {
      padding-right: 12vw;
      padding-left: 12vw;

      .header-2 { margin: 0; }
    }

    &__people {
      .wrapper::after { display: none }

      .header-3 {
        margin: 0;

        &::before,
        &::after { display: none; }
      }

      .header-2 {
        &::before {
          width: 35px;
          height: 33px;
          left: -4em;
          top: -2.5em;
        }

        &::after {
          width: 55px;
          height: 55px;
          top: -2em;
          right: -4em;
          filter: blur(1px);
          transform: rotate(30deg);
        }
      }

      .description { margin: 0; }
    }

    &__important_things {
      .header-2 { margin-top: 3vh; }

      .list-with-images.horizontal {
        .list-with-images__item {
          &:first-child { margin-left: 0; }

          &:nth-child(2) { margin-right: 0; }

          &:nth-child(-n+2) {
            max-width: 100%;
            width: 100%;
          }

          &:last-child { margin-bottom: 0; }

          .header-2 { margin-bottom: 1vh; }

          .description { max-width: 100%; }
        }
      }
    }

    &__photo { height: 190px; }

    &__expertise {
      .header-2 { margin-top: 0; }

      .button {
        padding-right: 10vw;
        padding-left: 10vw;
      }
    }
  }
}
