.timeline {
  &-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    padding-bottom: 130px;

    &:nth-child(odd) {
      flex-direction: row-reverse;

      .timeline-item__content {
        &-title { text-align: right; }

        &-description { text-align: right; }

        &-output {
          &-title { text-align: right; }

          &-list {
            text-align: right;
            direction: rtl;
          }
        }
      }

      .timeline-item__icon { justify-content: flex-start; }
    }

    &__icon {
      display: flex;
      width: 350px;
      height: 350px;
      position: relative;

      img {
        max-width: 350px;
        width: 100%;
        z-index: 1;
      }
    }

    &__content {
      width: 50%;

      &-title {
        font-size: 22px;
        text-align: left;
        margin-bottom: 35px;
      }

      &-description {
        font-size: 1em;
        line-height: 1.6;
        text-align: left;
      }

      &-output {
        &-title {
          margin: 3vh 0 2vh;
          color: $purple-heart;
          font-family: 'Inria Bold', serif;
          font-size: 1.25em;
          font-style: italic;
          text-align: left;

        }

        &-list {
          margin: 0;
          padding-inline-start: 2%;
          text-align: left;
          color: $purple-heart;
          font-family: 'Inria Bold', serif;
          font-style: italic;
        }

        &-item {
          font-size: .85em;
          line-height: 1.5;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .timeline {
    &-item {
      &__icon {
        width: 30vw;
        height: 30vw;
      }
    }
  }
}


@media (max-width: 930px) {
  // .services .timeline-item,
  .timeline-item {
    padding-bottom: 15vw;

    &__content {
      &-title {
        font-size: 1em;
        margin: 30px 0;
      }

      &-description {
        font-size: 12px;
        text-align: justify;
      }
    }
  }

  .services .timeline-item { padding-bottom: 7vw; }
}

@media screen and (max-width: 767px) {
  // .timeline-item {
  //   &__content-bottom {
  //     font-size: 10px;
  //     padding-top: 25px;
  //     text-align: left;
  //
  //     span { font-size: 12px; }
  //   }

    // &__content-title { margin-bottom: 25px; }

    // &__content-output-title { margin: 20px 0 15px; }

    // &__content-output-item { font-size: 12px; }
  .timeline {
    padding: 0 60px !important;

    &-item {
      flex-direction: column;
      padding: 25px 0;

      &:first-of-type {
        padding-top: 0;

        .timeline-item__icon::before {
          height: 100px;
          top: 100px;
        }
      }

      &:last-of-type {
        .timeline-item__icon::before {
          height: 100px;
          top: 25px;
        }
      }

      &:nth-of-type(2n) {
        flex-direction: column;

        .timeline-item__content {
          margin-left: 0;

          &-title { text-align: center; }

          &-description { text-align: justify; }

          &-output {
            &-title { text-align: center; }

            &-list {
              direction: initial;
              text-align: left;
            }
          }
        }
      }

      &__icon {
        width: 120px;
        height: 120px;

        &::before {
          content: '';
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 5px;
          height: 170px;
          background-color: $buzok;
          border: 0;
          border-radius: 0;
        }
      }

      &__content {
        max-width: 400px;
        width: 100%;

        &-title {
          margin: 45px 0 25px;
          text-align: center;
          font-size: 14px;
          margin-bottom: 25px;
        }

        &-bottom {
          font-size: 10px;
          padding-top: 25px;
          text-align: left;

          span { font-size: 12px; }
        }

        &-output {
          &-title {
            margin: 20px 0 15px;
            font-size: 14px;
            text-align: center;
          }

          &-list {
            direction: initial;
            text-align: left;
          }

          &-item { font-size: 12px; }
        }
      }
    }
  }

  .services .timeline-item { padding-bottom: 10px !important; }
}
