.mb-0 { margin-bottom: 0 !important; }
.mb-2 { margin-bottom: 20px; }
.mb-4 { margin-bottom: 40px; }
.mb-6 { margin-bottom: 60px; }
.mt-1 { margin-top: 10px; }
.mb-1 { margin-bottom: 10px; }
.mt-2 { margin-top: 20px; }
.vertical-p-8 { padding: 80px 0; }
.pt-6 { padding-top: 60px; }
.pt-9 { padding-top: 90px; }
.pb-9 { padding-bottom: 90px; }
.py-4 { padding: 40px 0; }
.py-9 { padding: 90px 0; }

.cera-regular { font-family: "FixelText-Regular", serif; }
.cera-bold { font-family: "FixelText-Bold", serif; }
.cera-medium { font-family: 'FixelText-Medium'; }
.inria-bold { font-family: "Inria Bold", serif; }
.inria-regular { font-family: "Inria Regular", serif; }
.blue { color: $sky-ua }
.text-upcase { text-transform: uppercase; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.purple-text { color: $purple-heart; }
.text-justify { text-align: justify; }
.text-center { text-align: center; }
.info-container { background: $main-gradient !important; }
.alabaster { background-color: $alabaster; }
.white-text { color: $white !important; }
b { font-family: "FixelText-Bold", serif; }

.flex-columns-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 767px) {
  .mb-4 { margin-bottom: 25px; }
  .mb-6 { margin-bottom: 40px; }
  .vertical-p-8 { padding: 60px 0; }
  .pt-6 { padding-top: 40px; }
  .pt-9 { padding-top: 60px; }
  .pb-9 { padding-bottom: 60px; }
  .py-9 { padding: 60px 0; }
}
