.mb-0 { margin-bottom: 0 !important; }
.mb-4 { margin-bottom: 40px; }
.mb-6 { margin-bottom: 60px; }
.mt-1 { margin-top: 10px; }
.mt-2 { margin-top: 20px; }

.cera-regular { font-family: "Cera Regular", serif; }
.cera-bold { font-family: "Cera-Bold", serif; }
.inria-bold { font-family: "Inria Bold", serif; }
.inria-regular { font-family: "Inria Regular", serif; }

@media (max-width: 767px) {
  .mb-4 { margin-bottom: 25px; }
}
