$alabaster:               #F7F7F7;
$azovstal:                #c1c9d6;
$black:                   #333;
$black_sea:               #2E2B33;
$buzok:                   #a49feb;
$dark_black:              #000;
$dark-purple:             #1b0b37;
$dark-violet:             #844ca9;
$deep_amethyst:           #9480a7;
$dusty-gray:              #979797;
$dusty-silver:            #969ea4;
$gray:                    #6a6a6a;
$kviten:                  #cd9feb;
$light-grey:              #dcdcdc;
$main-lilac:              #d4b8ea;
$main-violet:             #aa30be;
$medium_purple:           #8771DF;
$moon_raker:              #E9CDF4;
$palianytsia:             #fbdf89;
$pie-chart-border:        #a760cc;
$purple-heart:            #5723B5;
$scorpion:                #5C5C5C;
$silver:                  #C5C5C5;
$sky-ua:                  #8cc9fc;
$titan_white:             #F4F3FF;
$white:                   #fff;
$post-links:              #2a7ae2;
$ocean_light:             #e0effd;
$dark-theme-white:        #fff;
$dark-theme-black:        #000;

$rgba-white:              255,255,255;
$rgba-black:              0,0,0,1;

$main-gradient:        linear-gradient(135deg, $purple-heart, var(--purple));

$active-shadow:        inset 2px 2px 5px grey, inset -2px -2px 5px var(--white);
$violet-shadow:        inset 2px 7px 10px -5px #9c64d2, inset -4px -5px 16px #4c2b84;
$light-purple-shadow:  2px 2px 18px 2px rgba($dark_black, .15), inset 0px 4px 15px 0px rgba($dark_black, .15);
$main-shadow:          0px 4px 20px 0px rgba($dark_black, .2), inset -2px -2px 12px 0px rgba($dark_black, .25);
$violet-hover-shadow:  inset -1px 4px 13px -5px var(--white), inset -1px -5px 5px var(--amethyst-purple), 2px 1px 12px 0px $main-violet;
$violet-active-shadow: inset 0px 0px 15px 1px rgba($main-violet, .3);
$dark-main-shadow:     0px 4px 20px 0px rgba($white, .2), inset -2px -2px 12px 0px rgba($white, .25);

:root {
  --filter-invert:             invert(0);
  --white:                     #{$white};
  --black:                     #{$dark_black};
  --purple:                    #{$main-violet};
  --rgba-white:                #{$rgba-white};
  --carousel-bg:               #{$white};
  --body-color:                #{$black};
  --amethyst-purple:           #{$deep_amethyst};
  --lilac-sea:                 #{$main-lilac};
  --transparent-btn:           #{transparent};
  --main-shadow:               #{$main-shadow};
  --white-purple:              #{$white};
  --white-black:               #{$white};
  --transparent-gradient-dark: #{rgba($white, .5)};
  --transparent-white-btn:     #{rgba($white, 0.85)};
  --sky-post:                  #{$sky-ua};
  --sky-black:                 #{$sky-ua};
  --navbar-shadow:             #{rgba($dark_black, 0.25)};
  --white-gradient:            #{$alabaster};
  --technologies:              #{linear-gradient(135deg, $main-violet, $white, $white, $purple-heart)};
  --sea-white:                 #{$black_sea};
  --card-bg-rgba:              #{rgba($white, .4)};
  --transparent-dark-btn:      #{transparent};
  --lavender-purple:           #{#EBDEF5};
  --lilac-black:               #{$main-lilac};
  --crew-card-rgba:            #{rgba($white, .75)};

  .dark-text-inversion { h1,h2,h3,h4,p,div,li {color: var(--black) } }
}

@media (prefers-color-scheme: dark) {
  :root {
    --filter-invert:             invert(1) hue-rotate(180deg);
    --white:                     #{$dark_black};
    --black:                     #{$white};
    --purple:                    #{$dark-purple};
    --rgba-white:                #{$rgba-black};
    --carousel-bg:               #{$dark-purple};
    --body-color:                #{$white};
    --amethyst-purple:           #{#4c2b84};
    --lilac-sea:                 #{$black_sea};
    --transparent-btn:           #{rgba($dark-purple, .5)};
    --main-shadow:               #{$dark-main-shadow};
    --white-purple:              #{rgba($dark_black, .25)};
    --white-black:               #{$black};
    --transparent-gradient-dark: #{linear-gradient(to bottom, rgba($dark_black, .1), rgba($dark-purple, .7), rgba($dark-purple, .7))};
    --transparent-white-btn:     #{rgba($dark_black, .6)};
    --sky-post:                  #{$post-links};
    --sky-black:                 #{$dark-purple};
    --navbar-shadow:             #{rgba($white, 0.25)};
    --white-gradient:            #{linear-gradient(to top, rgba($dark_black, .1), rgba($dark-purple, .7), rgba($dark-purple, .7))};
    --technologies:              #{linear-gradient(135deg, $black_sea, $main-violet, $purple-heart)};
    --sea-white:                 #{$white};
    --card-bg-rgba:              #{rgba($dark_black, .25)};
    --transparent-dark-btn:      #{rgba($white, .9)};
    --lavender-purple:           #{$dark-purple};
    --lilac-black:               #{$dark_black};
    --crew-card-rgba:            #{rgba($dark_black, .5)};

  .dark-text-inversion { h1,h2,h3,h4,p,div,li {color: var(--black) } }

  .dark-background-dark-content { background-color: $black_sea; }
  }
}
