$alabaster:               #F7F7F7;
$azovstal:                #c1c9d6;
$black:                   #333;
$black_sea:               #2E2B33;
$buzok:                   #a49feb;
$dark-purple:             #1b0b37;
$dark-violet:             #844ca9;
$deep_amethyst:           #9480a7;
$dusty-gray:              #979797;
$dusty-silver:            #969ea4;
$gray:                    #6a6a6a;
$kviten:                  #cd9feb;
$light-grey:              #dcdcdc;
$main-lilac:              #d4b8ea;
$main-violet:             #aa30be;
$medium_purple:           #8771DF;
$moon_raker:              #E9CDF4;
$palianytsia:             #fbdf89;
$pie-chart-border:        #a760cc;
$purple-heart:            #5723B5;
$scorpion:                #5C5C5C;
$silver:                  #C5C5C5;
$sky-ua:                  #8cc9fc;
$titan_white:             #F4F3FF;
$white:                   #fff;
$post-links:              #2a7ae2;

$main-gradient:        linear-gradient(135deg, $main-violet, $purple-heart);

$active-shadow:        inset 2px 2px 5px grey, inset -2px -2px 5px $white;
$violet-shadow:        inset 2px 7px 10px -5px #9c64d2, inset -4px -5px 16px #4c2b84;
$light-purple-shadow:  inset -1px 4px 13px -5px $white, inset -1px -5px 5px $deep_amethyst, 2px 1px 12px 0px $deep_amethyst;
$main-shadow:          0px 4px 20px rgba(0, 0, 0, 0.2), inset -2px -2px 12px rgba(0, 0, 0, 0.25);
$violet-hover-shadow:  inset -1px 4px 13px -5px $white, inset -1px -5px 5px $deep_amethyst, 2px 1px 12px 0px $main-violet;
$violet-active-shadow: inset 0px 0px 15px 1px rgba($main-violet, 0.3);
