$alabaster:               #F7F7F7;
$azovstal:                #c1c9d6;
$black:                   #333;
$black_sea:               #2E2B33;
$buzok:                   #a49feb;
$dark_black:              #000;
$dark-purple:             #1b0b37;
$dark-violet:             #844ca9;
$deep_amethyst:           #9480a7;
$dusty-gray:              #979797;
$dusty-silver:            #969ea4;
$gray:                    #6a6a6a;
$kviten:                  #cd9feb;
$light-grey:              #dcdcdc;
$main-lilac:              #d4b8ea;
$main-violet:             #aa30be;
$medium_purple:           #8771DF;
$moon_raker:              #E9CDF4;
$palianytsia:             #fbdf89;
$pie-chart-border:        #a760cc;
$purple-heart:            #5723B5;
$scorpion:                #5C5C5C;
$silver:                  #C5C5C5;
$sky-ua:                  #8cc9fc;
$titan_white:             #F4F3FF;
$white:                   #fff;
$post-links:              #2a7ae2;
$ocean_light:             #e0effd;
$dark-theme-white:        #fff;
$dark-theme-black:        #000;

$rgba-white:              255,255,255;
$rgba-black:              0,0,0,1;

// $main-gradient:        linear-gradient(135deg, $main-violet, $purple-heart);
$main-gradient:        linear-gradient(135deg, $purple-heart, var(--purple));

$active-shadow:        inset 2px 2px 5px grey, inset -2px -2px 5px var(--white);
$violet-shadow:        inset 2px 7px 10px -5px #9c64d2, inset -4px -5px 16px #4c2b84;
$light-purple-shadow:  2px 2px 18px 2px rgba($dark_black, .15), inset 0px 4px 15px 0px rgba($dark_black, .15);
$main-shadow:          0px 4px 20px 0px rgba($dark_black, .2), inset -2px -2px 12px 0px rgba($dark_black, .25);
$violet-hover-shadow:  inset -1px 4px 13px -5px var(--white), inset -1px -5px 5px var(--amethyst-purple), 2px 1px 12px 0px $main-violet;
$violet-active-shadow: inset 0px 0px 15px 1px rgba($main-violet, .3);

:root {
  --filter-invert: invert(0);
  --white: #{$white};
  --black: #{$dark_black};
  --purple: #{$main-violet};
  --rgba-white: #{$rgba-white};
  --carousel-bg: #{$white};
  --daisy-bill: #{#231F20};
  --def-method: #{#212121};
  --pree-line: #{#2D1A46};
  --freestak: #{$dark_black};
  --body-color: #{$black};
  --amethyst-purple: #{$deep_amethyst};
  --lilac-sea: #{$main-lilac};
  --pie-purple: #{$pie-chart-border};
  --transparent-btn: #{transparent};
  .dark-text-inversion { h1,h2,h3,h4,p,div,li {color: var(--black) } }
}


@media (prefers-color-scheme: dark) {
  :root {
    --filter-invert: invert(1) hue-rotate(180deg);
    --white: #{$dark_black};
    --black: #{$white};
    --purple: #{$dark-purple};
    --rgba-white: #{$rgba-black};
    --carousel-bg: #{$dark-purple};
    --daisy-bill: #{$white};
    --def-method: #{$white};
    --pree-line: #{$white};
    --freestak: #{$white};
    --body-color: #{$white};
    --amethyst-purple: #{#4c2b84};
    --lilac-sea: #{$black_sea};
    --pie-purple: #{#4c2b84};
    --transparent-btn: #{rgba($dark-purple, .5)};
  .dark-text-inversion { h1,h2,h3,h4,p,div,li {color: var(--black) } }
  .dark-background-dark-content { background-color: $black_sea; }
  }
}
