.web_dev_services {
  &__list {
    .header-3 {
      margin-bottom: 30px;
      font-size: 22px;
    }

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;

      img { max-width: 250px; }
    }

    &-text {
      margin: 0;
      padding-left: 8em;
      font-size: 18px;
      text-align: justify;
    }

    &-item:not(:last-child) { margin-bottom: 25px; }
  }

  &__main {
    background-image: linear-gradient(to right top, $moon_raker, #F7EFFC, $moon_raker);

    .description { margin: 50px 0; }
  }

  &__web_solutions {
    background-image: linear-gradient(to bottom, $white, $palianytsia);
    box-shadow: 0px 0px 15px 0px $moon_raker;

    .header-2 {
      &:first-child {
        max-width: 75%;
        margin-bottom: 50px;
      }

      &:last-child { margin-top: 50px; }
    }

    .header-3 { margin-bottom: 40px; }

    img {
      max-width: 400px;
      width: 100%;
      mix-blend-mode: luminosity;
    }
  }

  &__full_stack {
    background: center/cover no-repeat url('/assets/images/web_development_services/web_dev_bg.webp');
    background-color: $dark-purple;
    margin-top: -2vh;
    margin-bottom: -25px;

    &.wrap { padding-bottom: 105px; }

    .header-3 { margin-bottom: 50px; }

    .description {
      color: $buzok;

      &:not(:last-child) { margin-bottom: 30px; }
    }

    &-list {
      list-style: none;
      margin: 60px 0;
      padding-left: 75px;

      &-item {
        position: relative;
        margin-bottom: 1.5em;
        color: $white;
        font-size: 18px;
        line-height: 1.8;
        text-align: justify;

        &::after {
          content: "";
          position: absolute;
          left: -75px;
          top: 50%;
          transform: translateY(-50%);
          width: 3em;
          height: 3em;
          background: center/cover no-repeat url('/assets/images/team_extension/tick.webp');
          mix-blend-mode: luminosity;
        }
      }
    }
  }

  &__customized_approach {
    background-image: linear-gradient(to bottom, $buzok, $white, $white);
    box-shadow: inset -6px 20px 15px -12px #6b6897;

    .list-with-images {
      margin-bottom: 0;

      &__item:last-child { margin-bottom: 0; }
    }
  }

  &__technologies {
    background: center/cover no-repeat url('/assets/images/expertise/technologies-bg.webp');

    .header-2 {
      margin-bottom: 60px;
      font-size: 30px;
    }

    .button { background: $main-gradient; }
  }

  &__our_approach {
    background: $main-gradient;
    box-shadow: 0px 0px 20px -3px #6b6897;

    &.wrap { padding-top: 75px; }

    .header-2 {
      margin-bottom: 50px;
      font-size: 30px;
    }

    .description:not(:last-child) { margin-bottom: 1.5em; }
  }

  &__solutions {
    background-image: linear-gradient(to bottom, rgba($moon_raker, .5), $white);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    .about_us_info__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 65px;
    }

    .about_us_info__items { flex-direction: column; }

    .about_us_info__item {
      width: 24%;
      flex-direction: column;
      color: $purple-heart;
      text-align: center;
    }

    .about_us_info__item-image {
      background: linear-gradient(135deg, $main-violet, $purple-heart);
      border-color: $kviten;
      margin-bottom: 10px;

      p { -webkit-text-fill-color: $white; }
    }
  }

  &__industries {
    padding: 70px 0 80px;

    .button {
      color: $white;
      background: $buzok;

      &:hover { color: $black;}
    }
  }

  .development__cards {
    .header-2 { margin-top: 55px; }

    .cards-container {
      margin-bottom: 0;

      .card {
        justify-content: space-between;

        &__description { margin: 30px 0; }

        .button { margin-top: 50px; }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .web_dev_services {
    .wrap:first-child { padding-top: 100px; }

    &__list {
      .header-3 { font-size: 14px; }

      &-wrap {
        flex-wrap: wrap;

        img { max-width: 125px; }
      }

      &-text {
        padding-inline-start: 1em;
        font-size: 12px;

        &.list_with_columns {
          columns: 2;

          li:nth-last-child(-n+4) { margin-left: 2vh; }
        }
      }

      img {
        margin-bottom: 30px;
        padding: 10px;
      }
    }

    &__main {
      .wrapper { padding: 0 50px; }

      .description {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    &__web_solutions {
      &.wrap { padding-bottom: 70px; }

      .wrapper { padding: 0 50px; }

      img { max-width: 205px; }

      .header-2:first-child {
        max-width: 100%;
        margin-bottom: 30px;
      }

      .header-3 { margin-bottom: 30px; }
    }

    &__full_stack {
      margin-top: -20px;
      margin-bottom: -50px;
      background-position: 77% 75%;

      &.wrap { padding-bottom: 110px; }

      .header-3 { margin-bottom: 30px; }

      &-list {
        padding-inline-start: 0;
        margin: 40px 0;

        &-item {
          font-size: 12px;
          margin-top: 50px;
          margin-bottom: 50px;

          &::after {
            left: 50%;
            transform: translate(-50%);
            top: -40px;
          }
        }
      }

      .description:not(:last-child) { margin-bottom: 20px; }
    }

    &__technologies {
      img.mobile-only  { max-width: 78vw; }

      .header-2 {
        font-size: 14px;
        margin-bottom: 40px;
      }
    }

    &__solutions {
      &.wrap { padding-bottom: 25px; }

      .about_us_info__container {
        margin-top: 45px;
        justify-content: center;
      }

      .about_us_info__item {
        width: 45%;
        padding-bottom: 30px;

        &-image { margin-right: 0; }
      }

      .development__awards { margin-top: 0; }
    }

    &__our_approach {
      &.wrap {
        padding-top: 35px;
        padding-bottom: 35px;
      }

      .header-2 {
        margin-bottom: 25px;
        font-size: 14px;
      }

      .description:not(:last-child) { margin-bottom: 0; }
    }

    &__contract_approaches.development__cards {
      .header-2 { margin: 30px 0; }

      .cards-container {
        margin-top: 0;

        .card { max-width: 310px; }
      }
    }

    &__industries { padding: 30px 0 50px; }
  }
}
