.web_dev_services {
  &__list {
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 250px;
        width: 33vw;
      }
    }

    &-text {
      margin: 0;
      padding-left: 8em;
      font-size: 18px;
      text-align: justify;
    }

    &-item:not(:last-child) { margin-bottom: 1.5em; }
  }

  &__main {
    background-image: linear-gradient(to right top, $moon_raker, #F7EFFC, $moon_raker);
  }

  &__web_solutions {
    background-image: linear-gradient(to bottom, $white, $palianytsia);
    box-shadow: 0px 0px 15px 0px $moon_raker;

    img {
      max-width: 25em;
      width: 100%;
      mix-blend-mode: luminosity;
    }
  }

  &__full_stack {
    background: center/cover no-repeat url('/assets/images/web_development_services/web_dev_bg.webp');
    background-color: $dark-purple;
    margin-top: -2vh;
    margin-bottom: -25px;
    .description { color: $buzok; }

    &-list {
      list-style: none;
      margin: 60px 0;
      padding-left: 75px;

      &-item {
        position: relative;
        margin-bottom: 1.5em;
        color: $white;
        font-size: 18px;
        line-height: 1.8;
        text-align: justify;

        &::after {
          content: "";
          position: absolute;
          left: -75px;
          top: 50%;
          transform: translateY(-50%);
          width: 3em;
          height: 3em;
          background: center/cover no-repeat url('/assets/images/team_extension/tick.webp');
          mix-blend-mode: luminosity;
        }
      }
    }
  }

  &__customized_approach {
    background-image: linear-gradient(to bottom, $buzok, $white, $white);
    box-shadow: inset -6px 20px 15px -12px #6b6897;
  }

  &__technologies {
    background: center/cover no-repeat url('/assets/images/expertise/technologies-bg.webp');

    .button {
      margin-top: 8vh;
      background: $main-gradient;
    }
  }

  &__our_approach {
    background: $main-gradient;
    box-shadow: 0px 0px 20px -3px #6b6897;
  }

  &__solutions {
    background-image: linear-gradient(to bottom, rgba($moon_raker, .5), $white);
    box-shadow: 0px 4px 25px 0px rgba($purple-heart, .25);

    .about_us_info__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 7vh;
    }
    .about_us_info__items { flex-direction: column; }

    .about_us_info__item {
      width: 24%;
      flex-direction: column;
      color: $purple-heart;
      text-align: center;
    }

    .about_us_info__item-image {
      background: linear-gradient(135deg, $main-violet, $purple-heart);
      border-color: $kviten;
      margin-bottom: 10px;
      p { -webkit-text-fill-color: $white; }
    }
  }

  &__industries {
    #web_dev_button {
      color: $white;
      background: $buzok;
      max-width: 470px;
      box-sizing: border-box;

      &:hover { color: $black;}
    }
  }

  .development__cards {
    .cards-container {
      .card { justify-content: space-between; }
      .card__description { margin: 30px 0; }
    }
  }
}

@media screen and (max-width: 700px) {
  .web_dev_services {
    &__list {

      &-wrap {
        flex-wrap: wrap;
        justify-content: center;
      }

      &-text {
        padding-inline-start: 1em;
        font-size: .8em;

        &.list_with_columns {
          columns: 2;
          li:nth-last-child(-n+4) { margin-left: 2vh; }
        }
      }
      img { margin-bottom: 30px; }
    }

    &__web_solutions { img { width: 55vw; } }

    &__full_stack {
      margin-top: -3vh;
      margin-bottom: -5vh;
      background-position: 77% 75%;

      &-list {
        padding-inline-start: 0;

        &-item {
          font-size: .8em;
          margin-top: 10vh;

          &::after {
            left: 50%;
            transform: translate(-50%);
            top: -8vh;
          }
        }
      }
    }

    &__technologies {
      img.mobile-only  { max-width: 78vw; }
      .button { margin-top: 4vh; }
    }
    &__solutions .about_us_info__item { width: 45%; }
    &__industries #web_dev_button { max-width: 300px; }
  }
}
