---
permalink: /services/mobile-app-development
layout: default
title: React Native Development Services | Active Bridge
description: We build responsive mobile applications with rich features and solid
             security helping businesses to stay lean and build agile.
date-modified: "2024-04-01"
scripts: [animation, carousel]
json-ld: mobile-app-development
---

<div class="container mob_dev_services development">
  <div class="mob_dev_services__main wrap">
    <div class="wrapper">
      <p class="page-title">{{ site.data.mob_dev_services.page-title }}</p>
      <p class="message inria-bold">{{ site.data.mob_dev_services.subtitle }}</p>
      <p class="description white-text mb-4">{{ site.data.mob_dev_services.description }}</p>
      <h2 class="block-sub-title">{{ site.data.mob_dev_services.industries_title }}</h2>
      <div class="list-with-images horizontal">
        {% for item in site.data.mob_dev_services.industries %}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon">
              <img src="/assets/images/mob_development_services/{{ item.icon }}" alt="Industry">
            </div>
            <div class="list-with-images__item-text">
              <h3 class="message inria-bold white-text mt-1 mb-0">{{ item.title }}</h3>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="mob_dev_services__cross_platform wrap development__cards">
    <div class="wrapper dark-text-inversion">
      <h1 class="block-cera-title">{{ site.data.mob_dev_services.cross_platform.title }}</h1>
      <p class="message inria-bold">{{ site.data.mob_dev_services.cross_platform.description }}</p>
      <div class="cards-container">
        {% for item in site.data.mob_dev_services.cross_platform.all %}
          <div class="card">
            <h3 class="card__title-2">{{ item.title }}</h3>
            <div class="card__icon">
              <img src="/assets/images/mob_development_services/{{ item.icon }}" alt="Icon">
            </div>
            <p class="card__description">{{ item.description }}</p>
          </div>
        {% endfor %}
      </div>
      <p class="message inria-bold mt-2">{{ site.data.mob_dev_services.cross_platform.subtitle }}</p>
    </div>
  </div>

  <div class="mob_dev_services__react_native wrap">
    <div class="wrapper dark-text-inversion">
      <h2 class="block-cera-title">{{ site.data.mob_dev_services.react_native.title }}</h2>
      <p class="description">{{ site.data.mob_dev_services.react_native.description }}</p>
      <div class="list-with-images">
        {% for item in site.data.mob_dev_services.react_native.all %}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon">
              <img src="/assets/images/mob_development_services/{{ item.icon }}" alt="Icon">
            </div>
            <div class="list-with-images__item-text">
              <h3 class="message inria-bold mb-0 mt-2">{{ item.title }}</h3>
              <p class="description">{{ item.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="mob_dev_services__flutter wrap">
    <div class="wrapper">
      <h2 class="block-cera-title">{{ site.data.mob_dev_services.flutter.title }}</h2>
      <p class="description mb-4">{{ site.data.mob_dev_services.flutter.description_1 }}</p>
      <p class="description">{{ site.data.mob_dev_services.flutter.description_2 }}</p>
      <div class="list-with-images">
        {% for item in site.data.mob_dev_services.flutter.all %}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon">
              <img src="/assets/images/mob_development_services/{{ item.icon }}" alt="Icon">
            </div>
            <div class="list-with-images__item-text">
              <h3 class="message inria-bold mb-0 mt-2">{{ item.title }}</h3>
              <p class="description">{{ item.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="mob_dev_services__ionic wrap">
    <div class="wrapper">
      <h2 class="block-cera-title white-text">{{ site.data.mob_dev_services.ionic.title }}</h2>
      <p class="description white-text">{{ site.data.mob_dev_services.ionic.description }}</p>
      <div class="list-with-images">
        {% for item in site.data.mob_dev_services.ionic.all %}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon">
              <img src="/assets/images/mob_development_services/{{ item.icon }}" alt="Icon">
            </div>
            <div class="list-with-images__item-text">
              <h3 class="message inria-bold white-text mb-0 mt-2">{{ item.title }}</h3>
              <div class="description white-text">{{ item.description }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="mob_dev_services__approaches dark-text-inversion">
    <div class="wrapper">
      <div class="vertical-p-8">
        <h2 class="block-cera-title">{{ site.data.mob_dev_services.approaches.title }}</h2>
        <p class="message inria-bold mb-0">{{ site.data.mob_dev_services.approaches.subtitle }}</p>
      </div>
    </div>
    <div class="wrapper timeline solutions-first-animated-cards animated-cards" data-animation="snake">
      <svg class="desktop-svg" viewBox="0 0 891 2998" fill="none" preserveAspectRatio="none">
        <path class="svg-path" d="M2 240.5V0V310.5C2.16667 318.667 7.3 335 26.5 335C45.7 335 586.833 335 855 335C865 337.167 885 346.2 885 365C885 383.8 884 653.833 883.5 786.5C882.5 795.667 875.6 814 856 814C836.4 814 298.5 814 32 814C23 815.167 4.9 822.3 4.5 841.5C4.1 860.7 4.33333 1130.5 4.5 1263C5.33333 1272.83 12.4 1292.5 34 1292.5C55.6 1292.5 592 1292.5 857.5 1292.5C867.5 1293.17 887.5 1300.1 887.5 1322.5C887.5 1344.9 887.5 1614.83 887.5 1747C885.667 1755.67 877.8 1773.1 861 1773.5C844.2 1773.9 303 1774.67 34.5 1775C25.5 1776.5 7.5 1784 7.5 1802C7.5 1820 7.5 2092.5 7.5 2226.5C9.66667 2235.5 18.1 2253.5 34.5 2253.5C50.9 2253.5 593 2253.5 862 2253.5C871.167 2255.33 889.5 2263.4 889.5 2281C889.5 2298.6 889.5 2573.33 889.5 2708.5C888.333 2716.83 881.7 2733.5 864.5 2733.5C847.3 2733.5 326.667 2733.5 68.5 2733.5C59 2734.67 40.1 2741.9 40.5 2761.5C40.9 2781.1 40.6667 2927 40.5 2997.5" stroke="#A49FEB" stroke-width="3"/>
      </svg>
      {% for item in site.data.mob_dev_services.approaches.all %}
        <div class="timeline-item">
          <div class="timeline-item__icon">
            <img src="/assets/images/mob_development_services/{{ item.icon }}" alt="Approach">
          </div>
          <div class="timeline-item__content">
            <h3 class="timeline-item__content-title inria">{{ item.title}}</h3>
            <p class="timeline-item__content-description">{{ item.description}}</p>
            {% if item.output %}
              <div class="timeline-item__content-output">
                <p class="timeline-item__content-output-title">{{ site.data.mob_dev_services.approaches.output }}</p>
                <ul class="timeline-item__content-output-list">
                  {% for el in item.output %}
                    <li class="timeline-item__content-output-item">{{ el.text }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="development__cards wrap mob_dev_services__engagement-models">
    <div class="wrapper dark-text-inversion">
      <h2 class="block-cera-title">{{ site.data.ror_dev_services.engagement_models.title }}</h2>
      <p class="message inria-bold">{{ site.data.ror_dev_services.engagement_models.subtitle }}</p>
      <div class="cards-container">
        {% for item in site.data.ror_dev_services.engagement_models.all %}
          <div class="card">
            <h3 class="card__title-2">{{ item.title }}</h3>
            <p class="card__description">{{ item.description }}</p>
            <a href="{{ item.link }}" class="button" id="mob_app_{{ item.index }}" data-link="transition">
              {{ site.data.web_dev_services.button }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include services_development_consultation.html %}
</div>
