---
permalink: /services/project-development-cooperation
layout: default
title: Full-Stack Web Application Development | Active Bridge
description: Our neatly organized web project development process allows us to
             deliver scalable reliable applications faster.  Developers' expertise
             is our main asset.
scripts: [animation]
json-ld: project-development-cooperation
---

<div class="container project_dev_services development">
  <div class="project_dev_services__main">
    <div class="wrapper dark-text-inversion">
      <div class="header-3">{{ site.data.project_development.title }}</div>
      <div class="header-2 with-margin">
        {{ site.data.project_development.subtitle_1 }}
      </div>
      <div class="description">
        {{ site.data.project_development.description_1 }}
      </div>
      <div class="header-2 with-margin">
        {{ site.data.project_development.subtitle_2 }}
      </div>
      <div class="list-with-images horizontal">
        {% for item in site.data.project_development.level %}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon">
              {% include svgs/services/{{ item.icon }} %}
            </div>
            <div class="list-with-images__item-text">
              <div class="description">{{ item.title }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="description">
        {{ site.data.project_development.description_2 }}
      </div>
      <div class="header-2 with-margin">
        {{ site.data.project_development.subtitle_3 }}
      </div>
      <div class="list-with-images horizontal">
        {% for item in site.data.project_development.contract %}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon">
              <img src="/assets/images/project_development/{{ item.icon }}" alt="Contract">
            </div>
            <div class="list-with-images__item-text">
              <div class="description">{{ item.description }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="project_dev_services__key_benefits wrap">
    <div class="wrapper dark-text-inversion">
      <h1 class="header-3">{{ site.data.project_development.key_benefits.title }}</h1>
      <div class="list-with-images horizontal">
        {% for item in site.data.project_development.key_benefits.all %}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon">
              <img src="/assets/images/project_development/{{ item.icon }}" alt="Key">
            </div>
            <div class="list-with-images__item-text">
              <div class="description">{{ item.description }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="header-2 with-margin">
        {{ site.data.project_development.key_benefits.subtitle }}
      </div>
    </div>
  </div>

  <div class="project_dev_services__workflow">
    <div class="wrap">
      <h2 class="header-3 white-text">
        {{ site.data.project_development.workflow.title }}
      </h2>
    </div>
    <div class="timeline wrapper timeline animated-cards" id="snake-animation-block">
      <svg class="desktop-svg" viewBox="0 0 863 2496" fill="none" preserveAspectRatio="none">
        <path class="svg-path" d="M2.5 135V0.5V221C4 233 13.2 256.9 38 256.5C62.8 256.1 572 256.333 823.5 256.5C835.333 257 859.2 265 860 293C860.8 321 860.333 583.333 860 711C860.667 724.833 853.4 752.4 819 752C784.6 751.6 698.333 751.833 659.5 752H37C25.8333 753.5 3.5 762.3 3.5 785.5C3.5 808.7 3.5 1076.5 3.5 1207.5C3.83333 1220.33 12.1 1246.1 42.5 1246.5C72.9 1246.9 577.833 1246.67 826.5 1246.5C837.5 1247.5 859.5 1255.5 859.5 1279.5C859.5 1303.5 859.5 1572.83 859.5 1704.5C859 1717.17 850.7 1742.5 821.5 1742.5C792.3 1742.5 283.333 1742.5 32.5 1742.5C22.5 1744.33 2.6 1752.8 3 1772C3.4 1791.2 3.16667 2066 3 2201C4.33333 2212.83 13.5 2236.7 39.5 2237.5C65.5 2238.3 93 2237.83 103.5 2237.5H827.5C837.5 2238.33 857.8 2245.6 859 2268C860.2 2290.4 859.5 2428.67 859 2495" stroke="#AA30BE" stroke-width="3"/>
      </svg>
      {% for item in site.data.project_development.workflow.all %}
        <div class="timeline-item {{item.class}}">
          <div class="timeline-item__icon">
            <img src="/assets/images/project_development/{{ item.icon }}" alt="Workflow">
          </div>
          <div class="timeline-item__content">
            <div class="timeline-item__content-title inria white-text">
              {{ item.title }}
            </div>
            <div class="timeline-item__content-description white-text">
              {{ item.description }}
            </div>
            {% if item.class %}{% include svgs/services/project-dev-circle.html %}{% endif %}
            <div class="timeline-item__content-output">
              <div class="timeline-item__content-output-title">
                {{ site.data.project_development.workflow.client_gets_title }}
              </div>
              <ul class="timeline-item__content-output-list">
                {% for el in item.client_gets %}
                  <li class="timeline-item__content-output-item">{{ el.item }}</li>
                {% endfor %}
              </ul>
              <div class="timeline-item__content-bottom white-text">
                <span class="inria">
                  {{ site.data.project_development.workflow.tools }}
                </span>
                {{ item.tools }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="development__cards wrap flex-columns-center">
    <div class="wrapper flex-columns-center dark-text-inversion">
      <div class="header-2">
        {{ site.data.team_extension.services.title }}
      </div>
      <div class="cards-container">
        {% for item in site.data.team_extension.services.all %}
          <div class="card">
            <div class="card__title-2">{{ item.title }}</div>
            <div class="card__icon">
              <img src="/assets/images/team_extension/{{ item.icon }}" alt="Service">
            </div>
            <div class="card__description">{{ item.description }}</div>
          </div>
        {% endfor %}
      </div>
      <a id="project_dev_button" class="button" href="/services" data-link="transition">
        {{ site.data.team_extension.services.button }}
      </a>
    </div>
  </div>

  {% include faq_bottom.html %}
</div>
