---
permalink: /about/team
layout: default
title: Our Team of Professional Rails Developers | Active Bridge
description: Our remote full-stack developers drive our clients through the whole
             process of building, launching, and scaling their solutions.
             Contact us to see how we can help
date-modified: "2024-04-01"
json-ld: team
type: team
redirect_from:
  - /team
---

<div class="container team">
  <div class="team__main wrap">
    <div class="wrapper white-text" style="view-transition-name: team;">
      <p class="page-title">{{ site.data.team.page-title}}</p>
      <p class="block-inria-title white-text">{{ site.data.team.title }}</p>
      <p class="message white-text inria-regular">{{ site.data.team.subtitle_1 }}</p>
      <p class="description text-justify white-text">{{ site.data.team.description }}</p>
    </div>
  </div>

  <div class="team__help">
    <div class="wrapper">
      <p class="message inria-bold mb-0">{{ site.data.team.subtitle_2 }}</p>
    </div>
  </div>

  <div class="team__people wrap">
    <div class="wrapper">
      <h1 class="block-cera-title">{{ site.data.team.ab_people.title }}</h1>
      <h2 class="message inria-bold mb-4">{{ site.data.team.ab_people.subtitle }}</h2>
      <p class="description">{{ site.data.team.ab_people.description }}</p>
    </div>
  </div>

  <div class="team__crew wrap">
    <div class="wrapper">
      <p class="block-cera-title mb-0">{{ site.data.about.crew.title }}</p>
      {% include crew.html %}
    </div>
  </div>

  <div class="team__important_things wrap">
    <div class="wrapper">
      <h2 class="message inria-bold">{{ site.data.team.important_things.title }}</h2>
      <div class="list-with-images horizontal">
        {% for item in site.data.team.important_things.items %}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon">
              <img src="/assets/images/team/{{ item.icon }}" alt="Icon">
            </div>
            <div class="list-with-images__item-text">
              <p class="message inria-bold mb-0 mt-2">{{ item.title }}</p>
              <p class="description">{{ item.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="team__photo"></div>

  <div class="team__expertise wrap development__cards">
    <div class="wrapper">
      <p class="message inria-bold">{{ site.data.team.expertise.title }}</p>
      <p class="description">{{ site.data.team.expertise.description }}</p>
      {% include dev_expertise_cards.html %}
    </div>
  </div>
  {% include faq_bottom.html %}
</div>
