---
permalink: /solutions/ecommerce-case
layout: default
title: Retails & eCommerce Development Solutions | Active Bridge
date-modified: "2024-04-01"
description: We help you to reach your customers on the go with a cross-platform eCommerce app
             design and development solutions. Have a project idea? Let's talk
json-ld: ecommerce-case
---

<section class="ecommerce solutions_cases">
  <div class="ecommerce__main wrap development__cards">
    <div class="wrapper">
      <p class="page-title white-text">{{ site.data.e_commerce.page-title}}</p>
      <h1 class="block-inria-title white-text">{{ site.data.e_commerce.title }}</h1>
      <p class="description white-text text-justify">{{ site.data.e_commerce.description }}</p>
      <div class="cards-container">
        {% for item in site.data.e_commerce.cards%}
          <div class="card">
            <h3 class="card__title-2 white-text mb-2">{{ item.title }}</h3>
            <div class="card__icon">
              <img src= "/assets/images/ecommerce/{{ item.icon }}.webp" alt="icon">
            </div>
            <p class="card__description white-text">{{ item.description }}</p>
          </div>
        {% endfor %}
      </div>
      <h2 class="block-sub-title white-text">{{ site.data.e_commerce.expertise_title }}</h2>
      <div class="list-with-images horizontal">
        {% for item in site.data.e_commerce.expertise %}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon">
              <img src= "/assets/images/ecommerce/{{ item.icon }}.webp" alt="icon">
            </div>
            <div class="list-with-images__item-text">
              <p class="message inria-bold white-text mb-0 mt-1">{{ item.title }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="ecommerce__help">
    <div class="wrapper">
      <h2 class="message cera-bold text-upcase">{{ site.data.e_commerce.help_title }}</h2>
      <div class="list-with-images">
        {% for item in site.data.e_commerce.help%}
        <div class="list-with-images__item">
          <div class="list-with-images__item-icon">
            <img src= "/assets/images/insurtech/{{ item.icon }}.webp" alt="icon">
          </div>
          <div class="list-with-images__item-text">
            <h3 class="message inria-bold mb-0 mt-1">{{ item.title }}</h3>
            <p class="description text-justify">{{ item.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="solutions_cases__case_study">
    <div class="wrapper">
      <h2 class="block-cera-title">{{ site.data.e_commerce.case_study.title }}</h2>
      <p class="message inria-bold mb-0">{{ site.data.e_commerce.case_study.subtitle }}</p>
      <div class="solutions_cases__case_study_top">
        <ul class="solutions_cases__case_study_list">
          {% for element in site.data.e_commerce.case_study.top_info %}
            <li class="solutions_cases__case_study_list_item">{{ element.item}}</li>
          {% endfor %}
        </ul>
        <div class="solutions_cases__case_study_image">
          <img src= "/assets/images/ecommerce/ecommerce.webp" alt="image">
        </div>
      </div>
      <div class="solutions_cases__case_study_bottom">
        <ul class="solutions_cases__case_study_bottom_list">
          {% for element in site.data.e_commerce.case_study.bottom_info %}
            <li>
              <h3 class="message inria-bold mb-0 mt-1">{{ element.title }}</h3>
              <div class="description text-justify mt-2 mb-4">{{ element.description }}</div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="ecommerce__project">
    <div class="wrapper">
      <h2 class="message cera-bold text-upcase white-text">{{ site.data.e_commerce.project.title }}</h2>
      <div class="list-with-images">
        {% for item in site.data.e_commerce.project.info%}
          <div class="list-with-images__item">
            <div class="list-with-images__item-icon big-img">
              <img src= "/assets/images/ecommerce/{{ item.icon }}.webp" alt="icon">
            </div>
            <div class="list-with-images__item-text">
              <h3 class="message inria-bold mb-0 mt-1 white-text">{{ item.title }}</h3>
              <p class="description white-text text-justify">{{ item.description }}</p>
              <p class="message inria-bold mb-0 mt-1 purple-text">{{ site.data.e_commerce.project.features }}</p>
              <ul class="list-with-images__item_elements mt-1">
                {% for element in item.elements %}
                  <li class="list-with-images__item_element purple-text">{{ element.item }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
      <a href="/solutions" class="button white-text" data-link="transition">{{ site.data.healthcare_hipaa.solutions.button }}</a>
    </div>
  </div>
  {% include solutions_bottom.html %}
</section>
