---
---
@import "variables";
@import "view_transitions";
@import "buttons";
@import "navbar";
@import "footer";
@import "carousel";
@import "index";
@import "about";
@import "expertise";
@import "crew";
@import "accordion";
@import "public_404";
@import "privacy_policy";
@import "faq";
@import "team";
@import "development";
@import "list-with-images";
@import "contacts";
@import "services";
@import "timeline";
@import "solutions";
@import "solutions_cases";
@import "healthcare_hipaa";
@import 'web_dev_services';
@import "taxi_and_transportation";
@import "insurtech";
@import "marketplace";
@import "ecommerce";
@import "reviews";
@import "ror_dev_services";
@import "mob_dev_services";
@import "staff_augmentation_services";
@import "project_dev_services";
@import "cards_snake_animation";
@import "blog";

@font-face {
  font-family: 'Cera Regular';
  src: url(/assets/fonts/Cera.woff2);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera-Bold';
  src: url(/assets/fonts/Cera-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Cera-Medium';
  src: url(/assets/fonts/Cera-Medium.woff2);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inria Bold';
  src: url(/assets/fonts/InriaSerif-Bold.woff2);
  font-weight: bold;
  font-display: swap;
}

p { margin: 0; }

body {
  color: $black;
  font-family: 'Cera Regular', serif;
  -webkit-tap-highlight-color: transparent;
}

a:hover { text-decoration: none !important; }

a:visited { color: $black; }

ul, ol { margin-left: 0; }

.top-section {
  animation: fill 1s ease-out;
  left: -10%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 6vh;
  width: 100%;
  svg { width: 140vw; }
}

.white-text { color: $white !important; }

.header-1 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.6em;
}

.header-2 {
  margin: 0 auto;
  font-family: 'Inria Bold', serif;
  font-size: 22px;
}

.header-3 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  line-height: 1.6;
}

.header-4 { font-size: 1.2em; }

.header-5 {
  font-size: 1.4em;
  font-family: 'Inria Bold', serif;
  line-height: 1.8em;
}

.inria { font-family: 'Inria Bold', serif; }

.inria-regular { font-family: 'Inria', serif; }

.alabaster { background-color: $alabaster; }

.info-container { background: $main-gradient; }

.card {
  margin: 0 2vw 25px;
  padding: 40px 30px;
  border-radius: 30px;
  background: $white;
  box-shadow: $main-shadow;

  &__title-2 {
    font-family: 'Inria Bold', serif;
    font-size: 1.8em;
    line-height: 1.6em;
  }

  &__icon { margin-top: 25px; }
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description {
  text-align: center;
  font-size: 18px;
  line-height: 1.8em;

  &.justify-center {
    text-align: justify;
    text-align-last: center;
  }

  &.with-padding { padding: 0 25%; }

  &.with-margin { margin: 45px auto; }
}

.text-justify { text-align: justify; }

.text-center { text-align: center; }

.container {
  padding-top: 60px;
  width: 100%;
  text-align: center;
  transition: width .5s;

  &.index { padding: 0; }
}

.desktop-only {
  @media (max-width: 767px){
    display: none!important;
  }
}

.mobile-only {
  @media (min-width: 768px){
    display: none!important;
  }
}

.wrap { padding: 100px 0 80px; }

@keyframes fill {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.flex-columns-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 990px;
  text-align: center;
  padding: 0 30px;
}

.purple-text { color: $purple-heart; }

.body-content {
  display: flex;
  flex-direction: column-reverse;
}

b { font-family: "Cera-Bold", serif; }

@media (max-width: 1200px) {
  .top-section {
    left: -5%;
    svg { width: 140vw; }
  }
}

@media (max-width: 930px) {
  .main-svg { display: none;}
}

@media (max-width: 767px) {
  .container { padding-top: 0; }
  
  .wrap { padding: 50px 0; }

  .body-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar { display: none; }

    &__main-section {
      overflow-y: auto;
      overflow-x: auto;
      width: 100%;
      flex: 0 0 auto;
      position: relative;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      scrollbar-width: none;
      &::-webkit-scrollbar { display: none; }
    }

    &__navigation {
      position: relative;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }

    &__navigation-links {
      position: sticky;
      box-sizing: border-box;
      background: linear-gradient(#aa30be, #5723B5);
      top: 0;
      height: 100%;
      width: 70vw;
      padding: 5vw 0 0 10vw;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      z-index: 3;
    }
  }

  // .header-5 { font-size: 1em; }

  .header-3 { font-size: 18px; }

  .header-2 {
    font-size: 14px;
    line-height: 1.8;
  }

  .description {
    font-size: 12px;
    // color: $black;
  }

  .description.with-padding { padding: 0 8%; }
}
