---
---
@import "variables";
@import "view_transitions";
@import "buttons";
@import "navbar";
@import "footer";
@import "new_carousel";
@import "index";
@import "about";
@import "carousel";
@import "expertise";
@import "crew";
@import "accordion";
@import "public_404";
@import "privacy_policy";
@import "faq";
@import "team";
@import "development";
@import "list-with-images";
@import "contacts";
@import "services";
@import "timeline";
@import "solutions";
@import "solutions_cases";
@import "healthcare_hipaa";
@import 'web_dev_services';
@import "taxi_and_transportation";
@import "insurtech";
@import "marketplace";
@import "ecommerce";
@import "reviews";
@import "ror_dev_services";
@import "mob_dev_services";
@import "staff_augmentation_services";
@import "project_dev_services";
@import "cards_snake_animation";
@import "blog";

@font-face {
  font-family: 'Cera Regular';
  src: url(/assets/fonts/Cera.otf);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera-Bold';
  src: url(/assets/fonts/Cera-Bold.otf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Cera-Medium';
  src: url(/assets/fonts/Cera-Medium.otf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inria Bold';
  src: url(/assets/fonts/InriaSerif-Bold.ttf);
  font-weight: bold;
  font-display: swap;
}

p { margin: 0; }

body { font-family: 'Cera Regular', serif; }

a:hover { text-decoration: none !important; }

a:visited { color: $black; }

ul, ol { margin-left: 0; }

.top-section {
  animation: fill 1s ease-out;
  left: -10%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 6vh;
  width: 100%;
  svg { width: 140vw; }
}

.white-text { color: $white !important; }

.header-1 {
  color: $black;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.6em;
  margin-right: -.6em;
}

.header-2 {
  max-width: 45%;
  margin: 0 auto;
  color: $black;
  font-size: 1.8em;
  font-family: 'Inria Bold', serif;
}

.header-3 {
  font-size: 1.9em;
  text-transform: uppercase;
  color: $black;
  font-weight: 100;
  letter-spacing: 0.4em;
  line-height: 1.6;
}

.header-4 {
  font-size: 1.2em;
  color: $black;
}

.header-5 {
  color: $black;
  font-size: 1.4em;
  font-family: 'Inria Bold', serif;
  line-height: 1.8em;
}

.inria {
  font-family: 'Inria Bold', serif;
}

.info-container {
  background: $main-gradient;
  padding-bottom: 7vh;

  .content {
    padding: 5vh 20% 0 20%;
  }

  &.index-home {
    padding-top: 14vh;
  }

  &.alabaster {
    background: $alabaster;
  }
}

.card {
  width: 25%;
  min-width: 364px;
  max-width: 350px;
  padding: 6vh 3vw;
  border-radius: 30px;
  background: #fff;
  box-shadow: $main-shadow;

  &__title {
    color: $white;

    &-1 {
      font-size: 1.6em;
      letter-spacing: 0.3em;
      line-height: 1.7em;
      text-transform: uppercase;
    }

    &-2 {
      font-family: 'Inria Bold', serif;
      font-size: 1.8em;
      color: $black;
      line-height: 1.6em;

      &.purple-heart {
        color: $purple-heart
      }
    }
  }

  &__icon {
    height: 15vh;

    &.circled {
      display: flex;
      justify-content: center;
      width: 15vh;
      height: 15vh;
      margin: 3vh auto;
      border-radius: 7.5vh;
      box-shadow: inset -3px -3px 7px -4px grey, 1px 1px 14px -2px grey;

      svg {
        width: 9vh;
      }
    }
  }

  &__description {
    margin-top: 3vh;
    text-align: justify;
    font-size: 1.2em;
    line-height: 2em;
  }
}

.cards {
  &-container {
    display: flex;
    justify-content: center;
    margin: 5vh 0;

    .card {
      margin: 0 2vw;
    }
  }

  &-carousel {
    display: flex;
    justify-content: center;
    height: 58vh;
    margin: 10vh auto 10vh auto;
    padding: 1vh 40vw 6vh 40vw;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;

    .card {
      scroll-snap-align: center;
      display: none;

      &__title {
        color: $white;
        &-1 {
          font-size: 1.6em;
          letter-spacing: 0.3em;
          line-height: 1.7em;
          text-transform: uppercase;
        }

        &-2 {
          font-family: 'Inria Bold', serif;
          font-size: 1.8em;
          color: $black;
          line-height: 1.6em;

          &.purple-heart {
            color: $purple-heart
          }
        }
      }

      &__subtitle {
        font-size: 1.2em;
        font-style: italic;
      }

      &__icon {
        height: 15vh;

        &.circled {
          display: flex;
          justify-content: center;
          width: 15vh;
          height: 15vh;
          margin: 3vh auto;
          border-radius: 7.5vh;
          box-shadow: inset -3px -3px 7px -4px grey, 1px 1px 14px -2px grey;

          svg {
            width: 9vh;
          }

          &-small {
            width: 12vh;
            height: 12vh;
            border-radius: 6vh;

            svg {
              width: 6vh;
            }
          }
        }
      }

      &__description {
        margin-top: 3vh;
        text-align: justify;
        font-size: 1.2em;
        line-height: 2em;
      }

      ul {
        li {
          text-align: left;
          font-size: 1.2em;
        }
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        display: block;
      }

      &:first-child,
      &:nth-child(3) {
        z-index: 2;
        background: rgba(255, 255, 255, 0.8);
      }

      &:nth-child(2) {
        z-index: 3;
      }

      &:first-child {
        transform: translateX(50%) scale(0.8);
      }

      &:nth-child(3) {
        transform: translateX(-50%) scale(0.8);
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.description {
  text-align: center;
  font-size: 1em;
  line-height: 1.8em;

  &.justify-center {
    text-align: justify;
    text-align-last: center;
  }

  &.justify {
    text-align: justify;
  }

  &.with-padding {
    padding: 0 25%;
  }

  &.with-margin { margin: 2.5em auto; }
}

.header_2 {
  color: $main-blue;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 7vh;
}

.header_3{
  color: $main-blue;
  text-transform: uppercase;
  text-align: center;
  margin: 3vh;
  font-size: 1.25rem;
}

.container {
  padding-top: 65px;
  width: 100%;
  text-align: center;
  transition: width .5s;

  &.index {
    padding: 0;
  }
}

.logo_container{
  width: 100%;
  display: inline-block;
  perspective: 300px;

  .inner {
    transition: transform .7s;
    transform: rotateX(0) rotateY(0);
  }

  .reflection-grid-cell{
    position:absolute;
    z-index: 1;
    width: 10%;
    height: 10%;
  }
  @for $r from 1 to 11{
    @for $c from 1 to 11 {
      .reflection-grid-cell-#{( ($r*10) + $c - 10)}{
        top:($r*10%)-10%;
        left:($c*10%)-10%;
      }
      .reflection-grid-cell-#{( ($r*10) + $c - 10)}:hover ~ .inner{
        transform:rotateX((($r*-5)+25deg)) rotateY((-25deg+($c*5)));
        &:before{
          transform:translateY(25-(5%*$r));
        }
      }
    }
  }
}

.learn_more {
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, $main-violet, $main-blue);
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  padding: 10px 30px;
  cursor: pointer;
  transition: all .2s linear;
  white-space: nowrap;

  &:hover {
    box-shadow: 0px 0px 10px 1px rgba(95, 82, 202, 0.4);
    background: linear-gradient(to right, $main-blue, $main-violet);
  }
}

.spacer {
  flex: 1;
}

.spacer-15 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 15%;
}

input#menu {
  opacity: 0;
  z-index: -1;
  position: fixed;

  &:checked ~ .container {
    width: calc(100% - 20vw);

    @media screen and (max-width: 900px) {
      width: calc(100% - 25vw);
    }

    @media screen and (min-width: 1400px) {
      width: calc(100% - 15vw);
    }
  }

  &:checked + .nav-toggler {
    .first {
      transform: rotate(-45deg) translate(-6px, 6px);
    }
    .second {
      opacity: 0;
    }
    .third {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }

  &:checked ~ .nav-close {
    display: block;
  }

  &:checked ~ .navbar {
    width: 20vw;
    .items {
      align-items: flex-start;

      .item {
        .icon-link {
          padding: 0 15px;

          .item-title {
            display: none;
          }
        }

        span {
          display: block;
        }
      }
    }

    @media screen and (min-width: 1400px){
      width: 15vw;
    }

    @media screen and (max-width: 900px) {
      width: 25vw;
    }
  }
}

.item-title {
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  letter-spacing: 1px;
  border-radius: 25px 0 0 25px;
  visibility: hidden;
  opacity: 0;
  color: #5f52ca;
  transition: all .3s;
  position: fixed;
  right: 63px;
  text-align: center;
  padding: 12px 8px;
  z-index: 6;
  width: 120px;
  box-shadow: 0px 0px 10px 1px rgba(205, 159, 228, 0.3);

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.desktop-only  {
  @media (max-width: 601px){
    display: none!important;
  }
}

.mobile-only {
  @media (min-width: 600px){
    display: none!important;
  }
}

.wrap { padding: 8vh 18vw; }

.row {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .header-5 { font-size: 1em; }

  .header-3 { font-size: 1.2em; }

  .header-2 {
    max-width: 90%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 1.25em;
    line-height: 1.8;
  }

  .description {
    font-size: 0.8em;
    color: $black;
  }

  .description.with-padding { padding: 0 8%; }

  .wrap { padding: 7vh 5vh; }
}

@media (max-width: 1550px) {
  .wrap {
    padding-top: 7vh;
    padding-bottom: 7vh;
  }
}

@keyframes fill {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.flex-columns-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 990px;
  text-align: center;
  padding: 0 30px;
}

.base-content {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.title-2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 15px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.title-3 {
  font-family: 'Inria Bold', serif;
  font-size: 1.3em;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
}

.title-4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  margin: 0;
  text-align: center;
  text-transform: none;
}

@media (max-width: 1200px) {
  .top-section {
    left: -5%;
    svg { width: 140vw; }
  }
}

@media (max-width: 930px) { .main-svg { display: none;} }

@media (max-width: 768px) {
  .title-2 {
    font-size: 18px;
    letter-spacing: 9px;
   }

  .title-3 {
    font-size: 12px;
    line-height: 18px;
  }

  .title-4 {
    font-size: 12px;
    line-height: 18px;
  }

  .base-content {
    font-size: 10px;
    line-height: 15px;
  }
  .container { padding-top: 0; }
}
