---
---
@import "variables";
@import "utility";
@import "view_transitions";
@import "buttons";
@import "navbar";
@import "footer";
@import "carousel";
@import "index";
@import "about";
@import "expertise";
@import "crew";
@import "accordion";
@import "public_404";
@import "privacy_policy";
@import "faq";
@import "team";
@import "development";
@import "list-with-images";
@import "contacts";
@import "services";
@import "timeline";
@import "solutions";
@import "solutions_cases";
@import "healthcare_hipaa";
@import 'web_dev_services';
@import "taxi_and_transportation";
@import "insurtech";
@import "marketplace";
@import "ecommerce";
@import "reviews";
@import "ror_dev_services";
@import "mob_dev_services";
@import "staff_augmentation_services";
@import "project_dev_services";
@import "cards_snake_animation";
@import "blog";

@font-face {
  font-family: 'Cera Regular';
  src: url(/assets/fonts/Cera.woff2);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cera-Bold';
  src: url(/assets/fonts/Cera-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Cera-Medium';
  src: url(/assets/fonts/Cera-Medium.woff2);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inria Bold';
  src: url(/assets/fonts/InriaSerif-Bold.woff2);
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Inria Regular';
  src: url(/assets/fonts/InriaSerif-Regular.woff2);
  font-display: swap;
}

p { margin: 0; }

body {
  color: $black;
  font-family: 'Cera Regular', serif;
  -webkit-tap-highlight-color: transparent;
}

a:hover { text-decoration: none !important; }

a:visited { color: $black; }

ul, ol { margin-left: 0; }

.top-section {
  animation: fill 1s ease-out;
  left: -10%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 6vh;
  width: 100%;
  svg { width: 140vw; }
}

.white-text { color: $white !important; }

.page-title {
  position: inherit;
  margin-bottom: 50px;
  font-size: 45px;
  z-index: 1;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

.block-cera-title {
  font-family: "Cera Regular", serif;
  font-size: 30px;
  letter-spacing: 0.4em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.block-inria-title {
  font-family: "Inria Bold", serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.block-sub-title {
  font-family: "Cera Regular", serif;
  font-size: 22px;
  letter-spacing: 0.4em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.message {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 40px;
}

.inria { font-family: 'Inria Bold', serif; }

.info-container {
  background: $main-gradient;
  padding-bottom: 7vh;

  .content { padding: 5vh 20% 0 20%; }

  &.alabaster { background-color: $alabaster; }
}

.card {
  padding: 40px 30px;
  border-radius: 30px;
  background: $white;
  box-shadow: $main-shadow;

  &__title {
    color: $white;

    &-1 {
      font-size: 1.6em;
      letter-spacing: 0.3em;
      line-height: 1.7em;
      text-transform: uppercase;
    }

    &-2 {
      font-family: 'Inria Bold', serif;
      font-size: 1.8em;
      line-height: 1.6em;

      &.purple-heart { color: $purple-heart }
    }
  }

  &__icon { margin-top: 25px; }

  &__description {
    margin-top: 3vh;
    text-align: justify;
    font-size: 1.2em;
    line-height: 2em;
  }
}

.cards {
  &-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5vh 0;

    .card { margin: 0 2vw 25px; }
  }
}

.description {
  text-align: center;
  font-size: 18px;
  line-height: 1.8em;

  &.justify-center {
    text-align: justify;
    text-align-last: center;
  }
}

.text-justify { text-align: justify; }

.text-center { text-align: center; }

.container {
  padding-top: 60px;
  width: 100%;
  text-align: center;
  transition: width .5s;

  &.index { padding: 0; }
}

.desktop-only {
  @media (max-width: 767px){
    display: none!important;
  }
}

.mobile-only {
  @media (min-width: 768px){
    display: none!important;
  }
}

.wrap { padding: 8vh 0; }

@keyframes fill {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.flex-columns-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 990px;
  text-align: center;
  padding: 0 30px;
}

.purple-text { color: $purple-heart; }

.body-content {
  display: flex;
  flex-direction: column-reverse;
}

b { font-family: "Cera-Bold", serif; }

@media (max-width: 1200px) {
  .top-section {
    left: -5%;
    svg { width: 140vw; }
  }
}

@media (max-width: 930px) {
  .main-svg { display: none;}
}

@media (max-width: 767px) {
  .container { padding-top: 0; }

  .body-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar { display: none; }

    &__main-section {
      overflow-y: auto;
      overflow-x: auto;
      width: 100%;
      flex: 0 0 auto;
      position: relative;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      scrollbar-width: none;
      &::-webkit-scrollbar { display: none; }
    }

    &__navigation {
      position: relative;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }

    &__navigation-links {
      position: sticky;
      box-sizing: border-box;
      background: linear-gradient(#aa30be, #5723B5);
      top: 0;
      height: 100%;
      width: 70vw;
      padding: 5vw 0 0 10vw;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      z-index: 3;
    }
  }

  .description {
    font-size: 14px;
    color: $black;
  }

  .page-title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .block-inria-title,.block-cera-title {
    font-size: 18px;
    line-height: 23px;
  }
  .block-cera-title,.block-cera-title,.message { margin-bottom: 25px; }

  .message, .block-sub-title{
    font-size: 15px;
    line-height: 25px;
  }
}
