---
layout: blog-template
title: Blog
description: We launched this blog as a repository of helpful content shared by our experts and partners.
             A collection of articles on Ruby on Rails and add-on technologies, Agile management methodology,
             UX/UI, and web development best practices..
scripts: [blog]
category: all
pagination:
  enabled: true
---

<div class="posts">
  {% for post in paginator.posts %}
    {% assign name = post.post-id %}
    {% assign post = post %}
    {% include post_card.html%}
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination__page" href="{{ paginator.previous_page_path | relative_url }}" data-link="blog-link">&lt;</a>
    {% else %}
      <span class="pagination__page">&lt;</span>
    {% endif %}

    {% for page-num in (1..paginator.total_pages) %}
      {% if page-num == paginator.page %}
        <span class="pagination__current-page">{{ page-num }}</span>
      {% elsif page-num == 1 %}
        <a class="pagination__page" href="{{ site.paginate_path | prepend: page.collection-name | prepend: '/blog/' | replace: '/page:num', '' }}" data-link="blog-link">{{ page-num }}</a>
      {% else %}
        <a class="pagination__page" href="{{ site.paginate_path | prepend: page.collection-name | prepend: '/blog/' | replace: '//', '/' | replace: ':num', page-num }}" data-link="blog-link">{{ page-num }}</a>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <a class="pagination__page" href="{{ paginator.next_page_path | relative_url }}" data-link="blog-link">&gt;</a>
    {% else %}
      <span class="pagination__page">&gt;</span>
    {% endif %}
  </div>
{% endif %}
