---
layout: default
---

<section class="blog">
  <div class="blog__main-block blog-main">
    <div class="wrapper blog-main__header-description">
      <h1 class="header-3">{{ site.data.blog.title }}</h2>
      <h2 class="header-2">{{ site.data.blog.description }}</p>
        <ul class="blog-main__articles">
          <p class="header-3 small-text">{{ site.data.blog.articles.title }}</p>
          {% for element in site.data.blog.articles.lines %}
            <li>{{ element.description }}</li>
          {% endfor %}
        </ul>
    </div>
    <div class="wrapper blog-content">
      <div class="blog-main__navigation" style="view-transition-name: blog-main-nav;">
        <p class="header-3">Categories:</p>

        {% for nav in site.data.blog.navigation %}
          {% if nav.category == page.category %}
              {% assign active-class = 'active' %}
          {% else %}
            {% assign active-class = '' %}
          {% endif %}

          <a class="{{active-class}}" data-link="blog-link" href="{{ nav.url }}">{{ nav.title }}</a>
        {% endfor %}
      </div>
      {{ content }}
    </div>
  </div>
</section>
